@charset "utf-8";
/* CSS Document */

body { background-image:url(../imgs/fundo.jpg);
background-position:center;
background-repeat:no-repeat;
}


.container {
z-index: 1;
width: 960px;
height: 1000px;
margin-left:auto;
margin-right:auto;
}

.logotipo {
z-index: 2;
width: 220px;
height: 160px;
float:left;
}

.menu {
z-index:2;
width:740px;
height:160px;
float:right;
text-align:right;
}

.imagem {
z-index:2;
width:960px;
height:265px;
clear:both;
}

.principal {
z-index:2;
width:625px;
height:465px;
float:left;

max-width:625px;
overflow-x:hidden;

max-height:465px;
overflow-y:auto;
}

.noticias {
z-index:2;
width:335px;
height:465px;
float:right;
}

.rodape {
z-index:2;
width:960px;
height:110px;
clear:both;
}

.imgs {
float:left;
margin-right:4px;
}

.texto {
font-family:Tahoma, Geneva, sans-serif;
font-size:13px;
color:#000;
text-align:justify;
}

.BarraMenu a {
font-family:Tahoma, Geneva, sans-serif;
font-size:20px;
color:#000;
text-decoration: none;
text-align: center;
padding: 5px;
}

.BarraMenu a:hover {
color:#FFF;
background: #c07232;
text-decoration: none;
}

.titulo {
font-family: Tahoma, Geneva, sans-serif;
font-size: 18px;
color: #C30;
}