{% if noticias_list.object_list and noticias_list.paginator.num_pages > 1 %}
<span class="step-links">
    {% if noticias_list.has_previous %}
        <a href="?page={{ noticias_list.previous_page_number }}">Anterior</a>
    {% endif %}

    <span class="">
        Página {{ noticias_list.number }} de {{ noticias_list.paginator.num_pages }}.
    </span>

    {% if noticias_list.has_next %}
        <a href="?page={{ noticias_list.next_page_number }}">Próxima</a>
    {% endif %}
</span>
        {% endif %}