
" EXEMPLOS DOS TEMPLATES.HTML
## exibindo bagunçado
{{ form }}




## exibindo bagunçado
{{ form.as_p }}





## exibindo em forma de tabela, deixa um pouco mais organizado.

<table>
	<tbody>

		{{ form.as_table }}

	</tbody>
</table>

################################################################
####### exemplo do html  #######################################

<form action="#contato" class="pure-form pure-form-aligned" method="post">
    {% csrf_token %}
    <fieldset>
        {% for field in form %}
        <div class="pure-control-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endfor %}
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Enviar</button>
        </div>
    </fieldset>
</form>











 EXEMPLOS DOS FORMS.PY 
