{% extends 'loja/base.html' %}

{% block title %}Loja Virtual{% endblock %}

{% block extra_scripts %}
    {% load staticfiles %}
    <script src="{% static 'loja/js/validations.js' %}"></script>
{% endblock %}

{% block content %}
    <section class="jumbotron" onload="iniciar_valores()">
        <form action="{% url 'loja:pesquisar' %}" method="post" role="form">{% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Informe a sua forma de busca</h4>
                        <select name="search_by">
                            <option value="cantor">Cantor</option>
                            <option value="titulo">Título</option>
                            <option value="genero">Genero</option>
                        </select>
                        <input type="text" name="item" placeholder="Entre com sua pesquisa">
                    </div>
                    <div class="col-md-6">
                        <h4>Informe o valor do Disco</h4>
                        <input type="text" id="valor_minimo" name="minimo" pattern="^-?[0-9]+(\.[0-9]+)?$" placeholder="Informe o valor minimo">
                        <input type="text" id="valor_maximo" name="maximo" pattern="^-?[0-9]+(\.[0-9]+)?$" placeholder="Informe o valor máximo" onblur="validar_valores_de_busca ()">
                        <button class="btn btn-primary" type="submit" onclick="validar_valores_de_busca()"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
        </form>
    </section>
    {% if list_discos %}
        <table class="table">
            <tr>
                <th>Titulo</th>
                <th>Genero</th>
                <th>Cantor</th>
                <th>Ano lançamento</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        {% for disco in list_discos %}
            <tr>
                <td>{{ disco.titulo }}</td>
                <td>{{ disco.genero }}</td>
                <td>{{ disco.cantor }}</td>
                <td>{{ disco.ano_lancamento }}</td>
                <td>{{ disco.valor }}</td>
                <td><a class="btn btn-primary btn-sm" href="{% url 'loja:editar' disco.id %}" alt="Editar registro" title="Editar disco {{ disco.titulo }}"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
                <a class="btn btn-danger btn-sm" onclick="confirmar_exclusao({{ disco.id }})" alt="Editar remover" title="Remover disco {{ disco.titulo }}"><span class="glyphicon glyphicon-trash"></span> Remover</a></td>
            </tr>
        {% endfor %}
        </table>

        {% if list_discos.paginator.num_pages > 0 %}
        <div class="row">
            <div class="col-md-12 col-md-offset-5">
                <ul class="pagination">
                    {% if list_discos.has_previous %}
                        <li><a href="?page={{ list_discos.previous_page_number }}">&laquo;</a></li>
                    {% endif %}
                        <li><a href="#">{{ list_discos.number }} de {{ list_discos.paginator.num_pages }}</a></li>
                    {% if list_discos.has_next %}
                        <li><a href="?page={{ list_discos.next_page_number }}">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}
    {% else %}
        <h1>Não há discos cadastrados!</h1>
        <a href="{% url 'loja:cadastro' %}" alt="Cadastrar discos" title="Cadastrar discos">Clique aqui para cadastrar livros!</a>
    {% endif %}
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    function confirmar_exclusao(id) {
        resp = confirm('Deseja excluir esse disco?')

        if (resp) {
            var url = "{% url 'loja:remover' 1 %}".replace(1, id);
            window.location = url;
        }
    }
</script>
{% endblock %}
