{% load pagination_tags %}
{% include "header/h-home.html" %}
<body class="pinterna">
    {% include "header/header-interna.html" %}
    <div class="row">
        <div class="principal">

            <div class="c-left">
                <div class="bloco-categoria-blogs">
                    <div class="">
                            <div class="wapper-categoria-interna">
                                <div class="nome-categoria">
                                    <h1>Blogs</h1>
                                </div>
                                {% for publicidade in publicidade %}
                                    {% if publicidade.tipo == '2' %}
                                        <div class="publicidade-categoria">
                                            <img src="{{ MEDIA_URL }}{{ publicidade.arquivo }}">
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <div class="buscar-categoria">
                                    <span class="i-buscar"></span>
                                    <form method="get" action="busca">
                                        <input type="text" name="buscap" placeholder="Buscar">
                                    </form>
                                </div>

                                <div class="menu-categoria">
                                    {% for subcategoria in blogs %}
                                        <a href="{{ subcategoria.blog.get_absolute_url }}">
                                            <div class="m-categoria">
                                                {{ subcategoria.blog.nome }}
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                </div>
{% autopaginate noticias 10 %}
                <div class="coluna-left">
                <div class="manchete-blogs">
                    {% for manchete in noticias|slice:"0:1" %}
                        <a href="{{ manchete.get_absolute_url }}">
                            <h1>{{ manchete.titulo|truncatewords:15 }}</h1>
                        </a>
                        <p>{{ manchete.subtitulo|truncatewords:22 }}</p>
                    {% endfor %}
                </div>
                <div class="barra-manchete barra-manchete-blogs">
                    {% for manchete in noticias|slice:"1:2" %}
                        <a href="{{ manchete.get_absolute_url }}">
                            <p>
                                {{ manchete.titulo|truncatewords:10 }}
                            </p>
                        </a>
                    {% endfor %}
                </div>
                <div class="sub-noticia">
                    {% for noticia in noticias|slice:"2:3" %}
                        <div class="bloco-sub-wapper">
                            <div class="bloco-sub-noticia-blogs">
                                <a href="{{ noticia.get_absolute_url }}">
                                    <div class="limite-img">
                                        <img src="{{ noticia.imagem.url_200x150 }}">
                                    </div>

                                </a>
                                <span class="chamada-noticias">{{ noticia.blog.blog.nome }}</span>
                                <a href="{{ noticia.get_absolute_url }}">
                                    <h1>{{ noticia.titulo|truncatewords:12 }}</h1>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!--

                <div class="sub-noticia-full">
                    {% for noticia in noticias|slice:"0:1" %}
                        <div class="bloco-sub-wapper-full">
                            <div class="bloco-sub-noticia-{{ noticia.subcategoria.categoria.slugcategoria }}">
                                <a href="{{ noticia.get_absolute_url }}">
                                    <div class="limite-img-full">
                                        <img src="{{ noticia.imagemDestaque.url_383x155 }}">
                                    </div>
                                </a>
                                <a href="{{ noticia.get_absolute_url }}">
                                    <h1 class="bloco-sub-noticia-politica-titulo-manchete-sub-{{ noticia.subcategoria.categoria.slugcategoria }}">{{ noticia.titulo }}</h1>
                                </a>
                                <p>{{ noticia.subtitulo|truncatewords:19 }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                -->
                <div class="sub-noticia-full-sub">
                    {% for noticia in noticias|slice:"3:4" %}
                        <div class="bloco-sub-wapper-full" style="border-bottom: none;">
                            <div class="bloco-sub-noticia-blogs">
                                <a href="{{ noticia.get_absolute_url }}">
                                    <div class="limite-img-full-sub">
                                        <img src="{{ noticia.imagem.url_200x150 }}">
                                    </div>
                                </a>
                                <span class="chamada-noticias">{{ noticia.blog.blog.nome }}</span>
                                <a href="{{ noticia.get_absolute_url }}">
                                    <h1>{{ noticia.titulo }}</h1>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!--
                <div class="sub-noticia-full-sub">
                    {% for noticia in noticias|slice:"2:3" %}
                        <div class="bloco-sub-wapper-full" style="border-bottom: none !important;">
                            <div class="bloco-sub-noticia-{{ noticia.subcategoria.categoria.slugcategoria }}">
                                <span class="chamada-{{ noticia.subcategoria.categoria.slugcategoria }}">{{ noticia.subcategoria.nome }}</span>

                                <a href="{{ noticia.get_absolute_url }}">
                                    <h1>{{ noticia.titulo }}</h1>
                                </a>

                                <p>{{ noticia.subtitulo|truncatewords:22 }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                -->
            </div>

                <div class="coluna-center">
                <div class="slider">
                    {% for programa in noticias|slice:"4:8" %}
                        <div>
                            <div class="caption">
                                <h4>
                                    <a href="{{ programa.get_absolute_url }}">
                                        {{ programa.titulo }}
                                    </a>
                                </h4>
                            </div>
                            <a href="{{ programa.get_absolute_url }}">
                                <img src="{{ programa.imagem.url_800x600 }}" alt="{{ programa.subtitulo }}" width="400" height="335" title="{{ programa.subtitulo }}"/>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <div class="sub-noticia">
                    {% for noticia in noticias|slice:"8:10" %}
                        <div class="bloco-sub-wapper" style="border-bottom: none;">
                            <div class="bloco-sub-noticia-blogs">
                                <a href="{{ noticia.get_absolute_url }}">
                                    <div class="limite-img">
                                        <img src="{{ noticia.imagem.url_200x150 }}">
                                    </div>

                                </a>
                                <span class="chamada-noticias">{{ noticia.blog.blog.nome }}</span>
                                <a href="{{ noticia.get_absolute_url }}">
                                    <h1>{{ noticia.titulo|truncatewords:12 }}</h1>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>


            </div>

                   <div class="row-interna">
                    <div class="">
                    <div class="topo-politica">
                    <span class="categoria-blogs">NOTÍCIAS DOS BLOGS</span>

            </div>

            <div class="wapper-categoria">
                <div class="coluna-left-sub-categoria">
                    <div class="sub-noticia-full" style="margin-top: -5px !important;">
                        {% for noticia in noticias|slice:"10:" %}
                            <div class="bloco-sub-wapper-full" style="padding-bottom: 15px;margin-bottom: 10px;">
                                <div class="bloco-sub-noticia-blogs">
                                    <a href="{{ noticia.get_absolute_url }}">
                                        <div class="limite-img-full-sub-categoria">
                                            <img src="{{ noticia.imagem.url_800x600 }}">
                                        </div>
                                    </a>
                                    <a href="{{ noticia.get_absolute_url }}">
                                        <h1 class="bloco-sub-noticia-politica-titulo-manchete-sub-blogs-sub">{{ noticia.titulo }}</h1>
                                    </a>
                                    <p>{{ noticia.subtitulo|truncatewords:25 }}</p>
                                    <div class="barra-manchete-sub-categoria barra-manchete-blogs">
                                         <span class="data-publicacao">
                                             BLOG: {{ noticia.blog.blog.nome }}
                                         </span>
                                         <a href="{{ noticia.get_absolute_url }}">
                                             <span class="btn-leia">
                                                 LEIA MAIS
                                             </span>
                                         </a>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>


            </div>

                    <div id="paginac">
                            {% paginate %}
                    </div>
        </div>
                </div>
            </div>


            <div class="coluna-right">
                <div class="">
                    <div class="publicidade-home">
                        {% include "adsense/publicidade-bloco-desktop.html" %}
                    </div>
                </div>


                <div class="blogs">
                        <div class="blog-header">BLOGS</div>
                        {% for blog in blogs %}
                            <div class="blog">
                                <div class="foto-blog">
                                     <img src="{{ blog.blog.imagem_capa.url_300x225 }}" width="60">

                                </div>
                                <a href="{{ blog.blog.get_absolute_url }}">
                                    <span class="nome-blog-{{ blog.blog.cor }}">{{ blog.blog.nome }}</span>
                                </a>
                                <span class="blogueiro">{{ blog.usuario.first_name }} {{ blog.usuario.last_name }}</span>

                            </div>
                        {% endfor %}
                    </div>

                <div class="plantao" style="margin-top: 19.9px; margin-bottom: 0;">
                        <div class="plantao-wapper">
                            <span class="t-plantao">PLANTÃO</span>
                            <span class="i-watts-home">
                                    <img src="{{ STATIC_URL }}site/img/i-watts.fw.png">86.9978-4665
                             </span>
                            {% for plantao in plantao|slice:"0:7" %}
                                <div class="item-plantao">
                                    <span class="hora-plantao">
                                        {{ plantao.datapublicacao|date:'H:m' }}
                                    </span>
                                    <a href="{{ plantao.get_absolute_url }}">
                                        <h1 class="titulo-plantao">
                                            {{ plantao.titulo|truncatewords:9 }}
                                        </h1>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                <div class="mais-lidas-sidebar" style="margin-top: 19.9px;">
                                    <div class="plantao-wapper">
                                        <span class="t-lidas-sidebar">MAIS LIDAS</span>
                                        {% for plantao in lidas %}
                                            <div class="item-mais-sidebar">
                                                <span class="num-mais-lidas-sidebar">
                                                    {{ forloop.counter }}
                                                </span>
                                                <a href="{{ plantao.get_absolute_url }}">
                                                    <h1 class="titulo-mais-sidebar">
                                                        {{ plantao.titulo|truncatewords:9 }}
                                                    </h1>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>


            </div>

        </div>

    </div>

    <div class="row">

    </div>
{% include "footer/footer.html" %}