{% load pagination_tags %}
{% include "header/h-home.html" %}
<body class="pinterna">
    {% include "header/header-interna.html" %}

<div class="row">

    <div class="blog-header-{{ blog.cor }}">
        <div class="principal">
            <div class="blog-descricao">
            <div class="wapper-descricao">
                <span class="nome-blog-topo">BLOG</span>
                <a href="/blog/{{ blog.slugblog }}">
                    <div class="nome-blog-home">
                         {{ blog.nome }}
                    </div>
                </a>
                <div class="autor-blog">
                    por {{ dblog.colaborador.nome }}
                </div>
                <div class="wapper-descricao-blog">
                    <span class="watts-blog">
                        <span class="i-watts">
                            <img src="{{ STATIC_URL }}site/img/i-watts.fw.png">
                        </span>
                        {{ blog.colaborador.telefone }}
                    </span>
                    <a href="mailto:{{ blog.colaborador.email }}">
                        <span class="email-blog">
                            {{ blog.colaborador.email }}
                        </span>
                    </a>
                </div>

            </div>
            <div class="img-blog-home">
                <img src="{{ blog.imagem_capa.url_800x600 }}">
            </div>

        </div>
            <span class="chamada-interna-blog">
                <a href="/blog/{{ blog.slugblog }}">Iníco Blog {{ blog.nome }}</a>
            </span>
        </div>

    </div>
</div>

    <div class="row">
        <div class="principal">

            <div class="c-left">
                <div class="bloco-categoria-{{ blog.cor }}">
                    <div class="">
                            <div class="wapper-categoria-interna">
                                <div class="nome-categoria">
                                    <h1><span class="inactive">Buscar por:</span> {{ bus }}</h1>
                                </div>
                                <div class="buscar-categoria" style="width: 245px !important; margin-top: -5px;">

                                    <form method="get" action="{% if slugblog != '' %}/busca-blog{% else %}/busca{% endif %}">
                                        <span class="i-buscar"></span>
                                        <input placeholder="Buscar no blog" type="text" name="{% if slugblog != '' %}buscab{% else %}buscap{% endif %}">
                                        {% if slugblog != "" %}
                                            <input type="hidden" name="blog" value="{{ blog.slugblog }}">
                                        {% endif %}
                                    </form>

                                </div>

                                <div class="menu-categoria">
                                    {% for subcategoria in subcategoria %}
                                        <a href="{{ subcategoria.get_absolute_url }}">
                                            <div class="m-categoria">
                                                {{ subcategoria.nome }}
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                </div>
{% autopaginate ites 10 %}
                <div class="coluna-left">
                <div class="manchete-{{ blog.cor }}">
                    {% for manchete in ites|slice:"0:1" %}
                        <a href="{{ manchete.get_absolute_url }}">
                            <h1>{{ manchete.titulo }}</h1>
                        </a>
                        <p>{{ manchete.subtitulo|truncatewords:22 }}</p>
                    {% endfor %}
                </div>
                <div class="barra-manchete barra-manchete-{{ blog.cor }}">
                    {% for manchete in ites|slice:"1:2" %}
                        <a href="{{ manchete.get_absolute_url }}">
                            <p>
                                {{ manchete.titulo|truncatewords:10 }}
                            </p>
                        </a>
                    {% endfor %}
                </div>

                <div class="sub-noticia-full-sub" style="margin-top: 10px;">
                    {% for noticia in ites|slice:"2:5" %}
                        <div class="bloco-sub-wapper-full">
                            <div class="bloco-sub-noticia-{{ blog.cor }}">
                                <a href="{{ noticia.get_absolute_url }}">
                                    <div class="limite-img-full-sub">
                                        <img src="{{ noticia.imagem.url_800x600 }}">
                                    </div>
                                </a>
                                <span class="chamada-noticias">{{ noticia.subcategoria.nome }}</span>
                                <a href="{{ noticia.get_absolute_url }}">
                                    <h1>{{ noticia.titulo }}</h1>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="sub-noticia-full-sub">
                    {% for noticia in ites|slice:"5:6" %}
                        <div class="bloco-sub-wapper-full" style="border-bottom: none !important;">
                            <div class="bloco-sub-noticia-{{ blog.cor }}">
                                <span class="chamada-noticias">{{ noticia.subcategoria.nome }}</span>

                                <a href="{{ noticia.get_absolute_url }}">
                                    <h1>{{ noticia.titulo }}</h1>
                                </a>
                                <!--
                                <p>{{ noticia.subtitulo|truncatewords:22 }}</p>-->
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

                <div class="coluna-center">
                <div class="slider">
                    {% for programa in ites|slice:"6:10" %}
                        <div>
                            <div class="caption">
                                <h4>
                                    <a href="{{ programa.get_absolute_url }}">
                                        {{ programa.titulo }}
                                    </a>
                                </h4>
                            </div>
                            <a href="{{ programa.get_absolute_url }}">
                                <img src="{{ programa.imagem.url_800x600 }}" alt="{{ programa.subtitulo }}" width="400" height="335" title="{{ programa.subtitulo }}"/>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <div class="sub-noticia">
                    {% for noticia in ites|slice:"10:12" %}
                        <div class="bloco-sub-wapper" style="border-bottom: none;">
                            <div class="bloco-sub-noticia-{{ blog.cor }}">
                                <a href="{{ noticia.get_absolute_url }}">
                                    <div class="limite-img">
                                        <img src="{{ noticia.imagem.url_800x600 }}">
                                    </div>

                                </a>
                                <a href="{{ noticia.get_absolute_url }}">
                                    <h1>{{ noticia.titulo|truncatewords:12 }}</h1>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>



            </div>

                <div class="row-interna">
                    <div class="">
                    <div class="topo-politica">
                    <span class="categoria-{{ blog.cor }}">NOTÍCIAS {{ subcat.nome }}</span>
            </div>

            <div class="wapper-categoria">
                <div class="coluna-left-sub-categoria">
                    <div class="sub-noticia-full" style="margin-top: -5px !important;">
                        {% for noticia in ites|slice:"12:" %}
                            <div class="bloco-sub-wapper-full" style="padding-bottom: 15px;margin-bottom: 10px;">
                                <div class="bloco-sub-noticia-{{ blog.cor }}">
                                    <a href="{{ noticia.get_absolute_url }}">
                                        <div class="limite-img-full-sub-categoria">
                                            <img src="{{ noticia.imagem.url_800x600 }}">
                                        </div>
                                    </a>
                                    <a href="{{ noticia.get_absolute_url }}">
                                        <h1 class="bloco-sub-noticia-politica-titulo-manchete-sub-{{ blog.cor }}">{{ noticia.titulo }}</h1>
                                    </a>
                                    <p>{{ noticia.subtitulo|truncatewords:25 }}</p>
                                    <div class="barra-manchete-sub-categoria barra-manchete-noticias">
                                         <span class="data-publicacao">
                                             {{ noticia.datapublicacao }}
                                         </span>
                                         <a href="{{ noticia.get_absolute_url }}">
                                             <span class="btn-leia">
                                                 LEIA MAIS
                                             </span>
                                         </a>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>


            </div>

                    <div id="paginac">
                            {% paginate %}
                    </div>
        </div>
                </div>
            </div>


            <div class="coluna-right">
                <div class="">
                    <div class="publicidade-home">
                        {% include "adsense/publicidade-bloco-desktop.html" %}
                    </div>
                </div>

                <div class="mais-lidas-sidebar">
                                    <div class="plantao-wapper">
                                        <span class="t-lidas-sidebar">MAIS LIDAS</span>
                                        {% for plantao in lidas %}
                                            <div class="item-mais-sidebar">
                                                <span class="num-mais-lidas-sidebar">
                                                    {{ forloop.counter }}
                                                </span>
                                                <a href="{{ plantao.get_absolute_url }}">
                                                    <h1 class="titulo-mais-sidebar">
                                                        {{ plantao.titulo|truncatewords:9 }}
                                                    </h1>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
            </div>

        </div>

    </div>

    <div class="row">

    </div>
{% include "footer/footer.html" %}