{% include "header/h-home.html" %}
<body>
    {% include "header/header-home.html" %}
    <div class="row">
        <div class="principal">

            <div class="c-left">
                <div class="bloco-categoria-{{ slugcategoria }}">
                    <div class="">
                            <div class="wapper-categoria-interna">
                                <div class="nome-categoria">
                                    <h1>{{ cat.nome }}</h1>
                                </div>
                                {% for publicidade in publicidade %}
                                    {% if publicidade.tipo == '2' %}
                                        <div class="publicidade-categoria">
                                            <a href="{{ publicidade.url }}" target="_blank">
                                                <img src="{{ MEDIA_URL }}{{ publicidade.arquivo }}">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <div class="buscar-categoria">
                                    <span class="i-buscar"></span>
                                    <form method="get" action="busca">
                                        <input type="text" name="buscap" placeholder="Buscar">
                                    </form>
                                </div>

                                <div class="menu-categoria">
                                    {% for subcategoria in subcategoria %}
                                        <a href="{{ subcategoria.get_absolute_url }}">
                                            <div class="m-categoria">
                                                {{ subcategoria.nome }}
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                </div>

                <div class="coluna-left">
                <div class="manchete-{{ slugcategoria }}">
                    {% for manchete in noticias|slice:"0:1" %}
                        <a href="{{ manchete.get_absolute_url }}">
                            <h1>{{ manchete.titulo|truncatewords:11 }}</h1>
                        </a>
                        <p>{{ manchete.subtitulo|truncatewords:22 }}</p>
                    {% endfor %}
                </div>
                <div class="barra-manchete barra-manchete-{{ slugcategoria }}">
                    {% for manchete in noticias|slice:"1:2" %}
                        <a href="{{ manchete.get_absolute_url }}">
                            <p>
                                {{ manchete.titulo|truncatewords:10 }}
                            </p>
                        </a>
                    {% endfor %}
                </div>
                <div class="sub-noticia">
                    {% for noticia in noticias|slice:"2:3" %}
                        <div class="bloco-sub-wapper">
                            <div class="bloco-sub-noticia-{{ noticia.subcategoria.categoria.slugcategoria }}">
                                <a href="{{ noticia.get_absolute_url }}">
                                    <div class="limite-img">
                                        <img src="{{ noticia.imagemDestaque.url_291x165 }}">
                                    </div>

                                </a>
                                <a href="{{ noticia.get_absolute_url }}">
                                    <h1>{{ noticia.titulo|truncatewords:12 }}</h1>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="sub-noticia-full">
                    {% for noticia in noticias|slice:"3:4" %}
                        <div class="bloco-sub-wapper-full">
                            <div class="bloco-sub-noticia-{{ noticia.subcategoria.categoria.slugcategoria }}">
                                <a href="{{ noticia.get_absolute_url }}">
                                    <div class="limite-img-full">
                                        <img src="{{ noticia.imagemDestaque.url_383x155 }}">
                                    </div>
                                </a>
                                <a href="{{ noticia.get_absolute_url }}">
                                    <h1 class="bloco-sub-noticia-politica-titulo-manchete-sub-{{ noticia.subcategoria.categoria.slugcategoria }}">{{ noticia.titulo }}</h1>
                                </a>
                                <p>{{ noticia.subtitulo|truncatewords:19 }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="sub-noticia-full-sub">
                    {% for noticia in noticias|slice:"4:5" %}
                        <div class="bloco-sub-wapper-full">
                            <div class="bloco-sub-noticia-{{ noticia.subcategoria.categoria.slugcategoria }}">
                                <a href="{{ noticia.get_absolute_url }}">
                                    <div class="limite-img-full-sub">
                                        <img src="{{ noticia.imagemDestaque.url_383x155 }}">
                                    </div>
                                </a>
                                <span class="chamada-{{ noticia.subcategoria.categoria.slugcategoria }}">{{ noticia.subcategoria.nome }}</span>
                                <a href="{{ noticia.get_absolute_url }}">
                                    <h1>{{ noticia.titulo }}</h1>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="sub-noticia-full-sub">
                    {% for noticia in noticias|slice:"5:6" %}
                        <div class="bloco-sub-wapper-full" style="border-bottom: none !important;">
                            <div class="bloco-sub-noticia-{{ noticia.subcategoria.categoria.slugcategoria }}">
                                <span class="chamada-{{ noticia.subcategoria.categoria.slugcategoria }}">{{ noticia.subcategoria.nome }}</span>

                                <a href="{{ noticia.get_absolute_url }}">
                                    <h1>{{ noticia.titulo }}</h1>
                                </a>

                                <p>{{ noticia.subtitulo|truncatewords:22 }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

                <div class="coluna-center">
                <div class="slider">
                    {% for programa in noticias|slice:"6:7" %}
                        <div>
                            <div class="caption">
                                <h4>
                                    <a href="{{ programa.get_absolute_url }}">
                                        {{ programa.titulo }}
                                    </a>
                                </h4>
                            </div>
                            <a href="{{ programa.get_absolute_url }}">
                                <img src="{{ programa.imagemDestaque.url_800x600 }}" alt="{{ programa.subtitulo }}" width="400" height="335" title="{{ programa.subtitulo }}"/>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <div class="sub-noticia">
                    {% for noticia in noticias|slice:"7:9" %}
                        <div class="bloco-sub-wapper">
                            <div class="bloco-sub-noticia-{{ noticia.subcategoria.categoria.slugcategoria }}">
                                <a href="{{ noticia.get_absolute_url }}">
                                    <div class="limite-img">
                                        <img src="{{ noticia.imagemDestaque.url_291x165 }}">
                                    </div>

                                </a>
                                <a href="{{ noticia.get_absolute_url }}">
                                    <h1>{{ noticia.titulo|truncatewords:12 }}</h1>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="sub-noticia" style="margin-top: 8px;">
                    {% for noticia in noticias|slice:"9:11" %}
                        <div class="bloco-sub-wapper">
                            <div class="bloco-sub-noticia-{{ noticia.subcategoria.categoria.slugcategoria }}">
                                <a href="{{ noticia.get_absolute_url }}">
                                    <div class="limite-img">
                                        <img src="{{ noticia.imagemDestaque.url_291x165 }}">
                                    </div>

                                </a>
                                <a href="{{ noticia.get_absolute_url }}">
                                    <h1>{{ noticia.titulo|truncatewords:12 }}</h1>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="sub-noticia-full-sub">
                    {% for noticia in noticias|slice:"11:12" %}
                        <div class="bloco-sub-wapper-full" style="padding-bottom: 14px;margin-bottom: 9px;margin-top: -1px;">
                            <div class="bloco-sub-noticia-{{ noticia.subcategoria.categoria.slugcategoria }}">
                                <span class="chamada-{{ noticia.subcategoria.categoria.slugcategoria }}">{{ noticia.subcategoria.nome }}</span>

                                <a href="{{ noticia.get_absolute_url }}">
                                    <h1>{{ noticia.titulo }}</h1>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="sub-noticia-full">
                    {% for noticia in noticias|slice:"12:13" %}
                        <div class="bloco-sub-wapper-full" style="border-bottom: none;">
                            <div class="bloco-sub-noticia-{{ noticia.subcategoria.categoria.slugcategoria }}">
                                <a href="{{ noticia.get_absolute_url }}">
                                    <div class="limite-img-full">
                                        <img src="{{ noticia.imagemDestaque.url_383x155 }}">
                                    </div>
                                </a>
                                <span class="chamada-{{ noticia.subcategoria.categoria.slugcategoria }}">{{ noticia.subcategoria.nome }}</span>

                                <a href="{{ noticia.get_absolute_url }}">
                                    <h1 class="bloco-sub-noticia-politica-titulo-manchete-sub-{{ noticia.subcategoria.categoria.slugcategoria }}">{{ noticia.titulo }}</h1>
                                </a>
                                <p>{{ noticia.subtitulo|truncatewords:19 }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>


            </div>

                <div class="row-interna">
                    <div class="">
                    <div class="topo-politica">
                    <span class="categoria-{{ slugcategoria }}">MAIS NOTÍCIAS</span>
                    <a href="/politica">
                        <span class="btn-mais-{{ slugcategoria }}">VER MAIS</span>
                    </a>
                    <div class="tags">
                        <span class="ass">ASSUNTOS:</span>
                        <a href="#">
                            <span class="assunto">#SocorroWaquin</span>
                        </a>
                        <a href="#">
                            <span class="assunto">#AlexandreAlmeida</span>
                        </a>
                        <a href="#">
                            <span class="assunto">#ChicoLeitoa</span>
                        </a>
                    </div>
            </div>

            <div class="wapper-categoria">
                <div class="coluna-left">
                    <div class="sub-noticia-full" style="margin-top: -9px !important;">
                        {% for noticia in noticias|slice:"13:14" %}
                            <div class="bloco-sub-wapper-full">
                                <div class="bloco-sub-noticia-{{ noticia.subcategoria.categoria.slugcategoria }}">
                                    <a href="{{ noticia.get_absolute_url }}">
                                        <div class="limite-img-full">
                                            <img src="{{ noticia.imagemDestaque.url_383x155 }}">
                                        </div>
                                    </a>
                                    <a href="{{ noticia.get_absolute_url }}">
                                        <h1 class="bloco-sub-noticia-politica-titulo-manchete-sub-{{ noticia.subcategoria.categoria.slugcategoria }}">{{ noticia.titulo }}</h1>
                                    </a>
                                    <p>{{ noticia.subtitulo }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% for noticia in noticias|slice:"0:5" %}
                        <div class="sub-noticia-full-sub">

                            <div class="bloco-sub-wapper-full">
                                <div class="bloco-sub-noticia-{{ noticia.subcategoria.categoria.slugcategoria }}">
                                    <a href="{{ noticia.get_absolute_url }}">
                                        <div class="limite-img-full-sub">
                                            <img src="{{ noticia.imagemDestaque.url_383x155 }}">
                                        </div>
                                    </a>
                                    <span class="chamada-{{ noticia.subcategoria.categoria.slugcategoria }}">{{ noticia.subcategoria.nome }}</span>
                                    <a href="{{ noticia.get_absolute_url }}">
                                        <h1>{{ noticia.titulo }}</h1>
                                    </a>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                {% for noticia in noticias|slice:"5:6" %}
                        <div class="sub-noticia-full-sub">

                            <div class="bloco-sub-wapper-full">
                                <div class="bloco-sub-noticia-{{ noticia.subcategoria.categoria.slugcategoria }}">
                                    <span class="chamada-{{ noticia.subcategoria.categoria.slugcategoria }}">{{ noticia.subcategoria.nome }}</span>
                                    <a href="{{ noticia.get_absolute_url }}">
                                        <h1>{{ noticia.titulo }}</h1>
                                    </a>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>

                <div class="coluna-center-home-categoria">
                    <div class="manchete-{{ slugcategoria }}-home">
                        {% for manchete in noticias|slice:"0:1" %}
                            <a href="{{ manchete.get_absolute_url }}">
                                <h1>{{ manchete.titulo }}</h1>
                            </a>
                            <p>{{ manchete.subtitulo|truncatewords:22 }}</p>
                        {% endfor %}
                    </div>
                    <div class="barra-manchete" style="margin-bottom: 19px">
                        {% for manchete in noticias|slice:"1:2" %}
                            <a href="{{ manchete.get_absolute_url }}">
                                <p>
                                    {{ manchete.titulo|truncatewords:10 }}
                                </p>
                            </a>
                        {% endfor %}
                    </div>

                     <div class="sub-noticia" style="margin-top: 0 !important;">
                    {% for noticia in noticias|slice:"0:2" %}
                        <div class="bloco-sub-wapper">
                            <div class="bloco-sub-noticia-{{ noticia.subcategoria.categoria.slugcategoria }}">
                                <a href="{{ noticia.get_absolute_url }}">
                                    <div class="limite-img">
                                        <img src="{{ noticia.imagemDestaque.url_291x165 }}">
                                    </div>
                                    <span class="chamada-{{ noticia.subcategoria.categoria.slugcategoria }}">{{ noticia.subcategoria.nome }}</span>
                                </a>
                                <a href="{{ noticia.get_absolute_url }}">
                                    <h1>{{ noticia.titulo|truncatewords:12 }}</h1>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                                {% for noti in noticias|slice:"0:4" %}
                                    <div class="sub-noticia-full-sub-interna">

                                        <div class="bloco-sub-wapper-full">
                                            <div class="bloco-sub-noticia-{{ noti.subcategoria.categoria.slugcategoria }}">
                                                <a href="{{ noti.get_absolute_url }}">
                                                    <div class="limite-img-full-sub">
                                                        <img src="{{ noti.imagemDestaque.url_383x155 }}">
                                                    </div>
                                                </a>
                                                <span class="chamada-{{ noti.subcategoria.categoria.slugcategoria }}">{{ noti.subcategoria.categoria.nome }}</span>
                                                <a href="{{ noti.get_absolute_url }}">
                                                    <h1>{{ noti.titulo }}</h1>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                {% endfor %}
                            </div>

            </div>
        </div>
                </div>
            </div>


            <div class="coluna-right">
                <div class="sidebar">
                    <div class="publicidade-home">
                        {% include "adsense/publicidade-bloco-desktop.html" %}
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row">

    </div>
{% include "footer/footer.html" %}