{% include "header/h-interna.html" %}
<body class="pinterna">
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=229259297264129&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    {% include "header/header-interna.html" %}

<div class="row bg-{{ slugcategoria }}">
        <div class="bg-{{ slugcategoria }}-color">
            <div class="principal">
                <div class="bloco-categoria-{{ slugcategoria }}">
                        <div class="">
                                <div class="wapper-categoria-interna">
                                    <div class="nome-categoria">

                                        {% if noticia.time != null %}
                                            <a href="/{{ noticia.subcategoria.categoria.slugcategoria }}/{{ noticia.subcategoria.slugsubcategoria }}/times/{{ noticia.time.slugtime }}">
                                                <h1 class="time-{{ noticia.time.cor.slugcor }}">{{ noticia.time.nome }}</h1>
                                            </a>
                                        {% else %}
                                            <a href="/{{ slugcategoria }}">
                                                <h1 class="inactive">{{ noticia.subcategoria.categoria.nome }}</h1>
                                            </a>
                                            <a href="/{{ slugcategoria }}/{{ slugsubcategoria }}">
                                                <h1>{{ noticia.subcategoria.nome }}</h1>
                                            </a>
                                        {% endif %}
                                        <div class="menu-cat">
                                            <div class="column">
                                                <div id="dl-menu" class="dl-menuwrapper">
                                                    <button class="dl-trigger">Menu</button>
                                                    <ul class="dl-menu">
                                                        {% for sub in subcategoria %}
                                                            <li>
                                                                <a href="{{ sub.get_absolute_url }}">{{ sub.nome }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div><!-- /dl-menuwrapper -->
                                            </div>
                                        </div>

                                    </div>

                                    {% for publicidade in publicidade %}
                                        {% if publicidade.tipo == '2' %}
                                            <div class="publicidade-categoria">
                                                <a href="{{ publicidade.url }}" target="_blank">
                                                    <img src="{{ MEDIA_URL }}{{ publicidade.arquivo }}">
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <!--
                                    <div class="buscar-categoria">
                                        <span class="i-buscar"></span>
                                        <form method="get" action="busca">
                                            <input type="text" name="buscap" placeholder="Buscar">
                                        </form>
                                    </div>


                                    <div class="menu-categoria">
                                        {% for subcategoria in subcategoria|slice:"0:8" %}
                                            <a href="{{ subcategoria.get_absolute_url }}">
                                                <div class="m-categoria">
                                                    {{ subcategoria.nome }}
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                    -->
                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!--
        <div class="bloco-categoria-{{ noticia.subcategoria.categoria.slugcategoria }}">
                    <div class="principal">
                            <div class="wapper-categoria-interna">
                                <div class="nome-categoria">
                                    {% if noticia.time != null %}
                                        <a href="/{{ noticia.subcategoria.categoria.slugcategoria }}/{{ noticia.subcategoria.slugsubcategoria }}/times/{{ noticia.time.slugtime }}">
                                            <h1 class="time-{{ noticia.time.cor.slugcor }}">{{ noticia.time.nome }}</h1>
                                        </a>
                                    {% else %}
                                        <a href="/{{ slugcategoria }}">
                                            <h1>{{ noticia.subcategoria.categoria.nome }}</h1>
                                        </a>
                                        <a href="/{{ slugcategoria }}/{{ slugsubcategoria }}">
                                            <h1 class="inactive-interna">{{ noticia.subcategoria.nome }}</h1>
                                        </a>
                                    {% endif %}

                                </div>
                                {% for publicidade in publicidade %}
                                    {% if publicidade.tipo == '2' %}
                                        <div class="publicidade-categoria">
                                            <a href="{{ publicidade.url }}" target="_blank">
                                                <img src="{{ MEDIA_URL }}{{ publicidade.arquivo }}">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <div class="menu-categoria">
                                    {% if noticia.time != null %}
                                        <a href="/{{ slugcategoria }}/{{ slugsubcategoria }}/times/{{ slugtime }}">
                                               <div class="m-categoria">
                                                        NOTÍCIAS DO {{ noticia.time.nome }}
                                               </div>
                                        </a>
                                    {% else %}
                                        {% for subcategoria in subcategoria|slice:"0:11" %}
                                            <a href="{{ subcategoria.get_absolute_url }}">
                                                    <div class="m-categoria">
                                                        {{ subcategoria.nome }}
                                                    </div>
                                                </a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                </div>
        -->
        <div class="principal">



            <div class="coluna-interna-{{ noticia.subcategoria.categoria.slugcategoria }}">



                <div class="header-interna">
                    <!--
                    <span class="chamada-interna">Inicio /
                        <a href="">{{ noticia.subcategoria.nome }}</a> /
                        <a href="">{{ noticia.subcategoria.categoria.nome }}</a>

                    </span>-->
                    <h1 class="t-{{ noticia.time.cor.slugcor }}">{{ noticia.titulo }}</h1>
                    <p>{{ noticia.subtitulo }}</p>
                    <div class="barra-detalhes-interna">
                        <a href="{{ noticia.link }}" target="_blank">
                            <span class="autor-nome">Fonte: {{ noticia.fonte.nome }}</span>
                        </a>
                        <span class="autor-nome">Publicado Por: {{ noticia.autor.nome }}</span>
                        <div class="social-widgets">
                            <div style="margin-top: 8px; margin-left: 14px;width: auto; float: right;">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-via="timondiario">Tweet</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                            </div>
                                <!-- Posicione esta tag onde você deseja que o botão +1 apareça. -->
                            <div style="margin-top: 7px; margin-left: 14px;width: 70px; float: right;">

                                <div class="g-plusone"></div>
                            </div>
                            <div style="margin-top: 9px; width: auto; float: right;">
                            <div class="fb-like" data-href="http://timondiario.com{{ noticia.get_absolute_url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                            </div>
                            </div>
                    </div>
                </div>

                <div class="conteudo-interna">
                    {% if slugcategoria != 'videos' %}
                        <div class="publicidade-interna">
                             {% include "adsense/publicidade-bloco-desktop.html" %}
                        </div>

                        <div class="imagem-principal-interna">
                            <img src="{{ noticia.imagemDestaque.url_800x600 }}">
                        </div>

                    {% endif %}

                    <span class="texto-principal">
                    {{ noticia.conteudo|safe }}
                    </span>


                    <div class="publicidade-wapper">
                         {% include "adsense/publicidade-footer-noticia.html" %}
                    </div>




                    <div class="painel-comentarios">
                        <div class="topo-comentario">
                            <span class="comentario-{{ noticia.subcategoria.categoria.slugcategoria }}">COMENTÁRIOS</span>
                        </div>

                        <div class="wapper-comentario">
                                <div id="disqus_thread"></div>
                                <script type="text/javascript">
                                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                                    var disqus_shortname = 'timondiario'; // required: replace example with your forum shortname

                                    /* * * DON'T EDIT BELOW THIS LINE * * */
                                    (function() {
                                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                    })();
                                </script>
                                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

                        </div>
                    </div>

                    <div class="painel-comentarios">

                        <div class="publicidade-movel">
                            {% include "adsense/publicidade-mobile.html" %}
                        </div>

                        <div class="topo-comentario">
                            <span class="relacionadas-{{ noticia.subcategoria.categoria.slugcategoria }}">NOTÍCIAS RELACIONADAS</span>
                        </div>

                        <div class="wapper-categoria">
                            <div class="rel-itens">
                                {% for relacionada in relacionada|slice:"0:4" %}
                                    {% if relacionada.slugnoticia != slugnoticia %}
                                        <div class="r-item-{{ noticia.subcategoria.categoria.slugcategoria }}">
                                            <div class="limite-img">
                                                <a href="{{ relacionada.get_absolute_url }}">
                                                    <img src="{{ relacionada.imagemDestaque.url_383x155 }}">
                                                </a>
                                            </div>
                                            <a href="{{ relacionada.get_absolute_url }}">
                                                <h1>{{ relacionada.titulo }}</h1>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="coluna-left">

                            </div>

                            <div class="coluna-right">

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            {% include "sidebar/sidebar-interna.html" %}

        </div>

    </div>

   <div class="row">
        <div class="principal">
            <div class="wapper-categoria">
                            <div class="topo-comentario-interna">
                                <span class="relacionadas-noticias">NOTÍCIAS</span>
                                <a href="/noticias">
                                    <span class="btn-mais-noticias">VER MAIS</span>
                                </a>
                                <!--
                                <div class="tags">
                                    <span class="ass">ASSUNTOS:</span>
                                    <a href="#">
                                        <span class="assunto-noticias">#SocorroWaquin</span>
                                    </a>
                                    <a href="#">
                                        <span class="assunto-noticias">#AlexandreAlmeida</span>
                                    </a>
                                    <a href="#">
                                        <span class="assunto-noticias">#ChicoLeitoa</span>
                                    </a>
                                </div>
                                -->
                            </div>
                            <div class="coluna-left-interna">
                                <div class="sub-noticia-full-interna">
                                    {% for noti in noticias|slice:"0:1" %}
                                        <div class="bloco-sub-wapper-full">
                                            <div class="bloco-sub-noticia-noticias">
                                                <a href="{{ noti.get_absolute_url }}">
                                                    <div class="limite-img-full">
                                                        <img src="{{ noti.imagemDestaque.url_383x155 }}">
                                                    </div>
                                                </a>
                                                <a href="{{ noti.get_absolute_url }}">
                                                    <h1 class="bloco-sub-noticia-noticias-titulo">{{ noti.titulo }}</h1>
                                                </a>
                                                <p>{{ noti.subtitulo }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                {% for noticia in noticias|slice:"1:2" %}
                                    <div class="sub-noticia-full-sub">

                                        <div class="bloco-sub-wapper-full">
                                            <div class="bloco-sub-noticia-noticias">
                                                <span class="chamada-politica">{{ noticia.subcategoria.categoria.nome }}</span>
                                                <a href="{{ noticia.get_absolute_url }}">
                                                    <h1>{{ noticia.titulo }}</h1>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                {% endfor %}
                            </div>

                            <div class="coluna-center-interna">
                                {% for noti in noticias|slice:"2:5" %}
                                    <div class="sub-noticia-full-sub-interna">

                                        <div class="bloco-sub-wapper-full">
                                            <div class="bloco-sub-noticia-noticias">
                                                <a href="{{ noti.get_absolute_url }}">
                                                    <div class="limite-img-full-sub">
                                                        <img src="{{ noti.imagemDestaque.url_383x155 }}">
                                                    </div>
                                                </a>
                                                <span class="chamada-{{ noti.subcategoria.categoria.slugcategoria }}">{{ noti.subcategoria.categoria.nome }}</span>
                                                <a href="{{ noti.get_absolute_url }}">
                                                    <h1>{{ noti.titulo }}</h1>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                {% endfor %}
                            </div>

                            <div class="coluna-right">
                                <div class="publicidade-right-interna">
                                    {% include "adsense/publicidade-bloco-desktop.html" %}
                                </div>
                            </div>
                        </div>
        </div>
    </div>
{% include "footer/footer.html" %}