{% load pagination_tags %}
{% include "header/h-home.html" %}
<body class="pinterna">
    {% include "header/header-interna.html" %}
    <div class="row">
        <div class="principal">

            <div class="c-left">
                <div class="bloco-categoria-esportes-{{ team.cor.slugcor }}">
                    <div class="">
                            <div class="wapper-categoria-interna">
                                <div class="nome-categoria">
                                    <span class="escudo-interna">
                                        <a href="/esportes/futebol/times/{{ slugtime }}">
                                            <img src="{{ team.escudo.url_73x73 }}">
                                        </a>
                                    </span>
                                    <a href="/esportes/futebol/times/{{ slugtime }}">
                                        <h1>{{ team.nome }}</h1>
                                    </a>

                                </div>
                                {% for publicidade in publicidade %}
                                    {% if publicidade.tipo == '2' %}
                                        <div class="publicidade-categoria">
                                            <a href="{{ publicidade.url }}" target="_blank">
                                                <img src="{{ MEDIA_URL }}{{ publicidade.arquivo }}">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <div class="buscar-categoria">
                                    <span class="i-buscar"></span>
                                    <form method="get" action="busca">
                                        <input type="text" name="buscap" placeholder="Buscar">
                                    </form>
                                </div>

                                <div class="menu-categoria">
                                    <a href="{{ team.site }}" target="_blank">
                                            <a href="/esportes/futebol/times/{{ team.slugtime }}">
                                                <div class="m-categoria">
                                                    HOME {{ team.nome }}
                                                </div>
                                            </a>
                                            <a href="{{ team.site }}">
                                            <div class="m-categoria">
                                                SITE OFICIAL
                                            </div>
                                            </a>
                                            <div class="m-categoria">
                                                HISTÓRIA
                                            </div>
                                            <a href="#">
                                                <div class="m-categoria">
                                                    MAIS NOTÍCIAS
                                                </div>
                                            </a>
                                            <div class="m-categoria">
                                                TÍTULOS
                                            </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row-interna" style="margin-top: 0;">
                    <div class="">
                        {% autopaginate noticias 10 %}
                        <div class="wapper-categoria" style="margin-top: 0">
                            <div class="coluna-left-sub-categoria">
                                <div class="sub-noticia-full" style="margin-top: -5px !important;">
                                    {% for noticia in noticias %}
                                        <div class="bloco-sub-wapper-full" style="padding-bottom: 15px;margin-bottom: 10px;">
                                            <div class="bloco-sub-noticia-esportes-{{ team.cor.slugcor }}">
                                                <a href="{{ noticia.get_absolute_url }}">
                                                    <div class="limite-img-full-sub-categoria">
                                                        <img src="{{ noticia.imagemDestaque.url_383x155 }}">
                                                    </div>
                                                </a>
                                                <a href="{{ noticia.get_absolute_url }}">
                                                    <h1 class="bloco-sub-noticia-politica-titulo-manchete-sub-{{ noticia.subcategoria.categoria.slugcategoria }}-sub-{{ team.cor.slugcor }}">{{ noticia.titulo }}</h1>
                                                </a>
                                                <p>{{ noticia.subtitulo|truncatewords:25 }}</p>
                                                <div class="barra-manchete-sub-categoria barra-manchete-{{ slugcategoria }}">
                                                     <span class="data-publicacao">
                                                         {{ noticia.datapublicacao }}
                                                     </span>
                                                     <a href="{{ noticia.get_absolute_url }}">
                                                         <span class="btn-leia">
                                                             LEIA MAIS
                                                         </span>
                                                     </a>

                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>


                        </div>

                        <div id="paginac">
                                {% paginate %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="coluna-right">
                <div class="">
                    <div class="publicidade-home">
                        <div class="publicidade-interna">
                                {% include "adsense/publicidade-bloco-desktop.html" %}
                            </div>
                    </div>
                </div>

                <div class="times-interna">
                        <div class="times-header">SELECIONE SEU TIME</div>
                            <div class="times">
                                {% for time in teams %}
                                    <a href="{{ time.get_absolute_url }}">
                                        <div class="escudo-time">
                                             <img src="{{ time.escudo.url_73x73 }}" width="35">
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                    </div>

                <div class="mais-lidas-sidebar">
                                    <div class="plantao-wapper">
                                        <span class="t-lidas-sidebar">MAIS LIDAS</span>
                                        {% for plantao in lidas %}
                                            <div class="item-mais-sidebar">
                                                <span class="num-mais-lidas-sidebar">
                                                    {{ forloop.counter }}
                                                </span>
                                                <a href="{{ plantao.get_absolute_url }}">
                                                    <h1 class="titulo-mais-sidebar">
                                                        {{ plantao.titulo|truncatewords:9 }}
                                                    </h1>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
            </div>

        </div>

    </div>

    <div class="row">

    </div>
{% include "footer/footer.html" %}