{% if ads_bot_all %}
    <div class="widget bannerwidget">
        <div class="widget-125 clearfix">
            {% for ads in ads_bot_all %}
            {% if ads.link %}<a href="{{ ads.link }}" target="_blank"><img src="{{ MEDIA_URL }}{{ ads.arquivo }}" alt="{{ ads.nome }}"/></a>
            {% else %}<a href="#" target="_blank"><img src="{{ MEDIA_URL }}{{ ads.arquivo }}" alt="{{ ads.nome }}"/>{% endif %}
            {% endfor %}
        </div>
    </div>
{% else %}
    <div class="widget bannerwidget">
        <div class="widget-125 clearfix">
            <a href="#" target="_blank"><img src="http://placehold.it/125x125" alt=""/></a>
            <a href="#" target="_blank"><img src="http://placehold.it/125x125" alt=""/></a>
            <a href="#" target="_blank"><img src="http://placehold.it/125x125" alt=""/></a>
            <a href="#" target="_blank"><img src="http://placehold.it/125x125" alt=""/></a>
      </div>
    </div>
{% endif %}