
<div class="row">
        <div class="principal">
            <div class="header">
                <div class="header-interna-topo">
                    <div class="logo">
                        <a href="/">
                            <img src="{{ STATIC_URL }}site/img/logo-home.fw.png">
                        </a>
                    </div>



                    <div class="publicidade-top">
                        {% for publicidade in publicidade %}
                            {% if publicidade.tipo == "2" %}

                                {% if publicidade.patrocinado %}
                                    <a href="{{ publicidade.get_absolute_url }}">
                                        <img src="{{ MEDIA_URL }}{{ publicidade.arquivo }}">
                                    </a>
                                {% else %}
                                    <a href="{{ publicidade.url }}" target="_blank">
                                        <img src="{{ MEDIA_URL }}{{ publicidade.arquivo }}">
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="widget-top">
                        {% for blog in blogueiras|slice:"0:1" %}
                            <a href="{{ blog.blog.get_absolute_url }}">
                                <div class="widget-item-blog">
                                    <span class="w-nome-blog-{{ blog.blog.cor }}">
                                        {{ blog.blog.nome }}
                                    </span>
                                    <span class="w-nome-blog-autor">
                                        {{ blog.colaborador.nome }}
                                    </span>
                                    <span class="w-foto-blog">
                                        <img src="{{ blog.blog.imagem_capa.url_300x225 }}" width="56">
                                    </span>
                                </div>
                            </a>
                        {% endfor %}

                        <div class="widget-item">
                            <span class="i-tempo">
                                <img src="{{ STATIC_URL }}site/img/i-tempo.fw.png">
                            </span>
                            <span class="cidade-w">
                                Timon-MA
                            </span>
                            <span class="t-minima">
                                27º
                            </span>
                            <span class="t-maxima">
                                31º
                            </span>
                        </div>

                    </div>
                </div>
                <div class="menu">
                    <a href="/noticias">
                        <div class="m-1">
                            NOTÍCIAS
                            <span class="add">+</span>
                        </div>
                    </a>

                    <a href="/esportes">
                        <div class="m-2">
                            ESPORTES
                            <span class="add">+</span>
                        </div>
                    </a>

                    <a href="/entretenimento">
                        <div class="m-3">
                            ENTRETENIMENTO
                            <span class="add">+</span>
                        </div>
                    </a>

                    <a href="/politica">
                        <div class="m-4">
                            POLÍTICA
                            <span class="add">+</span>
                        </div>
                    </a>

                    <a href="/blogs">
                        <div class="m-5">
                            BLOGS
                            <span class="add">+</span>
                        </div>
                    </a>

                    <div class="buscar">

                        <form method="get" action="busca">
                            <span class="i-buscar"></span>
                            <input type="text" class="box-serach" name="buscap">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
<div class="nav-total-a">
	      <nav>
		      <div class="principal">

                <div class="menu-interna">
                    <a href="/">
                        <div class="m-logo">
                            <img src="{{ STATIC_URL }}site/img/logo-home.fw.png" width="90">
                        </div>
                    </a>
                    <a href="/noticias">
                        <div class="m-1">
                            NOTÍCIAS
                            <span class="add">+</span>
                        </div>
                    </a>

                    <a href="/esportes">
                        <div class="m-2">
                            ESPORTES
                            <span class="add">+</span>
                        </div>
                    </a>

                    <a href="/entretenimento">
                        <div class="m-3">
                            ENTRETENIMENTO
                            <span class="add">+</span>
                        </div>
                    </a>

                    <a href="/politica">
                        <div class="m-4">
                            POLÍTICA
                            <span class="add">+</span>
                        </div>
                    </a>

                    <a href="/blogs">
                        <div class="m-5">
                            BLOGS
                            <span class="add">+</span>
                        </div>
                    </a>

                    <div class="buscar">

                        <form method="get" action="busca">
                            <span class="i-buscar"></span>
                            <input type="text" class="box-serach" name="buscap">
                        </form>
                    </div>
                </div>

			  <div class="clear"></div>
            </div>


	      </nav>
	  </div>