<div id="fb-root"></div>
<div class="row" style="background: rgba(255, 255, 255, 0.34) none repeat scroll 0 0 !important;">
        <div class="principal">
            <div class="header">
                <div class="menu-interna">
                    <a href="/">
                        <div class="m-logo">
                            <img src="{{ STATIC_URL }}site/img/logo-home.fw.png" width="90">
                        </div>
                    </a>
                    <a href="/noticias">
                        <div class="m-1">
                            NOTÍCIAS
                            <span class="add">+</span>
                        </div>
                    </a>

                    <a href="/esportes">
                        <div class="m-2">
                            ESPORTES
                            <span class="add">+</span>
                        </div>
                    </a>

                    <a href="/entretenimento">
                        <div class="m-3">
                            ENTRETENIMENTO
                            <span class="add">+</span>
                        </div>
                    </a>

                    <a href="/politica">
                        <div class="m-4">
                            POLÍTICA
                            <span class="add">+</span>
                        </div>
                    </a>

                    <a href="/blogs">
                        <div class="m-5">
                            BLOGS
                            <span class="add">+</span>
                        </div>
                    </a>

                    <div class="buscar" style="background: #fff none repeat scroll 0 0;border-radius: 5px"  >

                        <form method="get" action="/busca">
                            <span class="i-buscar"></span>
                            <input type="text" class="box-serach" name="buscap">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

<div class="nav-total-a">
	      <nav>
		      <div class="principal">

                <div class="menu-interna">
                    <a href="/">
                        <div class="m-logo">
                            <img src="{{ STATIC_URL }}site/img/logo-home.fw.png" width="90">
                        </div>
                    </a>
                    <a href="/noticias">
                        <div class="m-1">
                            NOTÍCIAS
                            <span class="add">+</span>
                        </div>
                    </a>

                    <a href="/esportes">
                        <div class="m-2">
                            ESPORTES
                            <span class="add">+</span>
                        </div>
                    </a>

                    <a href="/entretenimento">
                        <div class="m-3">
                            ENTRETENIMENTO
                            <span class="add">+</span>
                        </div>
                    </a>

                    <a href="/politica">
                        <div class="m-4">
                            POLÍTICA
                            <span class="add">+</span>
                        </div>
                    </a>

                    <a href="/blogs">
                        <div class="m-5">
                            BLOGS
                            <span class="add">+</span>
                        </div>
                    </a>

                    <div class="buscar">

                        <form method="post">
                            <span class="i-buscar"></span>
                            <input type="text" class="box-serach">
                        </form>
                    </div>
                </div>

			  <div class="clear"></div>
            </div>


	      </nav>
    </div>
