{% load staticfiles %} 
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- > meta tegs, funções para o google localizar usando palavras chaves<-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="all" />
<meta name="keywords" content="Brasil, agricultura, produtos
rurais, veterinários, rural, agropecuário, pecuária, produtos veterinários online,
ecommerce rural, loja agropecuária." />

<meta name="description" content="Brasil Agricultura, “aqui você encontra tudo para o
homem do campo: produtos rurais, veterinários, agropecuários e muito mais”." />

<link href="{% static "imgs/favicon.png" %}" rel="shortcut icon" "image/png"/>


<title> Brasil Agricultura – Produtos
para o homem do campo</title>
<link href= "{% static "CSS/estilos.css" %}" rel="stylesheet" type="text/css" />
<script src="{% static "Scripts/swfobject_modified.js" %}" type="text/javascript"></script>
<style type="text/css">
a:link {
	color: #000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
	color: #000;
}
a:active {
	text-decoration: none;
	color: #000;
}
</style>
</head>


<body>
<div id="container" class="container">

<div id="logotipo" class="logotipo"><img src="imgs/logotipo.png" width="220" height="160" alt="Brasil Agricultura" /></div>
<div id="menu" class="menu">
<p class="BarraMenu">
<a href="{% url 'core:index' %}"> Home </a>
<a href="{% url 'core:quemsomos' %}"> Quem Somos </a>
<a href="{% url 'core:produtos' %}"> Produtos </a>
<a href="{% url 'core:contatos' %}"> Contato </a>
</p>

</div>
<div id="imagem" class="imagem">
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="960" height="265" id="FlashID" title="Imagens">
    <param name="movie" value="flash/imagens.swf" />
    <param name="quality" value="high" />
    <param name="wmode" value="opaque" />
    <param name="swfversion" value="9.0.45.0" />
    <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
    <param name="expressinstall" value="Scripts/expressInstall.swf" />
    <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="flash/imagens.swf" width="960" height="265">
      <!--<![endif]-->
      <param name="quality" value="high" />
      <param name="wmode" value="opaque" />
      <param name="swfversion" value="9.0.45.0" />
      <param name="expressinstall" value="Scripts/expressInstall.swf" />
      <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
      <div>
        <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
        <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
      </div>
      <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
  </object>
</div>

<div id="principal" class="principal">
  <p><img src= "{% static "imgs/titulo_produtos.png" %}" width="625" height="64" /></p>
  <p>&nbsp;</p>
  <table width="585" height="85" border="0" align="center" cellpadding="5" cellspacing="5">
    <tr>
      <td width="178" align="center" valign="middle">Produto</td>
      <td width="151" align="center" valign="middle">Marca</td>
      <td width="184" align="center" valign="middle">Preço</td>
    </tr>
    <tr>
      <td align="center" valign="middle">Sementes de milho 1kg</td>
      <td align="center" valign="middle">Maca A</td>
      <td align="center" valign="middle">R$ 50,00</td>
    </tr>
    <tr>
      <td align="center" valign="middle">Sementes de algodão</td>
      <td align="center" valign="middle">Marca B</td>
      <td align="center" valign="middle">R$ 49,99</td>
    </tr>
    <tr>
      <td align="center" valign="middle">Ração p/ equino</td>
      <td align="center" valign="middle">Marca C </td>
      <td align="center" valign="middle">R$ 80,00</td>
    </tr>
    <tr>
      <td align="center" valign="middle">Fungicida</td>
      <td align="center" valign="middle">Marca D</td>
      <td align="center" valign="middle">R$ 46,85</td>
    </tr>
    <tr>
      <td align="center" valign="middle">Herbicida</td>
      <td align="center" valign="middle">Marca E</td>
      <td align="center" valign="middle">R$ 100,00</td>
    </tr>
    <tr>
      <td align="center" valign="middle">Vacina Gado</td>
      <td align="center" valign="middle">Marca F</td>
      <td align="center" valign="middle">R$ 30,00</td>
    </tr>
    <tr>
      <td align="center" valign="middle">Vacina Caprinos</td>
      <td align="center" valign="middle">Marca G</td>
      <td align="center" valign="middle">R$ 25,00</td>
    </tr>
  </table>
  <p>&nbsp;</p>
<p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
<p>&nbsp;</p>
  <p><br />
  </p>
  <p class="imgs">&nbsp;</p>
  <p class="imgs">&nbsp;</p>
  <p class="imgs">&nbsp;</p>
</div>
<div id="noticias" class="noticias">
  <p><img src="{% static "imgs/titulo_noticias.png" %}" width="335" height="64" alt="Noticias" /></p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p><img src="{% static "imgs/dia_29_mar.png" %}" width="60" height="61" class="imgs" /><span class="texto"><a href="{% static "noticias.html" %}" target="_self">Pesquisa com café contribui para a sustentabilidade da produção.</a></span></p>
  <p>&nbsp;</p>
  <p><img src="{% static "imgs/dia_28_mar.png" %}" width="60" height="61" class="imgs" /><span class="texto"><a href="{% static "notcias.html" %}" target="_self">Evento no Rio Grande do Norte certifica organismos de controle social.</a></span></p>
  <p>&nbsp;</p>
  <p><img src="{% static "imgs/dia_27_mar.png" %}" width="60" height="61" class="imgs" /><span class="texto"><a href="{% static "noticias.html" %}" target="_self">Estudo reforça cultivo de café de base ecologica.</a></span></p>
</div>
<div id="rodape" class="rodape"><img src="{% static "imgs/rodape.png" %}" alt="" width="960" height="110" border="0" usemap="#Map" />
  <map name="Map" id="Map">
    <area shape="rect" coords="35,32,96,92" href="http://www.twitter.com.br" target="_blank" alt="Linkin do Twitter" />
    <area shape="rect" coords="108,34,169,94" href="http://www.facebook.com.br" target="_blank" alt="Linkin do Facebook" />
  </map>
</div>

</div>
<script type="text/javascript">
swfobject.registerObject("FlashID");
</script>
</body>
</html>