<div class="coluna-right">
                <div class="">
                    <div class="publicidade-home">
                        {% include "adsense/publicidade-bloco-desktop.html" %}
                    </div>
                </div>
                {% if slugsubcategoria == 'futebol' %}
                    <div class="times-interna">
                        <div class="times-header">SELECIONE SEU TIME</div>
                            <div class="times">
                                {% for time in team %}
                                    <a href="{{ time.get_absolute_url }}">
                                        <div class="escudo-time">
                                             <img src="{{ time.escudo.url_73x73 }}" width="35">
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                    </div>
                {% endif %}
                <div class="mais-lidas-sidebar">
                        <div class="plantao-wapper">
                            <span class="t-lidas-sidebar">MAIS LIDAS</span>
                            {% for plantao in lidas %}
                                <div class="item-mais-sidebar">
                                    <span class="num-mais-lidas-sidebar">
                                        {{ forloop.counter }}
                                    </span>
                                    <a href="{{ plantao.get_absolute_url }}">
                                        <h1 class="titulo-mais-sidebar">
                                            {{ plantao.titulo|truncatewords:9 }}
                                        </h1>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                <div class="">
                    <div class="publicidade-home">
                        {% include "adsense/publicidade-bloco-desktop.html" %}
                    </div>
                </div>
            </div>