{% extends 'site/base.html' %}{% load staticfiles %}{% load thumbnail %}
{% block title %}<title>Galeria - Institucional 10</title>{% endblock %}
{% block description %} <meta name="description" content="TV Antena 10 - Afiliada a Rede Record">{% endblock %}
{% block container %}
<div class="container">
	<div class="row">
		<div class="col-lg-9 col-md-8 col-sm-6 col-xs-6 lista-noticia">
			<div class="visible-xs">
				<div class="page-header">
					<h3>Buscar</h3>
				</div>
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="Pesquisar por...">
			      <span class="input-group-btn">
			        <button class="btn btn-primary glyphicon glyphicon-search" type="submit"></button>
			      </span>
			    </div><!-- /input-group -->
			</div>
			<div class="page-header">
				<h2>Galerias</h2>
			</div>
			<div class="page-header">
				<h3>{{ galeria_object.titulo }}</h3>
			</div>
            {% for foto in fotos %}
			<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<div class="item-noticia">
					<a href="{{ foto.file|thumbnail_url:'home_noticia_900' }}" data-lightbox="example-1">
					<div class="foto">
						<img src="{{ foto.file|thumbnail_url:'imagem_galeria_240_160' }}" class="img-responsive">
					</div>
					</a>
				</div>
			</div>
            {% endfor %}

		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
			{% include 'site/sidebar.html' %}


		</div>
	</div>
</div>
{% endblock %}