{% extends 'site/base.html' %}
{% load staticfiles %}{% load thumbnail %}
{% block title %}<title>Na Mídia - Institucional 10</title>{% endblock %}
{% block description %} <meta name="description" content="TV Antena 10 - Afiliada a Rede Record">{% endblock %}
{% block head_individual %}
    <script type="text/javascript">
	$( document ).ready(function() {
		$('.video').magnificPopup({
		  type: 'iframe',

		  iframe: {
		    patterns: {
		      dailymotion: {

		        index: 'youtube.com',

		        id: function(url) {
		            var m = url.match(/^.+youtube.com\/(video|hub)\/([^_]+)[^#]*(#video=([^_&]+))?/);
		            if (m !== null) {
		                if(m[4] !== undefined) {
		                    return m[4];
		                }
		                return m[2];
		            }
		            return null;
		        },
		        src: 'http://www.youtube.com/embed/%id%'

		      }
		    }
		  }


		});
	});
	</script>
{% endblock %}
{% block container %}
<div class="container">
	<div class="row">
		<div class="col-lg-9 col-md-8 col-sm-6 col-xs-6 lista-noticia">
			<div class="visible-xs">
				<div class="page-header">
					<h3>Buscar</h3>
				</div>
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="Pesquisar por...">
			      <span class="input-group-btn">
			        <button class="btn btn-primary glyphicon glyphicon-search" type="submit"></button>
			      </span>
			    </div><!-- /input-group -->
			</div>
			<div class="page-header">
				<h3>Na Mídia</h3>
			</div>
            {% for noticia in na_midia_list %}
			<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<div class="item-noticia">
					<a class="video" href="https://www.youtube.com/watch?v={{ noticia.url }}">
					<!-- <a href="https://www.youtube.com/embed/TxF0CGVb-wA" data-lightbox="example-1"> -->
					<div class="foto">
                        {% if noticia.postagem.imagem %}
						<img src="{{ noticia.postagem.imagem|thumbnail_url:'home_noticia_300' }}" class="img-responsive">
                        {% else %}
						<img src="http://i1.ytimg.com/vi/{{ noticia.url }}/maxresdefault.jpg" class="img-responsive">
                        {% endif %}
						<span class="play"></span>
						<span>{{ noticia.postagem.data_publicacao|date:'d/m/Y' }}</span>
					</div>
					<div class="desc">
						<p><strong>{{ noticia.postagem.titulo }}</strong></p>
						<!-- <p>O deputado Dr. Pessoa (PSD) teve breve participação na edição desta terça-feira (17/03).</p> -->
					</div>
					</a>
				</div>
			</div>
            {% endfor %}



			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<nav>
				  <ul class="pagination">
				    <li>
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">Anterior</span>
				      </a>
				    </li>
				    <li class="active"><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li>
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">Próximo</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>

		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
			{% include 'site/sidebar.html' %}


		</div>
	</div>
</div>
{% endblock %}