{% extends 'site/base.html' %}
{% load staticfiles %}{% load thumbnail %}
{% block title %}<title>{{ noticia.titulo }} - Dr Pessoa</title>{% endblock %}
{% block description %}
    <meta name="description" content="{{ noticia.subtitulo }} - Site Deputado Estadual Dr.Pessoa.">
    <meta property="og:description" content="Esse é o meu prefeito - {{ noticia.subtitulo }}" />
    <meta property="og:url"         content="http://drpessoa.com.br{{ noticia.get_absolute_url }}" />
    <meta property="og:image"       content="http://drpessoa.com.br{{ noticia.imagem|thumbnail_url:'home_noticia_300' }}" />
{% endblock %}
{% block container %}
<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6 perfil">
            <div class="page-header">
                <h2>{{ noticia.titulo }}</h2>
            </div>

            <div class="page-header">
				<h4>{{ noticia.subtitulo }}</h4>
			</div>

            <div class="page-header">
				<div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.6&appId=342052145941201"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-like" data-href="http://drpessoa.com.br{{ noticia.get_absolute_url }}" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
			</div>

            <p><img src="{{ noticia.imagem|thumbnail_url:"home_noticia_900" }}" class="img-responsive"></p>
            <div class="text_news">
                <p>{{ noticia.conteudo|safe }}</p>
            </div>

            <div class="text_news">
                <ul class="social pull-left">
                    <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//drpessoa.com.br{{ noticia.get_absolute_url|urlencode }}" class="face"></a></li>
                    <li><a target="_blank" href="https://twitter.com/home?status=http%3A//drpessoa.com.br/{{ noticia.get_absolute_url }}" class="twitter"></a></li>
                    <li><a target="_blank" href="https://plus.google.com/share?url=http%3A//drpessoa.com.br{{ noticia.get_absolute_url }}" class="google"></a></li>
                    <li><a href="whatsapp://send?text={{ noticia.titulo }} - http://drpessoa.com.br{{ noticia.get_absolute_url }}" data-action="share/whatsapp/share" class="whatsapp"></a></li>
                </ul>
			</div>
		</div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
			{% include 'site/sidebar.html' %}
		</div>
	</div>
</div>
{% endblock %}