{% extends 'site/base.html' %}
{% load staticfiles %}{% load thumbnail %}
{% block title %}<title>Timeline - Institucional 10</title>{% endblock %}
{% block description %} <meta name="description" content="TV Antena 10 - Afiliada a Rede Record">{% endblock %}
{% block container %}
    <div class="container banner">
	<img src="{% static 'site/images/banner.jpg' %}" class="img-responsive">
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-9 col-md-8 col-sm-6 col-xs-6 timeline">

			<div class="page-header">
				<h3>Linha do Tempo</h3>
			</div>
            {% for noticia in timeline_list %}
                {% if forloop.counter|divisibleby:"2" %}
			<div class="row">
				<div class="col-lg-6 text-right item">
						<h4>{{ noticia.data_evento|date:'d'}} de {{ noticia.data_evento|date:'F'}} de {{ noticia.data_evento|date:'Y'}}</h4>
						<hr>
						<p>{{ noticia.postagem.titulo }}</p>
				</div>
				<div class="col-lg-6 text-right">
					<img src="{{ noticia.postagem.imagem|thumbnail_url:'timeline_410' }}" class="img-responsive">
				</div>
			</div>
                {% else %}
			<div class="row">
				<div class="col-lg-6 text-right">
					<img src="{{ noticia.postagem.imagem|thumbnail_url:'timeline_410' }}" class="img-responsive">
				</div>
				<div class="col-lg-6 col-lg-offset-6 item">
						<h4>{{ noticia.data_evento|date:'d'}} de {{ noticia.data_evento|date:'F'}} de {{ noticia.data_evento|date:'Y'}}</h4>
						<hr>
						<p>{{ noticia.postagem.titulo }}</p>

				</div>
			</div>
                {% endif %}
            {% endfor %}
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
			{% include 'site/sidebar.html' %}
		</div>
	</div>
</div>
{% endblock %}