{% extends 'site/base.html' %}
{% load staticfiles %}
{% block title %}<title>Voluntário - Institucional 10</title>{% endblock %}
{% block description %} <meta name="description" content="TV Antena 10 - Afiliada a Rede Record">{% endblock %}
{% block container %}
    <div class="container banner">
	<img src="{% static 'site/images/banner.jpg' %}" class="img-responsive">
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-9 col-md-8 col-sm-6 col-xs-6 voluntario">

			<div class="page-header">
				<h3>Voluntário</h3>
			</div>

			<div class="row">
				<div class="col-lg-4 text-center">
					<div class="item">
						<h4>1. Adicione o site</h4>
						<hr>
						<p>do mandato do deputado Dr. Pessoa aos favoritos do seu navegador. É só pressionar agora CTRL + D, ou CMD + D no sistema OSX.</p>
					</div>
				</div>
				<div class="col-lg-4 text-center">
					<div class="item">
						<h4>2. Curta a fanpage</h4>
						<hr>
						<p>e acompanhe as atividades do mandato pelo Facebook. Acesse a página <a href="https://www.facebook.com/drpessoa.leall?fref=ts">https://www.facebook.com/drpessoa.leall</a> e clique em "curtir".</p>
					</div>
				</div>
				<div class="col-lg-4 text-center">
					<div class="item">
						<h4>3. Espalhe novas sementes</h4>
						<hr>
						<p>Compartilhe com seus amigos do Facebook as ideias e crenças do mandato do deputado Dr Pessoa. Ajude a conscientizar as pessoas sobre a importância da política. Você também pode criar postagens sobre o tema e publicá-las na sua página da rede social.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 text-center">
					<div class="item">
						<h4>4. Participe</h4>
						<hr>
						<p>Dê sua opinião ou sugestão na fanpage de mandato do deputado, ou pelo contato do site. Pode ser uma dica pra melhorarmos a nossa comunicação ou até mesmo apresentar uma demanda da sua região. O importante é sair da indiferença.</p>
					</div>
				</div>
				<div class="col-lg-4 text-center">
					<div class="item">
						<h4>5. Fique em contato</h4>
						<hr>
						<p>É só preencher o cadastro. Você vai receber por e-mail as últimas notícias sobre o mandato do deputado e ainda poderá participar ativamente, ajudando (da forma que for melhor para você) a levar as ideias onde elas mais precisam ser ouvidas.</p>
					</div>
				</div>
			</div>

		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
			{% include 'site/sidebar.html' %}
		</div>
	</div>
</div>
{% endblock %}