</div>
<div id="footer2">
    <div id="containerFooter2">
        <div id="mod-footer"><a name="footer"></a><div>
            <center><ul>
                <li><a href="/" target="_top">Capa</a></li> |
                <li><a href="/blog/" target="_top">Blogs</a></li> |
                <li><a href="/ultimas-noticias/" target="_top">Notícias</a></li> |
                <li><a href="/downloads/" target="_top">Downloads</a></li> |
                <li><a href="/eventos/" target="_top">Eventos</a></li> |
                <li><a href="/humor/" target="_top">Humor</a></li> |
                <li><a href="/humor/" target="_top">Artigos</a></li> |
                <li><a href="/shopping/" target="_top">Shopping</a></li> |
                <li><a href="/musicas/" target="_top">Músicas</a></li> |
                <li><a href="/foto/" target="_top">Fotos</a></li> |
                <li class="itm-last"><a href="/videos/" target="_top">Videos</a></li>
            </ul>
                <ul class="lst-second-menu">
                    <li><a href="" target="_top">Mapa do site</a></li> |
                    <li><a href="" target="_top">Central do Assinante</a></li> |
                    <li><a href="" target="_top">Fale Conosco</a></li> |
                    <li><a href="" target="_top">Trabalhe Juvenis</a></li> |
                    <li><a href="" target="_top">Aviso Legal</a></li> |
                    <li><a href="" target="_top">Política de Privacidade</a></li> |
                    <li><a href="" target="_top">Anuncie</a></li> |
                    <li><a href="" target="_top">Twitter</a></li> |
                </ul>
            </center>
        </div>
        </div>
    </div>
    <div id="direitos">
        <div id="direitos2">
            &copy; Copyright 2012, Juvenis Brasil S.A.
        </div>
    </div>
</div>
{% include 'extras/scripts-interna.html' %}
</body>
</html>