<div id="containersidebar">
    <div id="sidebar">
        {% include "adsense/300x250-misto-interna-cima.html" %}
    </div>

    <div id="sidebar">
        <h1 class="titulobloco1_downloads">Destaques Juvenis</h1>
        {% for noticia in destaque_home|slice:"0:1" %}
        <div id="block">
            <div id="img_block">
                <img src="{{ noticia.imagem.url_200x150 }}">
            </div>
            <p class="chapeu_sidebar"><a href="{{ noticia.categoria_nome.get_absolute_url }}">{{ noticia.categoria_nome.nome }}</a> </p>
            <h1 class="titulobloco1_sidebar"><a href="{{ noticia.get_absolute_url }}">{{ noticia.titulo }}</a></h1>

        </div>
        {% endfor %}
        {% for noticia in destaque_home|slice:"1:5" %}
        <div id="block">
            <p class="chapeu_sidebar"><a href="{{ noticia.categoria_nome.get_absolute_url }}">{{ noticia.categoria_nome.nome }}</a> </p>
            <h1 class="titulobloco1_sidebar"><a href="{{ noticia.get_absolute_url }}">{{ noticia.titulo }}</a></h1>
            <p class="subhome_sidebar">{{ noticia.subtitulo }}</p>

        </div>
        {% endfor %}
        <a href="{% url 'noticias.views.homepage' %}">
            <div id="bo">MAIS NOTÍCIAS</div>
        </a>
    </div>

    <div id="sidebar2">
        <div class="fb-like-box" data-href="https://www.facebook.com/SiteJuvenis" data-width="300" data-height="210" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
    </div>

    <div id="sidebar">
    {% include "adsense/300x250-misto-interna-baixo.html" %}
    </div>

    <div id="sidebar2">
        <div class="g-page" data-href="https://plus.google.com/108260175010004524527" data-layout="landscape" data-showtagline="false" data-showcoverphoto="false" data-rel="publisher"></div>
    </div>

    <div id="sidebar">
        <h1 class="titulobloco1_downloads">Últimas Juvenis</h1>
        {% for noticia in ultimas_home|slice:"0:1" %}
        <div id="block">
            <div id="img_block">
                <img src="{{ noticia.imagem.url_200x150 }}">
            </div>
            <p class="chapeu_sidebar"><a href="{{ noticia.categoria_nome.get_absolute_url }}">{{ noticia.categoria_nome.nome }}</a> </p>
            <a href="{{ noticia.get_absolute_url }}"><h1 class="titulobloco1_sidebar">{{ noticia.titulo }}</h1></a>
        </div>
        {% endfor %}
        {% for noticia in ultimas_home|slice:"1:5" %}
        <div id="block">
            <p class="chapeu_sidebar"><a href="{{ noticia.categoria_nome.get_absolute_url }}">{{ noticia.categoria_nome.nome }}</a> </p>
            <a href="{{ noticia.get_absolute_url }}"><h1 class="titulobloco1_sidebar">{{ noticia.titulo }}</h1></a>

        </div>
        {% endfor %}
        <a href="{% url 'noticias.views.ultimas' %}">
            <div id="bo">MAIS NOTÍCIAS</div>
        </a>
    </div>

    <div id="sidebar">
        <h1 class="titulobloco1_downloads">Notícias dos Blogs</h1>
        {% for noticia in ultimas_blog|slice:"0:1" %}
        <div id="block">
            <div id="img_block">
                {% if noticia.imagem %}
                <img src="{{ noticia.imagem.url_200x150 }}">
                {% else %}
                <img src="{{ noticia.blog.blog.imagem_capa.url_300x225 }}">
                {% endif %}
            </div>
            <p class="chapeu_sidebar"><a href="{{ noticia.blog.blog.get_absolute_url }}">{{ noticia.blog.blog.nome }}</a> </p>
            <a href="{{ noticia.get_absolute_url }}"><h1 class="titulobloco1_sidebar">{{ noticia.titulo }}</h1></a>
        </div>
        {% endfor %}
        {% for noticia in ultimas_blog|slice:"1:5" %}
        <div id="block">
            <div id="img_block">
                {% if noticia.imagem %}
                <img src="{{ noticia.imagem.url_200x150 }}">
                {% else %}
                <img src="{{ noticia.blog.blog.imagem_capa.url_300x225 }}">
                {% endif %}
            </div>
            <p class="chapeu_sidebar"><a href="{{ noticia.blog.blog.get_absolute_url }}">{{ noticia.blog.blog.nome }}</a></p>
            <a href="{{ noticia.get_absolute_url }}"><h1 class="titulobloco1_sidebar">{{ noticia.titulo }}</h1></a>

        </div>
        {% endfor %}
        <a href="{% url 'noticias.views.blogs' %}">
            <div id="bo">MAIS NOTÍCIAS</div>
        </a>
    </div>

</div>