{% include "header/header.html" %}
    <div id="corpo">
        <div id="ContainerSecao2">
            <div id="secao2">
                <div id="conteudos2">
                    <div id="error">
                        <div id="publicidade404">
                        {% include 'adsense/728x90-misto.html' %}
                    </div>
                        <img src="{{ STATIC_URL }}site/img/bullet_error.png">
                        <h1 class="">Fomos atrás, mas não achamos. Veja nossas ultimas. :)</h1>
                    </div>
                    <div id="conteudos404">
                    {% for noticia in noticias %}
                                <div id="bloco">
                                    <a href="{{  noticia.get_absolute_url }}">
                                        <div id="img">
                                            <img src="{{ noticia.imagem.url_200x150 }}" alt="{{ noticia.titulo }}" width="220" >
                                        </div>
                                    </a>
                                    <p class="chapeu">{{ noticia.chamada }}</p>
                                    <a href="{{  noticia.get_absolute_url }}">
                                        <h2 class="titulobloco1">{{ noticia.titulo }}...</h2>
                                    </a>
                                </div>
                    {% endfor %}
                </div>
                </div>
            </div>
            </div>

            <div id="shadowsecao"></div>
        </div>
{% include "footer/footer.html" %}