{% load pagination_tags %}
{% include "header/header.html" %}
    <div id="corpo2">
        <div id="containerInternaVideo">
            <div id="conteudoInterna">
                {% for noticia in noticias_list|slice:"0:1" %}
                <div id="videoPrincipalEsquerdo">
                    <a href="{{ noticia.get_absolute_url }}">
                    <h1 class="tituloVideoEsq">{{ noticia.titulo }}</h1>
                    </a>
                    {% for video in noticia.video_noticia_set.all %}
                    <iframe width="620" height="345" src="http://www.youtube.com/embed/{{ video.url }}" frameborder="0" ></iframe>
                    {% endfor %}
                    <p class="subhomevideo">{{ noticia.subtitulo }}</p>
                </div>
                {% endfor %}
            </div>
            <div id="publicidadeBanner">
                {% include 'adsense/620x90-imagem-video.html' %}
            </div>
            <div id="subVideo">
                <h1 class="tituloSecao1Video">Ultimos Videos</h1>
                <div id="borda8_2_roud">
                    <span class="rodape_interna"></span>
                </div>
                {% for noticia in noticias_list|slice:"1:7" %}
                    <div id="videosEsq">
                        <a href="{{ noticia.get_absolute_url }}">
                            <div id="posivideo">
                                 <span class="iconeVideo2" ></span>
                                 <img width="287" height="175" src="{{ noticia.imagem.url_200x150 }}">
                            </div>
                            <h1 class="chapeu">{{ noticia.chamada }}</h1>
                            <p class="tituloblocoVideo1">{{ noticia.titulo|truncatewords:7 }}</p>
                        </a>
                    </div>
                {% endfor %}

            </div>
                        <div id="publicidadeBanner">
                {% include 'adsense/620x90-imagem-video.html' %}
            </div>
            <div id="subVideo">
                <h1 class="tituloSecao1Video">+ Videos</h1>
                <div id="borda8_2">
                    <span class="rodape_interna"></span>
                </div>
                {% autopaginate noticias_list 21 %}
                {% for videos in noticias_list|slice:"7:" %}
                    <div id="videosEsq">
                        <a href="{{ videos.get_absolute_url }}">
                            <div id="posivideo">
                                <div class="fleft">
                                    <ul class="gallery clearfix">
                                    </ul>
                                </div>
                                <div class="fleft">
                                    <p class="gallery clearfix">
                                            <a href="{{ videos.get_absolute_url }}">
                                                <span class="iconeVideo3" ></span>
                                                <img width="161" height="126" src="{{ videos.imagem.url_200x150 }}" >
                                            </a>
                                    </p>
                                </div>
                            </div>
                            <h1 class="chapeu">{{ videos.chamada }}</h1>
                            <p class="tituloblocoVideo">{{ videos.titulo }}</p>
                            <p class="subhome2">{{ videos.subtitulo }}</p>
                        </a>
                    </div>
                {% endfor %}
            <div id="paginac">
                <div id="botoes">
                    {% paginate %}
                </div>
            </div>
            </div>
        </div>
        <div id="shadowInterna"></div>
        </div>
        {% include "sidebar/sidebar-noticia.html" %}
{% include "footer/footer.html" %}