{% load pagination_tags %}
{% include "header/header.html" %}
<div id="secao1">
            <div id="containerTv">
                <div id="tv">
                    <div id="example">
                        <!--
                        <img src="{{ MEDIA_URL }}img/curtir.png" width="55" height="30" alt="Novo Curtir" id="ribbon">-->
                        <div id="slides">
                            <div class="slides_container">
                                {% for noticias in proximos|slice:"0:3" %}
                                    <div class="slide">
                                    <a title="{{ cantor.titulo }}" href="{{ noticias.get_absolute_url }}">
                                        <img src="{{ noticias.imagem.url_800x600 }}" width="658" alt="{{ noticias.titulo }}">
                                    </a>
                                        <div class="caption" style="bottom:0">
                                            <a title="{{ noticias.titulo }}" href="{{ noticias.get_absolute_url }}">
                                                <p class="caption-principal">{{ noticias.titulo }} - {% for data in noticias.evento_noticia_set.all %}{{ data.dataevento|date:"d/m" }}{% endfor %}</p>
                                            </a>
                                            <!--
                                            <p class="caption-chamada">{{ noticias.chamada }}</p>-->
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <a href="#" class="prev" style="display: none"><img src="{{ STATIC_URL }}site/img/esquerda.png" width="50" height="50" alt="Esquerda"></a>
                            <a href="#" class="next" style="display: none"><img src="{{ STATIC_URL }}site/img/direita.png" width="50" height="50" alt="Direita"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="publicidade1">
                {% include "adsense/300x250-misto-interna-cima.html" %}
            </div>
        </div>
    <div id="ContainerSecao2">
            <div id="secao2">
                <div id="conteudos2">
                    <h1 class="tituloSecao1Eventos">Eventos da Semana
                        {% include "adsense/nada.html" %}


                    </h1>

                    <div id="borda">
                        <span class="rodape"></span>
                    </div>
                    {% for noticias in proximos|slice:"3:8"  %}
                        <div id="bloco">
                            <a title="{{ noticias.titulo }}" href="{{ noticias.get_absolute_url }}">
                                <div id="img">
                                    <img src="{{ noticias.imagem.url_200x150 }}" alt="{{ noticias.titulo }}" >
                                </div>
                            </a>
                             {% for data in noticias.evento_noticia_set.all %}
                                    <p class="chapeu_home">{{ data.dataevento }} - {{ data.local.cidade_uf }}</p>
                             {% endfor %}
                            <a title="{{ noticias.titulo }}" href="{{ noticias.get_absolute_url }}">
                                <h2 class="titulobloco1">{{ noticias.titulo|truncatewords:6 }}</h2>
                            </a>
                            <!--
                            <p class="descricao_noticia">
                                {{ noticias.subtitulo|truncatewords:12 }}
                            </p>-->
                        </div>
                    {% endfor %}

                </div>


        </div>
    </div>
    <div id="corpo2">
        <div id="containerInternaUltimas">
            <div id="conteudoInterna">
                <h1 class="tituloSecao1Eventos">Todos Eventos</h1>
                <span class="rodape_interna2"></span>
                {% for noticias in proximos|slice:"8:" %}
                    <div id="listaBlogs">
                        <a href="{{  noticias.get_absolute_url }}">
                            <div id="imagemBlog">
                                <img src="{{ noticias.imagem.url_200x150 }}" width="186" height="124">
                            </div>
                            {% for data in noticias.evento_noticia_set.all %}
                                    <p class="chapeu_home">{{ data.dataevento }} - {{ data.local.cidade_uf }}</p>
                             {% endfor %}
                            <p class="titulobloco1">{{ noticias.titulo }}</p>
                            <p class="subhome_listagem">{{ noticias.subtitulo|truncatewords:19 }}</p>
                        </a>
                    </div>
                {% endfor %}
                {% autopaginate outros 10 %}
                {% for noticias in outros %}
                    <div id="listaBlogs">
                        <a href="{{  noticias.get_absolute_url }}">
                            <div id="imagemBlog">
                                <img src="{{ noticias.imagem.url_200x150 }}" width="186" height="124">
                            </div>
                            {% for data in noticias.evento_noticia_set.all %}
                                    <p class="chapeu_home">{{ data.dataevento }} - {{ data.local.cidade_uf }}</p>
                             {% endfor %}
                            <p class="titulobloco1">{{ noticias.titulo }}</p>
                            <p class="subhome_listagem">{{ noticias.subtitulo|truncatewords:19 }}</p>
                        </a>
                    </div>
                {% endfor %}
            <div id="paginac">
                <div id="botoes">
                    {% paginate %}
                </div>
            </div>
            </div>

            </div>


        </div>
        {% include "sidebar/sidebar-noticia.html" %}
{% include "footer/footer.html" %}
