{% load pagination_tags %}
{% include "header/header-categoria.html" %}
    <div id="corpo2">
        <div id="containerInterna{{ slugcategoria }}">
            <div id="conteudoInterna">
                <h1 class="tituloSecao1{{ categoria.slugcategoria }}">{{ categoria.nome }}</h1>
                <div id="borda8_2{{ categoria.slugcategoria }}">
                </div>

                <span class="rodape_interna2"></span>
                {% autopaginate noticias_list 10 %}
                {% for noticias in noticias_list %}
                    <div id="listaBlogs">
                        <a href="{{  noticias.get_absolute_url }}">
                            {% if noticias.imagem %}
                            <div id="imagemBlog">
                                <img src="{{ noticias.imagem.url_200x150 }}" width="186" height="124" alt="{{ noticias.titulo }}">
                            </div>
                            {% endif %}
                            <p class="chapeu">{{ noticias.chamada }}</p>
                            <p class="titulobloco1{{ categoria.slugcategoria }}">{{ noticias.titulo }}</p>
                            <p class="subhome">{{ noticias.subtitulo }}</p>
                        </a>
                    </div>
                {% endfor %}
            <div id="paginac">
                <div id="botoes">
                    {% paginate %}
                </div>
            </div>
            </div>

            </div>

        </div>
        {% include "sidebar/sidebar-noticia.html" %}
{% include "footer/footer.html" %}
