{% include "header/header.html" %}
    <div id="corpo2">
        <div id="containerInternaUltimas">
            <div id="conteudoInterna">
                <h1 class="tituloSecao1Contato">Contato</h1>
                <div id="borda8_2Contato">
                </div>
                <span class="rodape_interna2"></span>

                    <div id="listaBlogs">
					<label for="email">{{ form.email }} E-mail</label>
                    </div>

                <div id="paginac">
                    <div id="botoes">
                        <a href="#">
                           <div id="botnBack"></div>
                        </a>
                        <a href="#">
                           <div id="botnLeft"></div>
                        </a>
                    </div>

                </div>
            </div>

            </div>

        <div id="shadowInterna"></div>
        </div>
        {% include "sidebar/sidebar-noticia.html" %}
{% include "footer/footer.html" %}
