{% load pagination_tags %}
{% include "header/header-download-cantor.html" %}
    <div id="corpo2">
        <div id="containerInternaDownloads">
            <div id="conteudoInterna">
                <h1 class="tituloSecao1Downloads">Downloads {{ cantor.nome }}</h1>
                <div id="borda8_2Downloads">
                </div>

                <span class="rodape_interna2"></span>
                {% autopaginate download_list 10 %}
                {% for noticias in download_list %}
                    <div id="listaBlogs">
                        <a href="{{  noticias.get_absolute_url }}">
                            {% if noticias.imagem %}
                            <div id="imagemBlog">
                                <img src="{{ noticias.imagem.url_100x75 }}" width="186" height="124" alt="{{ noticias.titulo }}">
                            </div>
                            {% endif %}
                            <p class="chapeu">{{ noticias.ano }}</p>
                            <p class="titulobloco1downloads">{{ noticias.titulo }}</p>
                            <p class="subhome">Adicionado em {{ noticias.criado_em }}</p>
                        </a>
                    </div>
                {% endfor %}
            <div id="paginac">
                <div id="botoes">
                    {% paginate %}
                </div>
            </div>
            </div>

            </div>

        </div>
        {% include "sidebar/sidebar-noticia.html" %}
{% include "footer/footer.html" %}
