{% include "header/header-download-link.html" %}
<div id="containermeio">
    <div id="corpo3_interna_download">
        <div id="containerInterna">
            <div id="conteudoInterna">

                <div id="breadcrumb">
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">juvenis.com.br</span></a> ›</span>
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{% url 'noticias.views.downloads' %}" itemprop="url" title="Download de CD Gospel"><span itemprop="title">Download</span></a> ›</span>
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ album.cantor_nome.download_cantor_url }}" itemprop="url" title="Mais downloads de {{ album.cantor_nome.nome }}"><span itemprop="title">{{ album.cantor_nome.nome }}</span></a> ›</span>
                    <span>{{ album.titulo }}</span>
                </div>

            <div id="wide_publi">
                {% include "adsense/728x90-misto.html" %}
            </div>
			<h1 class="tituloInterna_sub_download">Você está baixando o álbum: <span class="t1"><a href="{{ album.get_absolute_url }}">{{ album.titulo }}</a></span> de <span class="t1"> <a href="{{ album.cantor_nome.download_cantor_url }}">{{ album.cantor_nome.nome }}</a></span></h1>
                <p class="subtitulo"></p>
                <div id="barratop">
                    <div id="nomimg">
                    </div>
                    <div id="midias">
                        <div id="f1"><div class="fb-like" data-href="http://juvenis.com.br{{ album.get_absolute_url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></div>
                        <div id="f1"><g:plusone></g:plusone></div>
                        <div id="tw"><a href="http://juvenis.com.br{{ album.get_absolute_url }}" class="twitter-share-button" data-url="http://juvenis.com.br{{ album.get_absolute_url }}" data-via="JuvenisThe" data-lang="en">Tweet</a></div>
                    </div>
                </div>
                <div id="texto">
                    <div id="limite_texto">
                        <div id="wide">
                            <div id="publicidade_interna">
                                {% include "adsense/300x250-misto-download.html" %}
                            </div>
                            <div id="publicidade_interna">
                                {% include "adsense/300x250-misto-download.html" %}
                            </div>
                            <div id="publicidade_interna">
                                {% include "adsense/300x250-misto-download.html" %}
                            </div>
                         </div>
                    {{ noticia.conteudo|safe }}
                    </div>
                    <div id="wide">
                    {% if linkdownload %}
                        {% for link in linkdownload %}
                            <a class="a_demo_four2"  href="{{ link.link }}" target="_blank">DOWNLOAD</a>
                        {% endfor %}
                    {% else %}
                        <p>Link foi removido do site</p>
                    {% endif %}
                    </div>
                </div>
                {% if gostar %}
                <div id="comentario">
                    <h1 class="tituloSecao1Video2">Outras que você vai gostar :)</h1>
                    <span class="rodape_interna"></span>
                    {% for noticia in gostar %}
                        <div id="bloco_rel">
                            <p class="chapeu_sidebar">{{ noticia.cantor_nome.nome }}</p>
                            <a title="{{ noticia.titulo }}" href="{{ noticia.get_absolute_url }}">
                                <div id="img">
                                    {% if noticia.imagem %}
                                    <img src="{{ noticia.imagem.url_300x225 }}" alt="{{ noticia.titulo }}" width="220" >
                                    {% else %}
                                    <img src="{{ noticia.cantor_nome.foto01.url_300x225 }}" alt="{{ noticia.titulo }}" width="220" >
                                    {% endif %}
                                </div>
                            </a>
                            <p class="chapeu">{{ noticia.chamada }}</p>
                            <a title="{{ noticia.titulo }}" href="{{ noticia.get_absolute_url }}">
                                <h2 class="titulobloco1">{{ noticia.titulo }}</h2>
                            </a>
                        </div>
                    {% endfor %}

                </div>
                {% endif %}

                <div id="comentario">
                    <h1 class="tituloSecao1Video2">Comente</h1>
                    <span class="rodape_interna"></span>

                    <div id="publi_left">
                        <div id="publicidade_interna">
                                {% include "adsense/300x250-misto-download-comentario.html" %}
                        </div>
                     </div>
                    <div id="comFacebook">
                        <div class="fb-comments" data-href="http://juvenis.com.br{{ album.get_absolute_url }}" data-width="630" data-numposts="5" data-colorscheme="light"></div>
                    </div>

                </div>

                <div id="comentario">
                    <h1 class="tituloSecao1Video2">Mais de <a href="{{ album.cantor_nome.download_cantor_url }}">{{ album.cantor_nome.nome }}</a> </h1>
                    <span class="rodape_interna"></span>

                    {% for noticia in outros_cantor %}
                        <div id="bloco_rel">
                            <a title="{{ noticia.titulo }}" href="{{ noticia.get_absolute_url }}">
                                <div id="img">
                                    {% if noticia.imagem %}
                                    <img src="{{ noticia.imagem.url_300x225 }}" alt="{{ noticia.titulo }}" width="220" >
                                    {% else %}
                                    <img src="{{ noticia.cantor_nome.foto01.url_300x225 }}" alt="{{ noticia.titulo }}" width="220" >
                                    {% endif %}
                                </div>
                            </a>
                            <p class="chapeu">{{ noticia.chamada }}</p>
                            <a title="{{ noticia.titulo }}" href="{{ noticia.get_absolute_url }}">
                                <h2 class="titulobloco1">{{ noticia.titulo }}</h2>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                {% if recents %}
                <div id="comentario">
                    <h1 class="tituloSecao1Video2">Recentes </h1>
                    <span class="rodape_interna"></span>
                    {% for noticia in recents %}
                        <div id="bloco_rel">
                            <a title="{{ noticia.titulo }}" href="{{ noticia.get_absolute_url }}">
                                <div id="img">
                                    {% if noticia.imagem %}
                                    <img src="{{ noticia.imagem.url_300x225 }}" alt="{{ noticia.titulo }}" width="220" >
                                    {% else %}
                                    <img src="{{ noticia.cantor_nome.foto01.url_300x225 }}" alt="{{ noticia.titulo }}" width="220" >
                                    {% endif %}
                                </div>
                            </a>
                            <p class="chapeu">{{ noticia.chamada }}</p>
                            <a title="{{ noticia.titulo }}" href="{{ noticia.get_absolute_url }}">
                                <h2 class="titulobloco1">{{ noticia.titulo }}</h2>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        </div>
</div>
{% include "footer/footer.html" %}