{% include "header/header-foto.html" %}
<div id="containermeio">
    <div id="corpo3_interna_download">
        <div id="containerInterna">
            <div id="conteudoInterna">
			<p class="mapa">
                <a href="/">Início</a> >>
                <a href="{% url 'noticias.views.galerias' %}">Fotos</a> >>
                <a href="{{ foto.galeria.get_absolute_url }}">{{ foto.galeria.titulo }}</a> >>
                {{ foto.id }}
            </p>
			<h1 class="tituloInterna_sub_download">Esta foto de {{ foto.nome }} pertence a <a href="{{ foto.galeria.get_absolute_url }}">{{ foto.galeria.titulo }}</a></h1>
                <div id="barratop">
                    <div id="nomimg">

                        </p>
                    </div>
                </div>
                <div id="texto">
                    <div id="limite_texto">
                        <div id="wide">
                            <div id="publicidade_interna">
                                {% include "adsense/300x250-misto-foto.html" %}
                            </div>
                            <div id="publicidade_interna">
                                {% include "adsense/300x250-misto-foto.html" %}
                            </div>
                            <div id="publicidade_interna">
                                {% include "adsense/300x250-misto-foto.html" %}
                            </div>
                         </div>
                                            <div id="midias2">
                        <div id="f1"><div class="fb-like" data-href="http://juvenis.com.br{{ foto.galeria.get_absolute_url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></div>
                        <div id="f1"><g:plusone></g:plusone></div>
                        <div id="tw"><a href="http://juvenis.com.br{{ foto.galeria.get_absolute_url }}" class="twitter-share-button" data-url="http://juvenis.com.br{{ foto.get_absolute_url }}" data-via="JuvenisThe" data-lang="en">Tweet</a></div>
                    </div>
                       <div id="wide_imagem">
                            <img src="{{ MEDIA_URL }}{{ foto.img }}" alt="{{ foto.galeria.titulo }}" title="{{ foto.galeria.titulo }}" />
                       </div>

                    </div>
                </div>
                {% include "adsense/480x60-texto.html" %}

                <div id="comentario">
                    <h1 class="tituloSecao1Video2">Relacionadas</h1>
                    <span class="rodape_interna"></span>
                    {% for galeria in ultimas %}
                    <div id="bloco_rel">
                        <a title="{{ galeria.titulo }}" href="{{ galeria.get_absolute_url }}">
                            <div id="img">
                                <img src="{{ galeria.imagem.url_300x225 }}" alt="{{ noticia.titulo }}" width="220" >
                            </div>
                        </a>

                        <p class="chapeu">{{ galeria.chamada }}</p>
                        <a title="{{ galeria.titulo }}" href="{{ galeria.get_absolute_url }}">
                            <h2 class="titulobloco1">{{ galeria.titulo }}</h2>
                        </a>
                    </div>
                    {% endfor %}
                </div>


                <div id="comentario">
                    <h1 class="tituloSecao1Video2">Comente</h1>
                    <span class="rodape_interna"></span>
                    <div id="comFacebook">
                        <div class="fb-comments" data-href="http://juvenis.com.br{{ foto.galeria.get_absolute_url }}" data-width="630" data-numposts="5" data-colorscheme="light"></div>
                    </div>
                </div>

            <h1 class="tituloInterna_sub_download"><p>.</p>Ver mais fotos - <a href="{{ foto.galeria.get_absolute_url }}">{{ foto.galeria.titulo }}</a></h1>
            </div>
        </div>
        </div>
</div>
{% include "footer/footer.html" %}


