{% include "header/header.html" %}

     <div id="corpo">
        <div id="secao1">
            <div id="containerTv">
                <div id="tv">
                    <div id="example">
                        <div id="slides">
                            <div class="slides_container">
                                {% for letra in letras_destaque|slice:"0:5" %}
                                    <div class="slide">
                                    <a title="{{ letra.titulo }}" href="{{ letra.get_absolute_url }}">
                                        <img src="{{ letra.album_nome.cantor_nome.foto01.url_800x600 }}" width="658" alt="{{ letra.titulo }}">
                                    </a>
                                        <div class="caption" style="bottom:0">
                                            <a title="{{ letra.titulo }}" href="{{ letra.get_absolute_url }}">
                                                <p class="caption-principal">{{ letra.titulo }} - {{ letra.album_nome.cantor_nome }}</p>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <a href="#" class="prev" style="display: none"><img src="{{ STATIC_URL }}site/img/esquerda.png" width="50" height="50" alt="Esquerda"></a>
                            <a href="#" class="next" style="display: none"><img src="{{ STATIC_URL }}site/img/direita.png" width="50" height="50" alt="Direita"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="publicidade1">
                {% include "adsense/300x250-misto-interna-cima.html" %}
            </div>
        </div>
        <div id="ContainerSecao2">
            <div id="secao2">
                <div id="conteudos2">
                    <h1 class="tituloSecao1_mus">Cantores
                        {% include "adsense/nada.html" %}
                    </h1>

                    <div id="borda">
                        <span class="rodape"></span>
                    </div>
                    {% for cantor in cantor|slice:"0:5"  %}
                        <div id="bloco">
                            <a title="{{ cantor.titulo }}" href="{{ cantor.get_absolute_url }}">
                                <div id="img">
                                    <img src="{{ cantor.foto01.url_300x225 }}" alt="{{ cantor.titulo }}" >
                                </div>
                            </a>
                            <p class="chapeu_home">{{ cantor.chamada }}</p>
                            <a title="{{ cantor.nome }}" href="{{ cantor.get_absolute_url }}">
                                <h2 class="titulomusica">{{ cantor.nome }}</h2>
                            </a>
                        </div>
                    {% endfor %}
                </div>
        </div>

        <div id="publicidade-adsense-banner-728x90">


                {% include 'adsense/728x90-misto.html' %}

        </div>

     <div id="ContainerSecao2">
            <div id="secao2">
                <div id="conteudos2">
                    <h1 class="tituloSecao1_mus">Notícias
                        {% include "adsense/nada.html" %}
                        <a href="#">

                        </a>
                    </h1>

                    <div id="borda">
                        <span class="rodape"></span>
                    </div>
                    {% for musica in music_list|slice:"0:5"  %}
                        <div id="bloco">
                            <a title="{{ musica.titulo }}" href="{{ musica.get_absolute_url }}">
                                <div id="img">
                                    <img src="{{ musica.imagem.url_200x150  }}" alt="{{ musica.titulo }}" >
                                </div>
                            </a>
                            <p class="chapeu_home">{{ musica.chamada }}</p>
                            <a title="{{ musica.titulo }}" href="{{ musica.get_absolute_url }}">
                                <h2 class="titulomusica">{{ musica.titulo|truncatewords:6 }}</h2>
                            </a>
                        </div>
                    {% endfor %}
                        <a href="/musica/">
                            <div class="mais_noticias">
                                Mais música
                            </div>
                        </a>
                </div>
        </div>

        </div>

    <div id="corpo2">
        <div id="containerInternaMusicas">
            <div id="conteudoInterna">
                <h1 class="tituloSecao1Musica">Top Cantores</h1>
                <div id="borda8_2Musica">
                </div>
                <span class="rodape_interna2"></span>

                {% for noticia in letra_recent %}
                    <div id="listaMusicas">
                        <a href="{{  noticia.get_absolute_url }}">
                            <div id="limite_numbers">
                                <span class="number">1</span>
                                {% if noticia.album_nome.imagem %}
                                    <img style="float: left; margin-right: 20px" src="{{ noticia.album_nome.imagem.url_100x75 }}" width="50" >
                                {% else %}
                                    <img style="float: left; margin-right: 20px" src="{{ noticia.album_nome.cantor_nome.foto01.url_100x75 }}" width="50" >
                                {% endif %}
                            </div>
                            <p class="chapeu">{{ noticia.chamada }}</p>
                            <p class="titulobloco1_musicaInterna">{{ noticia.titulo }}</p>
                            <p class="subhome">{{ noticia.subtitulo }}</p>
                        </a>
                    </div>
                {% endfor %}
                <div id="paginac">
                    <div id="botoes">
                    </div>
                </div>
            </div>

        </div>

        <div id="containerInternaMusicas">
            <div id="conteudoInterna">
                <h1 class="tituloSecao1Musica">Top Músicas</h1>
                <div id="borda8_2Musica">
                </div>
                <span class="rodape_interna2"></span>

                {% for noticia in letra_recent %}
                    <div id="listaMusicas">
                        <a href="{{  noticia.get_absolute_url }}">
                            <div id="limite_numbers">
                                <span class="number">1</span>
                                {% if noticia.album_nome.imagem %}
                                <img style="float: left; margin-right: 20px" src="{{ noticia.album_nome.imagem.url_100x75 }}" width="50" >
                                {% else %}
                                <img style="float: left; margin-right: 20px" src="{{ noticia.album_nome.cantor_nome.foto01.url_300x225 }}" width="50" >
                                {% endif %}
                            </div>
                            <p class="chapeu">{{ noticia.chamada }}</p>
                            <p class="titulobloco1_musicaInterna">{{ noticia.titulo }}</p>
                            <p class="subhome">{{ noticia.subtitulo }}</p>
                        </a>
                    </div>
                {% endfor %}
            <div id="paginac">
                <div id="botoes">

                </div>
            </div>
            </div>

            </div>


        </div>
        {% include "sidebar/sidebar-noticia.html" %}
        </div>
     </div>
{% include "footer/footer.html" %}
