{% include "header/header-letra-cantor.html" %}
<div id="containermeio" xmlns="http://www.w3.org/1999/html">
    <div id="corpo3_interna_download">
        <div id="containerInterna">
            <div id="conteudoInterna">
                <div id="comentario">
                <h1 class="tituloInterna" itemprop="name"><div id="foto"><img src="{{ cantor.foto01.url_100x75 }}"></div>{{ cantor.nome }}</h1>
                    <h1 class="tituloSecao1Video2">Todas as letras de {{ cantor.nome }}</h1>

                    <div id="borda8_2">
                        <span class="rodape_interna_subinterna"></span>
                    </div>
                    {% for letra in letra_list %}
                        <div id="lista_letra">
                            <a href="{{ letra.get_absolute_url }}" title="Letra {{ letra.titulo }} - {{ letra.album_nome.cantor_nome.nome }}"><h1 class="titulobloco1_sidebar">{{ letra.titulo }}</h1></a>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>

        </div>
</div>
{% include "footer/footer.html" %}