{% include "header/header-letra.html" %}
<div id="containermeio" xmlns="http://www.w3.org/1999/html">
    <div id="corpo3_interna_download">
        <div id="containerInterna">
            <div id="conteudoInterna">

                <div id="breadcrumb">
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title" title="Letras de música gospel">juvenis.com.br</span></a> ›</span>
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{% url 'noticias.views.letras' %}" itemprop="url"><span itemprop="title">Letras</span></a> ›</span>
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ letra.album_nome.cantor_nome.letra_cantor_url }}" itemprop="url" title="Mais letras de músicas de {{ letra.album_nome.cantor_nome.nome }}"><span itemprop="title">{{ letra.album_nome.cantor_nome.nome }}</span></a> ›</span>
                    <span itemprop="title">{{ letra.titulo }}</span>
                </div>
                <div itemscope itemtype="http://schema.org/MusicRecording">
                <h1 class="tituloInterna" itemprop="name">
                    <div id="foto">
                        <img src="{{ letra.album_nome.cantor_nome.foto01.url_100x75 }}">
                    </div>
                    {{ letra.titulo }}
                </h1>

                <p class="subtitulo">Letra música {{ letra.titulo }} do álbum  <b itemprop="inAlbum">{{ letra.album_nome.titulo }}</b> de {{ letra.album_nome.cantor_nome }}</p>
                <div id="barratop">
                    <div id="nomimg">
                        <p class="autor"><p class="aut2">Juvenis em {{ letra.criado_em|date:"d-F-Y" }}</p></p>
                    </div>
                    <div id="midias">
                        <div id="f1"><div class="fb-like" data-href="http://juvenis.com.br{{ letra.get_absolute_url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></div>
                        <div id="f1"><g:plusone></g:plusone></div>
                        <div id="tw"><a href="http://juvenis.com.br{{ letra.get_absolute_url }}" class="twitter-share-button" data-url="http://juvenis.com.br{{ letra.get_absolute_url }}" data-via="JuvenisThe" data-lang="en">Tweet</a></div>
                    </div>
                </div>
                <div id="texto">
                    <div id="limite_texto">
                        <div id="right">
                            {% if letra.urlvideo %}
                            <div id="publicidade_interna_right" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
                            <meta itemprop="thumbnail" content="http://img.youtube.com/vi/{{ letra.urlvideo }}/hqdefault.jpg" />
                                <iframe width="300" height="250" src="http://www.youtube.com/embed/{{ letra.urlvideo }}" frameborder="0" allowfullscreen></iframe>
                            </div>
                            {% endif %}
                            <div id="publicidade_interna_right">
                                {% include "adsense/300x250-misto-interna-cima.html" %}
                            </div>
                         </div>
                        <div itemprop=description>{{ letra.conteudo|safe }}</div>

                    </div>
                </div>
                </div>

                <div id="">
                    {% include "adsense/480x60-texto.html" %}
                </div>

                <div id="comentario">
                    <h1 class="tituloSecao1Video2">Comente</h1>
                    <span class="rodape_interna"></span>

                    <div id="publi_left">
                        <div id="publicidade_interna">
                                {% include "adsense/300x250-misto-letra.html" %}
                        </div>
                     </div>
                    <div id="comFacebook">
                        <div class="fb-comments" data-href="http://juvenis.com.br{{ letra.get_absolute_url }}" data-width="630" data-numposts="5" data-colorscheme="light"></div>
                    </div>

                </div>

                <div id="comentario">
                    <h1 class="tituloSecao1Video2">Todas as letras de <a href="{{ letra.album_nome.cantor_nome.letra_cantor_url }}">{{ letra.album_nome.cantor_nome.nome }}</a></h1>

                    <div id="borda8_2">
                        <span class="rodape_interna_subinterna"></span>
                    </div>
                    {% for l in relacionados %}
                        <div id="lista_letra">
                            <a href="{{ l.get_absolute_url }}" title="Letra {{ l.titulo }} - {{ l.album_nome.cantor_nome.nome }}"><h1 class="titulobloco1_sidebar">{{ l.album_nome.cantor_nome.nome }} - {{ l.titulo }}</h1></a>
                        </div>
                    {% endfor %}
                </div>

                <div id="comentario">
                    <h1 class="tituloSecao1Video2">Mais notícias</h1>
                    <span class="rodape_interna"></span>
                    {% for noticia in musicas %}
                        <div id="bloco_rel">
                            <p class="chapeu_sidebar">{{ noticia.cantor_nome.nome }}</p>
                            <a title="{{ noticia.titulo }}" href="{{ noticia.get_absolute_url }}">
                                {% if noticia.imagem %}
                                <div id="img">
                                    <img src="{{ noticia.imagem.url_200x150 }}" alt="{{ noticia.titulo }}" width="220" >
                                </div>
                                {% endif %}
                            </a>
                            <p class="chapeu">{{ noticia.chamada }}</p>
                            <a title="{{ noticia.titulo }}" href="{{ noticia.get_absolute_url }}">
                                <h2 class="titulobloco1">{{ noticia.titulo }}</h2>
                            </a>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

        </div>
</div>
{% include "footer/footer.html" %}