{% include "header/header-mapa.html" %}
<div id="containermeio">
    <div id="corpo3">
        <div id="containerInterna">
            <div id="conteudoInterna">
                <p class="mapa">
                    <a href="/">Início</a> >>
                    <a href="{% url 'noticias.views.locais' %}">Locais</a> >>
                    <a href="/{{ noticia.categoria_nome.get_absolute_url }}">{{ noticia.categoria_nome.nome }}</a> >>
                    {{ noticia.nome }}
                </p>

                <h1 class="tituloInterna">{{ noticia.nome }}</h1>
                <p class="subtitulo">{{ noticia.nome }} localizado na cidade de {{ noticia.cidade_uf.nome }} no estado {{ noticia.cidade_uf.uf }} - {{ noticia.cidade_uf.get_uf_display }}. Veja endereço, telefone, cep, rua e onde fica a localização.</p>

                <div id="barratop">
                    <div id="nomimg">
                        <p class="autor">
                                <p class="aut2">Dados atualizados em {{ noticia.atualizado_em|date:"d-F-Y" }}</p>
                        </p>
                    </div>

                    <div id="midias">
                        <div id="f1"><div class="fb-like" data-href="http://juvenis.com.br{{ noticia.get_absolute_url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></div>
                        <div id="f1"><g:plusone></g:plusone></div>
                        <div id="tw"><a href="http://juvenis.com.br{{ noticia.get_absolute_url }}" class="twitter-share-button" data-url="http://juvenis.com.br{{ noticia.get_absolute_url }}" data-via="JuvenisThe" data-lang="pt">Tweet</a></div>
                    </div>
                </div>

                <div id="texto">
                    {% if noticia.imagem %}
                    <div id="gallery">
                        <div id="imgdestaque">
                           <div id="imgd">
                               <a id="example8" href="{{ MEDIA_URL }}{{ noticia.imagem }}" title="{{ noticias.subtitulo }}">
                                    <img src="{{ noticia.imagem.url_800x600 }}">
                               </a>
                           </div>
                        </div>
                    </div>
                    {% endif %}

                    <div id="limite_texto">
                        <div id="publicidade_interna">
                            {% include "adsense/300x250-misto-interna-cima.html" %}
                        </div>
                        {{ noticia.conteudo|safe }}

                        <p>
                            <p><b>Informações de contato</b></p>
                            <div itemscope itemtype="http://data-vocabulary.org/Organization">
                                <p><span itemprop="name">{{ noticia.nome }}</span></p>
                                <p>Endereço
                                    <span itemprop="address" itemscope
                                          itemtype="http://data-vocabulary.org/Address">
                                        <span itemprop="street-address">{{ noticia.endereco }}</span>,
                                        <span itemprop="locality">{{ noticia.cidade_uf.nome }}</span>,
                                        <span itemprop="region">{{ noticia.cidade_uf.uf }}</span>.
                                    </span>
                                </p>
                                {% if noticia.telefone %}<p>Telefone: <span itemprop="tel">{{ noticia.telefone }}</span>.</p>{% endif %}
                                {% if noticia.site %}<p>Site<a href="http://www.example.com" itemprop="url">{{ noticia.site }}</a></p>.{% endif %}
                            </div>

                        </p>

                        {% if noticia.tags %}
                            <div id="tags">
                                {% for tag in noticia.get_tags %}
                                Veja mais textos sobre: <a href="/tag/{{ tag }}">{{ tag }}</a>, {{ noticia.categoria_nome.nome }}
                                {% endfor %}
                            </div>
                        {% endif %}

                         <div id="maps">
                             <div id="map_canvas"></div><script type="text/javascript">initialize({{ noticia.lat_long }}, 15, '{{ noticia.nome }}');</script><small>Clique no logo do Google para ampliar o mapa.</small>
                         </div>
                    </div>
                </div>

                <div id="publicidade_interna_sub">
                {% include "adsense/480x60-texto.html" %}
                </div>

                <div id="comentario">
                    <h1 class="tituloSecao1Video2">Comente</h1>
                    <div id="borda8_2"><span class="rodape_interna_subinterna"></span></div>
                    <div id="comFacebook">
                        <div class="fb-comments" data-href="http://juvenis.com.br{{ noticia.get_absolute_url }}" data-num-posts="5" data-width="630"></div>
                    </div>
                </div>

                {% if relacionados %}
                <div id="relacionadas">
                    <h1 class="tituloSecao1_relacionadas">Mais {{ noticia.categoria_nome.nome|lower }} em {{ noticia.cidade_uf.nome }}</h1>
                    <div id="borda8_2"><span class="rodape_interna_subinterna"></span></div>
                    <!-- Código das postagens relacionadas -->
                    {% for local in relacionados %}
                        <div id="itemRelacionada">{% if local.imagem %}
                            <a href="{{ local.get_absolute_url }}">
                                <img src="{{ local.imagem.url_300x225 }}" width="200">
                            </a>{% endif %}
                            <a href="{{ local.get_absolute_url }}">
                                <h1 class="titulobloco1">{{ local.nome }}</h1>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
        {% include "sidebar/sidebar-noticia.html" %}
</div>
{% include "footer/footer.html" %}