{% include "header/header-shopping.html" %}
    <div id="corpo">
        <div id="ContainerSecao2">
            <div id="secao2Shop">
                <div id="conteudos2">
                    <h1 class="tituloShop">ShopJuvenis</h1>
                    <div id="borda8">
                        <span class="rodape"></span>
                    </div>
                    <div id="listaProdutos">
                        <div id="produto">
                            <div id="imgProduto">
                                <img id="image1" border="0" src="{{ produto.fotoum.url_800x600 }}" width="272">
                            </div>

                        </div>
                        <div id="descricaoProduto">
                            <p class="produtoTitulo">{{ produto.titulo }}</p>
                            <p class="promo">De: R$ {{ produto.preconormal }}</p>
                            <p class="vFinal">Por: R$ {{ produto.precofinal }}</p>
                            <p class="descproduto">{{ produto.conteudo|safe }}</p>
                            <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
                        <form target="pagseguro" action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post">
                            <input type="hidden" name="receiverEmail" value="webjuniorlima@gmail.com" />
                            <input type="hidden" name="currency" value="BRL" />
                            <input type="hidden" name="itemId" value="036854" />
                            <input type="hidden" name="itemDescription" value="{{ produto.conteudo }}" />
                            <input type="hidden" name="itemQuantity" value="1" />
                            <input type="hidden" name="itemAmount" value="{{ produto.precofinal }}" />
                            <input type="hidden" name="itemWeight" value="" />
                            <input type="hidden" name="itemShippingCost" value="0.00" />
                            <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/205x30-pagar-laranja.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                        </form>
                        <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
                            <a href="#">
                                <div id="btnComprar">Comprar</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="shadowsecao"></div>
        </div>
        </div>

    {% include "footer/footer.html" %}