{% include "header/header-noticia.html" %}
    <div id="corpo">
        <div id="ContainerSecao2">
            <div id="secao2_in">
                <div id="conteudos2">
                <p class="mapaVideo"><a href="/">Início</a> >> <a href="/videos/">Vídeos</a></p>
                    <h1 class="tituloInternaVideo">{{ noticia.titulo }}
                        {% for publicidade in publicidade %}
                            {% if publicidade.tipo == '2' %}
                                <div id="publicidadeTijolo1">
                                    <p class="legenda">Publicidade</p>
                                    <a href="{{ publicidade.link }}" target="_blank">
                                         <img src="{{ MEDIA_URL }}{{ publicidade.arquivo }}" width="300" height="55">
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </h1>
                    <p class="subtituloVideo">{{ noticia.subtitulo }}</p>
                    <div id="borda">
                        <span class="rodape"></span>
                    </div>
                    <div id="midiasInterna">
                        <div id="f1"><div class="fb-like" data-href="http://juvenis.com.br{{ noticia.get_absolute_url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></div>
                        <div id="f1"><g:plusone></g:plusone></div>
                        <div id="tw"><a href="http://juvenis.com.br{{ noticia.get_absolute_url }}" class="twitter-share-button" data-url="http://juvenis.com.br{{ noticia.get_absolute_url }}" data-via="JuvenisThe" data-lang="en">Tweet</a></div>
                    </div>
                    {% for video in noticia.video_noticia_set.all %}
                    <div id="embe">
                       <iframe width="990" height="496" src="http://www.youtube.com/embed/{{ video.url }}?showinfo=0&&cc_load_policy=1"  frameborder="0" allowfullscreen></iframe>
                    </div>
                    {% endfor %}
                    <p class="subtituloVideo">{{ noticia.conteudo|safe }}</p>
                </div>
                <div id="comentarioVideo">
                    <h1 class="tituloSecao1Video2">Comente</h1>
                    <div id="borda8_2">
                        <span class="rodape_internaSubVideo"></span>
                    </div>
                    <div id="comFacebook">
                        <div class="fb-comments" data-href="http://juvenis.com.br{{ noticia.get_absolute_url }}" data-num-posts="5" data-width="593"></div>
                    </div>
                </div>
                <div id="sShow">
                {% include "adsense/300x250-misto-interna-cima.html" %}
                </div>
                <div id="subVideo">

                <h1 class="tituloSecao1Video">
                    <a href="/videos">
                            <span class="add">
                                +
                            </span>
                        </a>
                    Ultimos Videos</h1>
                <div id="borda8_2_soupa">
                    <span class="rodape_internaVideo"></span>
                </div>
                {% for noticia in relacionados %}
                    <div id="blocoVideos">
                        <a href="{{ noticia.get_absolute_url }}">
                            <div id="posivideoInterna2">
                                 <img src="{{ noticia.imagem.url_200x150 }}">
                            </div>
                        </a>
                        <h1 class="chapeu">{{ noticia.chamada }}</h1>
                        <p class="tituloblocoVideo1"><a href="{{ noticia.get_absolute_url }}"> {{ noticia.titulo }}</a></p>

                    </div>
                {% endfor %}

                        </div>
            </div>
        </div>
        </div>
{% include "footer/footer.html" %}