{% extends 'site/base.html' %}{% load thumbnail %}{% load humanize %}
{% block container %}
      <div class="row main-body principal" data-stickyparent>
        <div class="col-md-8">
          <section class="admag-block">
            <div class="row">
              <div class="col-md-3">
                <div class="news-feed">
                  <!--<h3 class="block-title"><span>Just Posted</span></h3>-->
                  <ul class="widget-content">
                      {% for noticia in ultimas|slice:"6:10" %}
                    <li>
                      <article>
                          <h3 class="cat-color-{{ noticia.categoria.color }}">
                            <a href="{{ noticia.get_absolute_url }}">{{ noticia.titulo }}</a>
                          </h3>
                          <p><span><i class="fa fa-clock-o"></i> {{ noticia.data_publicacao|naturaltime }}</span></p>
                      </article>
                    </li>
                      {% endfor %}


                  </ul>
                </div>
              </div>

              <div class="col-md-9">
                  <div class="flexslider">
                      <div class="featured-slider">
                          {% for noticia in destaques %}
                          <div class="slider-item">
                              <article class="news-block">
                                  <a href="{{ noticia.get_absolute_url }}" class="overlay-link">
                                      <figure class="image-overlay"><img src="{{ noticia.imagem|thumbnail_url:'home_carrossel_540' }}" alt=""/></figure>
                                  </a>
                                  <a href="{{ noticia.categoria_get_absolute_url }}" class="category bg-color-{{ noticia.categoria.color }}">{{ noticia.categoria.nome }}</a>
                                  <div class="news-details">
                                      <h3 class="news-title carrossel cat-color-{{ noticia.categoria.color }}"><a href="{{ noticia.get_absolute_url }}">{{ noticia.titulo }}</a></h3>
                                      <!--<p>I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here.</p>-->
                                  </div>
                              </article>
                          </div>
                          {% endfor %}

                      </div>
                  </div>
              </div><!-- End mid column -->
            </div>
          </section>

                  <!-- Mid ad -->
        {% include 'site/ads/02-cab-728x90.html' %}
                <!-- End Mid ad -->

          <!-- BEGIN BLOCK 2 -->
          <section class="news-text-block">
            <div class="row">
              <div class="col-md-12">

                <h3 class="block-title"><span><a href="#">Destaques</a></span></h3>
              </div>
            </div>

            <div class="row">
              {% for noticia in ultimas|slice:"0:2" %}
              <div class="col-md-6">
                  <article class="news-block small-block">
                      {% if noticia.imagem %}
                          <a href="{{ noticia.get_absolute_url }}" class="overlay-link">
                              <figure class="image-overlay"><img src="{{ noticia.imagem|thumbnail_url:'home_noticias_350' }}" alt="{{ noticia.titulo }}"/></figure>
                          </a>
                          <a href="{{ noticia.categoria.get_absolute_url }}" class="category bg-color-{{ noticia.categoria.color }}">{{ noticia.categoria.nome }}</a>
                          <header class="news-details"><h3 class="news-title cat-color-{{ noticia.categoria.color }}"><a href="{{ noticia.get_absolute_url }}">{{ noticia.titulo }}</a>
                          </h3><p class="simple-share"><span class="article-date"><i class="fa fa-clock-o"></i> {{ noticia.data_publicacao|naturaltime }}</span></p>
                          </header>
                        {% else %}
                        <div class="main-tech">
                            <header class="news-details">
                                <h3 class="news-title cat-color-{{ noticia.categoria.color }}"><a href="{{ noticia.get_absolute_url }}">{{ noticia.titulo }}</a></h3>
                                <article class="widget-post"><h3><a href="{{ noticia.get_absolute_url }}">{{ noticia.subtitulo }}</a></h3></article>
                                <p class="simple-share"><span class="article-date"><i class="fa fa-clock-o"></i> {{ noticia.data_publicacao|naturaltime }}</span></p>
                            </header>
                        </div>
                    {% endif %}
                </article><!-- News block -->
              </div>
                {% endfor %}
            </div>
            <div class="row">
              {% for noticia in ultimas|slice:"2:4" %}
              <div class="col-md-6">
                  <article class="news-block small-block">
                      {% if noticia.imagem %}
                          <a href="{{ noticia.get_absolute_url }}" class="overlay-link">
                              <figure class="image-overlay"><img src="{{ noticia.imagem|thumbnail_url:'home_noticias_350' }}" alt="{{ noticia.titulo }}"/></figure>
                          </a>
                          <a href="{{ noticia.categoria.get_absolute_url }}" class="category bg-color-{{ noticia.categoria.color }}">{{ noticia.categoria.nome }}</a>
                          <header class="news-details"><h3 class="news-title cat-color-{{ noticia.categoria.color }}"><a href="{{ noticia.get_absolute_url }}">{{ noticia.titulo }}</a>
                          </h3><p class="simple-share"><span class="article-date"><i class="fa fa-clock-o"></i> {{ noticia.data_publicacao|naturaltime }}</span></p>
                          </header>
                        {% else %}
                        <div class="main-tech">
                            <header class="news-details">
                                <h3 class="news-title cat-color-{{ noticia.categoria.color }}"><a href="{{ noticia.get_absolute_url }}">{{ noticia.titulo }}</a></h3>
                                <article class="widget-post"><h3><a href="{{ noticia.get_absolute_url }}">{{ noticia.subtitulo }}</a></h3></article>
                                <p class="simple-share"><span class="article-date"><i class="fa fa-clock-o"></i> {{ noticia.data_publicacao|naturaltime }}</span></p>
                            </header>
                        </div>
                    {% endif %}
                </article><!-- News block -->
              </div>
                {% endfor %}
            </div>
            <div class="row">
              {% for noticia in ultimas|slice:"4:6" %}
              <div class="col-md-6">
                  <article class="news-block small-block">
                      {% if noticia.imagem %}
                          <a href="{{ noticia.get_absolute_url }}" class="overlay-link">
                              <figure class="image-overlay"><img src="{{ noticia.imagem|thumbnail_url:'home_noticias_350' }}" alt="{{ noticia.titulo }}"/></figure>
                          </a>
                          <a href="{{ noticia.categoria.get_absolute_url }}" class="category bg-color-{{ noticia.categoria.color }}">{{ noticia.categoria.nome }}</a>
                          <header class="news-details"><h3 class="news-title cat-color-{{ noticia.categoria.color }}"><a href="{{ noticia.get_absolute_url }}">{{ noticia.titulo }}</a>
                          </h3><p class="simple-share"><span class="article-date"><i class="fa fa-clock-o"></i> {{ noticia.data_publicacao|naturaltime }}</span></p>
                          </header>
                        {% else %}
                        <div class="main-tech">
                            <header class="news-details">
                                <h3 class="news-title cat-color-{{ noticia.categoria.color }}"><a href="{{ noticia.get_absolute_url }}">{{ noticia.titulo }}</a></h3>
                                <article class="widget-post"><h3><a href="{{ noticia.get_absolute_url }}">{{ noticia.subtitulo }}</a></h3></article>
                                <p class="simple-share"><span class="article-date"><i class="fa fa-clock-o"></i> {{ noticia.data_publicacao|naturaltime }}</span></p>
                            </header>
                        </div>
                    {% endif %}
                </article><!-- News block -->
              </div>
                {% endfor %}
            </div>

          </section>
          <!-- END BLOCK 2 -->

        </div><!-- End Left big column -->

        <div class="col-md-4" data-stickycolumn>
  <aside class="sidebar clearfix">
    <!-- Mid ad -->
    {% include 'site/ads/04-qua-300x250.html' %}
    <!-- End Mid ad -->
    <div class="widget searchwidget">
      <form class="searchwidget-form">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>
    </div>

    {% if revista %}
        {% for revista in revista %}
    <div class="widget tabwidget">
      <ul class="nav nav-tabs" role="tablist" id="widget-tab">
        <li role="presentation" class="active"><a href="#tab-popular" aria-controls="tab-popular" role="tab" data-toggle="tab">Capa da Revista</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-popular">
          <article class="widget-post clearfix">
            <div class="image-overlay">
              <a href="{{ revista.get_absolute_url }}">
                <img src="{{ revista.imagem|thumbnail_url:'home_revista_350' }}" alt=""/>
              </a>
            </div>
          </article>

        </div><!-- Popular posts -->

      </div>
    </div>
        {% endfor %}
  {% endif %}

    <div class="widget tagwidget">
      <h3 class="block-title"><span>Blogueiros</span></h3>
      <ul class="tags-widget">
          {% for blog in blogs %}
        <li><a href="{{ blog.get_absolute_url }}">{{ blog.nome }}</a></li>
          {% endfor %}
      </ul>
    </div>

  </aside>
</div><!-- End last column -->      </div><!-- .main-body -->

      <section class="admag-block">
        <div class="row">
          <div class="col-md-12">
            <h3 class="block-title"><span>TV Revista Municípios</span></h3>
          </div>
        </div>

        <div class="row">
            {% for noticia in tv %}
          <div class="col-md-4">
            <article class="featured-small box-news">
              <a class="play-button" href="{{ noticia.get_absolute_url }}"><i class="fa fa-play"></i></a>
              <a href="{{ noticia.get_absolute_url }}">
                  {% if noticia.imagem %}
                <img src="{{ noticia.imagem|thumbnail_url:'home_videos_350_350' }}" alt="{{ noticia.titulo }}"/>
                  {% else %}
                {% for video in noticia.video_set.all %}<img src="http://img.youtube.com/vi/{{ video.url }}/0.jpg" alt="{{ noticia.titulo }}"/>{% endfor %}
                  {% endif %}
              </a>
              <header class="featured-header">
                <a class="category bg-color-{{ noticia.categoria.color }}" href="{{ noticia.get_absolute_url }}">{{ noticia.categoria.nome }}</a>
                <h2 class="video-texto"><a href="{{ noticia.get_absolute_url }}">{{ noticia.titulo }}</a></h2>
                <p class="simple-share">
                  <span class="article-date">{{ noticia.data_publicacao|naturaltime }}</span>
                </p>
              </header>
            </article>
          </div>
            {% endfor %}
         </div><!-- End big box -->
        </section><!-- .admag-block -->

        <div class="row" data-stickyparent>
          <div class="col-md-8">
            <section class="admag-block">
              <h3 class="block-title"><span>Municípios</span></h3>
                {% for noticia in noticias_blog_on %}
              <article class="news-block big-block">
              {% if noticia.imagem %}
                <a href="{{ noticia.get_absolute_url }}" class="overlay-link">
                  <figure class="image-overlay">
                    <img src="{{ noticia.imagem|thumbnail_url:'home_noticias_800_530' }}" alt="{{ noticia.titulo }}"/>
                  </figure>
                </a>
                  {% endif %}
                <a href="{{ noticia.blog.blog.get_absolute_url }}" class="category">
                  {{ noticia.blog.blog.nome }}
                </a>
                <header class="news-details">
                  <h3 class="news-title">
                    <a href="{{ noticia.get_absolute_url }}">
                      {{ noticia.titulo }}
                    </a>
                  </h3>
                  <p>{{ noticia.subtitulo }}</p>
                  <p class="simple-share">
                    por <b>{{ noticia.usuario.get_full_name }}</b> -
                    <span class="article-date"><i class="fa fa-clock-o"></i> {{ noticia.data_publicacao|naturaltime }}</span>
                  </p>
                </header>
              </article>
                {% endfor %}
            {% for noticia in noticias_blog_off|slice:"1:" %}
              <article class="simple-post simple-big clearfix">
              {% if noticia.imagem %}
                <div class="simple-thumb">
                  <a href="{{ noticia.get_absolute_url }}">
                    <img src="{{ noticia.imagem|thumbnail_url:'home_noticias_320' }}" alt="{{ noticia.titulo }}"/>
                  </a>
                </div>
                  {% endif %}
                <header>
                  <p class="simple-share">
                    <a href="{{ noticia.blog.blog.get_absolute_url }}">{{ noticia.blog.blog.nome }}</a> /
                    por {{ noticia.usuario.get_full_name }} -
                    <span><i class="fa fa-clock-o"></i> {{ noticia.data_publicacao|naturaltime }}</span>
                  </p>

                  <h3>
                    <a href="{{ noticia.get_absolute_url }}">{{ noticia.titulo }}</a>
                  </h3>

                  <p class="excerpt">
                    {{ noticia.subtitulo }}
                  </p>
                </header>
              </article>
            {% endfor %}

            </section><!-- .admag-block -->

            <div class="load-more">
              <button type="button" class="btn btn-lg btn-block">Ver mais notícias</button>
            </div>

          </div>
          <div class="col-md-4" data-stickycolumn>
  <aside class="sidebar">
    <div class="widget social-links">
      <h3 class="block-title"><span>Siga Nos</span></h3>
      <ul class="social-list">

        <li class="social-facebook">
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Facebook">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="social-twitter" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Twitter">
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="social-gplus">
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Google+">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
        <li class="social-youtube">
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Youtube">
            <i class="fa fa-youtube"></i>
          </a>
        </li>
        <li class="social-instagram">
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Instagram">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li class="social-pinterest">
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Pinterest">
            <i class="fa fa-pinterest"></i>
          </a>
        </li>
        <li class="social-rss">
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="RSS">
            <i class="fa fa-rss"></i>
          </a>
        </li>
      </ul>
    </div><!-- .widget .social-links -->

    <!-- Mid ad -->
    {% include 'site/ads/05-qua-300x250.html' %}
    <!-- End Mid ad -->
      <!-- .widget .adwidget -->

    <div class="widget">
      <h3 class="block-title"><span>Beleza dos Municípios</span></h3>
      <div class="row">
  <div class="col-md-12">
    <div class="flexslider">
      <div class="featured-slider">

        <div class="slider-item">
          <img src="http://placehold.it/350x230" alt=""/>
        </div>

        <div class="slider-item">
          <img src="http://placehold.it/350x230" alt=""/>
        </div>

        <div class="slider-item">
          <img src="http://placehold.it/350x230" alt=""/>
        </div>

        <div class="slider-item">
          <img src="http://placehold.it/350x230" alt=""/>
        </div>

        <div class="slider-item">
          <img src="http://placehold.it/350x230" alt=""/>
        </div>

      </div>
    </div>
  </div>
</div>    </div><!-- .widget -->
    <!-- Mid ad -->
    {% include 'site/ads/06-bot-125x125.html' %}
    <!-- End Mid ad -->

  </aside><!-- End sidebar -->
</div><!-- .col-md-4 .sticky-div -->        </div>
{% endblock %}