{% extends 'site/base.html' %}{% load thumbnail %}{% load humanize %}
{% block titulo %}<title>{{ noticia.titulo }} - Revista Município</title>{% endblock %}
{% block description %}<meta name="description" content="{{ noticia.subtitulo }} - Revista Município">{% endblock %}
{% block extraheader %}
    <script type="text/javascript" charset="utf-8">
        $(window).load(function() {
            $('#main-slider').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                itemWidth: 300,
                itemMargin: 5,
                asNavFor: '#flexsliderads'
            });
            $('#flexsliderads').flexslider({
                animation: "fade",
                controlNav: false,
                animationLoop: false,
                sync: "#main-slider"
            });
        });
    </script>
{% endblock %}
{% block color-menu %}<li class="dropdown">{% endblock %}
{% block color-bg %}<body class="body-color{{ noticia.categoria.color }}">{% endblock %}
{% block ads-top-01 %}
    <div class="header-banner">
        <div id="flexsliderads" class="flexslider">
            <div class="featured-slider">
                <div class="slider-item"><a href=""><img src="http://placehold.it/728x90" alt="" /></a></div>
                <div class="slider-item"><a href=""><img src="http://placehold.it/728x90" alt="" /></a></div>
            </div>
        </div>
    </div>

{% endblock %}
{% block container %}

      <div class="row blog-content" data-stickyparent>
        <div class="col-md-8" data-stickycolumn>

          <article class="post-wrapper clearfix">

            <header class="post-header">

              <h1 class="post-title">
                {{ noticia.titulo }}
              </h1><!-- .post-title -->

              <a href="#" class="category bg-color-{{ noticia.categoria.color }}">
                {% block categoria-noticia %}{{ noticia.categoria.nome }}{% endblock %}
              </a>

              <p class="simple-share">
                <span>por <a href="page_author.html"><b>{{ noticia.usuario.get_full_name }}</b></a></span>
                <span><span class="article-date"><i class="fa fa-clock-o"></i> {{ noticia.data_publicacao|naturaltime }}</span></span>
                <!--<span><i class="fa fa-eye"></i> 1349 views</span>-->
                    <span class="fb-comments-count" href="#comments" data-href="http://localhost:8000{{ noticia.get_absolute_url }}"></span>
              </p>
            {% if noticia.categoria_id == 7 %}
                {% for video in noticia.video_set.all %}
                <figure class="image-overlay slider-one">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/{{ video.url }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
              </figure>
                {% endfor %}
            {% endif %}
            <p><h3>{{ noticia.subtitulo }}</h3></p>
                {% if noticia.imagem %}
                    {% if noticia.posicao_foto == '1' %}
                        <figure class="image-overlay">
                            <img src="{{ noticia.imagem|thumbnail_url:'home_noticias_800_nocrop' }}" alt="{{ noticia.titulo }}">
                        </figure>
                    {% elif noticia.posicao_foto == '2' %}
                        <div class="wp-caption alignleft">
                            <a href="http://placehold.it/1200x600" class="popup-image">
                                <img class="size-medium" src="{{ noticia.imagem|thumbnail_url:'home_noticias_320' }}" alt="{{ noticia.titulo }}">
                            </a>
                            <p class="wp-caption-text">This is the image caption</p>
                        </div>
                    {% else %}
                        <div class="wp-caption alignright">
                            <a href="http://placehold.it/1200x600" class="popup-image">
                                <img class="size-medium" src="{{ noticia.imagem|thumbnail_url:'home_noticias_320' }}" alt="{{ noticia.titulo }}">
                            </a>
                            <p class="wp-caption-text">This is the image caption</p>
                        </div>
                    {% endif %}
                {% endif %}



            </header><!-- .post-header -->
            <div class="col-md-5 ads-noticia">
                <div id="main-slider" class="flexslider">
                    <div class="featured-slider">
                        <div class="slider-item"><img src="http://placehold.it/300x250" /></div>
                        <div class="slider-item"><img src="http://placehold.it/300x250" /></div>
                        <div class="slider-item"><img src="http://placehold.it/300x250" /></div>
                    </div>
                </div>
            </div>
            <div class="post-content clearfix">
              <p>{{ noticia.conteudo|safe }}</p>
            </div><!-- .post-content -->

            <footer class="post-meta">

              <div class="share-wrapper clearfix">
                <div class="total-shares">
                  <em id="countUp" data-count="267">267</em>
                  <div class="caption">Shares</div>
                </div>

                <div class="share-buttons">
                  <a class="social-share facebook" href="http://localhost:8000{{ noticia.get_absolute_url }}">
                    <i class="fa fa-facebook"></i>
                    <span class="alt-text">Compartilhar</span>
                  </a>
                  <a class="social-share twitter" href="http://localhost:8000{{ noticia.get_absolute_url }}">
                    <i class="fa fa-twitter"></i>
                    <span class="alt-text">Twittar</span>
                  </a>
                  <a class="social-share google-plus" href="http://localhost:8000{{ noticia.get_absolute_url }}">
                    <i class="fa fa-google-plus"></i>
                  </a>
                  <a class="social-share linked_in" href="http://localhost:8000{{ noticia.get_absolute_url }}">
                    <i class="fa fa-linkedin"></i>
                  </a>
                  <a class="social-share pinterest" href="http://localhost:8000{{ noticia.get_absolute_url }}">
                    <i class="fa fa-pinterest"></i>
                  </a>
                </div>
              </div>

              <div class="row">
                <div class="post-nav-wrapper clearfix">
                  <div class="col-md-6 omega">
                    <div class="previous-post">
                      <div class="post-nav-label">
                        <i class="fa fa-angle-left"></i>
                        Anterior
                      </div>
                      <a href="{{ noticia.get_prev.get_absolute_url }}" class="post-nav-title">{{ noticia.get_prev }}</a>
                    </div>
                  </div>

                  <div class="col-md-6 alpha">
                    <div class="next-post">
                      <div class="post-nav-label">
                        Proximo
                        <i class="fa fa-angle-right"></i>
                      </div>
                      <a href="{{ noticia.get_next.get_absolute_url }}" class="post-nav-title">{{ noticia.get_next }}</a>
                    </div>
                  </div>
                </div><!-- .post-nav-wrapper -->
              </div>

            </footer>

          </article><!-- .post-wrapper -->
{% if relacionadas %}
          <div class="related-posts clearfix">
  <h3 class="block-title"><span>Relacionadas</span></h3>
  <div class="row">
      {% for noticias in relacionadas %}
    <div class="col-md-6">
      <article class="news-block small-block">
          <figure class="image-overlay">
            <img src="{{ noticias.imagem|thumbnail_url:'home_noticias_350' }}" alt="{{ noticia.titulo }}">
          </figure>

        <a href="{{ noticias.categoria.get_absolute_url }}" class="category">
          {{ noticias.categoria.nome }}
        </a>
        <header class="news-details">
          <h3 class="news-title">
            <a href="{{ noticias.get_absolute_url }}">
              {{ noticias.titulo }}
            </a>
          </h3>
          <p class="simple-share">
            por <b>{{ noticias.usuario.get_full_name }}</b> -
            <span class="article-date"><i class="fa fa-clock-o"></i> {{ noticias.data_publicacao|naturaltime }}</span>
          </p>
        </header>
      </article>
    </div>
      {% endfor %}
  </div><!-- .row -->

</div><!-- .related-post -->
        {% endif %}
          <!-- Mid ad -->
<div class="row">
   <div class="col-md-12">
     <div class="ad728-wrapper mid-wrapper">
       <a href="#">
         <img src="http://placehold.it/728x90" alt=""/>
       </a>
     </div>
   </div>
</div>
<!-- End Mid ad -->
          <!-- Comment List -->
<div id="comments" class="comments-wrapper clearfix">
  <h3 class="block-title"><span>Comentários</span></h3>

<div class="fb-comments" data-href="http://localhost:8000{{ noticia.get_absolute_url }}" data-width="100%" data-numposts="5"></div>
</div>
        </div><!-- End Left big column -->

        {% include 'site/sidebar-interna.html' %}
      </div><!-- .blog-content -->
{% include 'site/includes/scripts.html' %}
{% endblock %}