{% load thumbnail %}
<div class="col-md-4" data-stickycolumn>
  <aside class="sidebar clearfix">

    <!-- Mid ad -->
    {% include 'site/ads/04-qua-300x250.html' %}
    <!-- End Mid ad -->

    <div class="widget searchwidget">
      <form class="searchwidget-form">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>
    </div>

  {% block noti-mun %}{% endblock %}

  <div class="widget social-links">
      <h3 class="block-title"><span>Siga Nos</span></h3>
      <ul class="social-list">

        <li class="social-facebook">
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Facebook">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="social-twitter" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Twitter">
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="social-gplus">
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Google+">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
        <li class="social-youtube">
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Youtube">
            <i class="fa fa-youtube"></i>
          </a>
        </li>
        <li class="social-instagram">
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Instagram">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li class="social-pinterest">
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Pinterest">
            <i class="fa fa-pinterest"></i>
          </a>
        </li>
        <li class="social-rss">
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="RSS">
            <i class="fa fa-rss"></i>
          </a>
        </li>
      </ul>
    </div>

  {% if revista %}
    <div class="widget tabwidget">
      <ul class="nav nav-tabs" role="tablist" id="widget-tab">
        <li role="presentation" class="active"><a href="#tab-popular" aria-controls="tab-popular" role="tab" data-toggle="tab">Capa da Revista</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-popular">
          <article class="widget-post clearfix">
            <div class="image-overlay">
              <a href="{{ revista.get_absolute_url }}">
                <img src="{{ revista.imagem|thumbnail_url:'home_revista_350' }}" alt=""/>
              </a>
            </div>
          </article>

        </div><!-- Popular posts -->

      </div>
    </div>
  {% endif %}

    <div class="widget categorywidget">
      <h3 class="block-title"><span>Municípios</span></h3>
      <ul>
          {% for blog in blogs %}
        <li>
          <a href="{{ blog.get_absolute_url }}">{{ blog.nome }}</a>
        </li>
          {% endfor %}

      </ul>
    </div  >

  <div class="widget reviewwidget">
      <h3 class="block-title"><span>Últimas</span></h3>
        {% for noticia in ultima_lista %}
      <article class="widget-post clearfix">
      {% if noticia.imagem %}
        <div class="simple-thumb">
          <a href="{{ noticia.get_absolute_url }}">
            <img src="{{ noticia.imagem|thumbnail_url:'sidebar_95_80' }}" alt="{{ noticia.titulo }}"/>
          </a>
        </div>
          {% endif %}
        <header>
          <h3>
            <a href="{{ noticia.get_absolute_url }}">{{ noticia.titulo }}</a>
          </h3>
            <p class="simple-share">
                <span><a href="{{ noticia.blog.blog.get_absolute_url }}">  {{ noticia.blog.blog.nome }}</a></span>
            </p>
        </header>
      </article>
        {% endfor %}

    </div><!-- End review widget -->

    <!-- Mid ad -->
    {% include 'site/ads/04-qua-300x250.html' %}
    <!-- End Mid ad -->

  </aside>
</div><!-- End last column -->