<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Juvenis - Notícias, Eventos, Letras, Música, Download e Vídeos Gospel</title>
    <meta name="description" content="Juvenis é um site cristão com notícias gospel, música gospel, vídeos cristãos, estudos e artigos bíblicos, letras, downloads e humor com conteúdo evangélico." />
    <meta name="revisit-after" content="7 days" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{{ STATIC_URL }}site/css/layout.css" rel="stylesheet" type="text/css" />
    <!-- Facebook -->
    <meta property="og:title" content="Juvenis - Portal com conteúdo evangélico"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.juvenis.com.br/"/>
    <meta property="og:image" content="http://juvenis.com.br/static/site/img/juvenis-logo.png"/>
    <meta property="og:site_name" content="Juvenis" />
    <meta property="og:description" content="Juvenis é um site cristão com notícias gospel, música gospel, vídeos cristãos, estudos e artigos bíblicos, letras, downloads e humor com conteúdo evangélico."/>
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="600">
    <!-- Google Plus -->
    <link href="https://plus.google.com/108260175010004524527" rel="publisher" />

    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}site/img/favicon.png" />
    {% block header %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery-1.9.0.min.js"></script>

    <script src="{{ STATIC_URL }}site/js/slides.min.jquery.js"></script>

    <script src="{{ STATIC_URL }}site/js/slide.js"></script>

    <script src="{{ STATIC_URL }}site/js/Timer.js" type="text/javascript"></script>
    <meta name="google-site-verification" content="SKeeRx1QFHiX3sU9v_2OM5r5T9pTJkm9g1VWp0KAuMw" />
    {% endblock %}
</head>
<body>
{% include "site/menu.html" %}
{% block container %}
{% endblock %}
<div class="footer2">
    <div class="containerFooter2">
        <div class="mod-footer"><a name="footer"></a><div>
            <center><ul>
                <li><a href="/" target="_top">Capa</a></li> |
                <li><a href="/blog/" target="_top">Blogs</a></li> |
                <li><a href="/ultimas-noticias/" target="_top">Notícias</a></li> |
                <li><a href="/downloads/" target="_top">Downloads</a></li> |
                <li><a href="/eventos/" target="_top">Eventos</a></li> |
                <li><a href="/humor/" target="_top">Humor</a></li> |
                <li><a href="/humor/" target="_top">Artigos</a></li> |
                <li><a href="/shopping/" target="_top">Shopping</a></li> |
                <li><a href="/musicas/" target="_top">Músicas</a></li> |
                <li><a href="/foto/" target="_top">Fotos</a></li> |
                <li class="itm-last"><a href="/videos/" target="_top">Videos</a></li>
            </ul>
                <ul class="lst-second-menu">
                    <li><a href="" target="_top">Mapa do site</a></li> |
                    <li><a href="" target="_top">Central do Assinante</a></li> |
                    <li><a href="" target="_top">Fale Conosco</a></li> |
                    <li><a href="" target="_top">Trabalhe Juvenis</a></li> |
                    <li><a href="" target="_top">Aviso Legal</a></li> |
                    <li><a href="" target="_top">Política de Privacidade</a></li> |
                    <li><a href="" target="_top">Anuncie</a></li> |
                    <li><a href="" target="_top">Twitter</a></li> |
                </ul>
            </center>
        </div>
        </div>
    </div>
    <div class="direitos">
        <div class="direitos2">
            &copy; Copyright 2016, Juvenis Brasil S.A.
        </div>
    </div>
</div>
</div>
<!-- Google Adsense -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Google Analytics -->
<script type="text/javascript"> var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-31548648-1']); _gaq.push(['_trackPageview']);  (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })(); </script>
{% block scripts %}{% endblock %}
</body>
</html>
