{% extends 'site/base.html' %}
{% block container %}
    <div class="secao1_top">
        <div class="foto_blog">
            <img src="{{ blog.imagem_capa.url_800x600 }}" height="265"/>
        </div>
        <h1 class="tituloDono">{{ blog.nome }}</h1>
        <div class="detalhes">
            {% for user in dono %}
                <h1 class="tituloSecao1Blog">@{{ user.nome_usuario }}</h1>
            {% endfor %}
            <p class="subhomeBlogIn">Igreja: {{ blog.igreja }}</p>
            <p class="subhomeBlogIn">Email: {{ blog.email }}</p>
            <p class="subhomeBlogInDesc">Descrição: {{ blog.descricao }}</p>
        </div>
    </div>

    <div class="corpo2">
        <div class="containerInternaBlog">
            <div class="conteudoInterna">
                <div class="barratopBlog"></div>

                {% for noticia in noticias %}
                    <div class="listaBlogs">
                    {% if noticia.imagem %}
                        <div class="imagemBlog">
                            <a href="{{ noticia.get_absolute_url }}"><img src="{{ noticia.imagem.url_200x150 }}" width="180" height="123"></a>
                        </div>
                    {% endif %}
                    <a href="{{ noticia.get_absolute_url }}">
                        <h1 class="tituloSecao3BlogIn">{{ noticia.titulo }}</h1>
                        <p class="subhomeBlogIn">{{ noticia.subtitulo }}</p>
                    </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="shadowInterna"></div>

    </div>
        <div class="containersidebar">
            {% include "site/sidebar.html" %}
        </div>
{% endblock %}
{% block scripts %}
{% include 'site/scripts/facebook.html' %}
{% include 'site/scripts/plus.html' %}
{% endblock %}