{% extends 'site/base.html' %}
{% block container %}
{% if noticia.blog.blog.imagem_extra %}
<header class="blog-topo">
    <a href="#">
        <img class="img-blog-topo" src="{{ noticia.blog.blog.imagem_extra.url_1030x200 }}" alt="Blog {{ noticia.blog.blog.nome }} de {{ noticia.blog.usuario.first_name }}">
    </a>
</header>
{% endif %}
<div class="containermeio">
    <div class="corpo3">
        <div class="containerInterna">
            <div class="conteudoInterna">
                <div id="breadcrumb">
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">juvenis.com.br</span></a> ›</span>
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{% url 'noticias.views.blogs' %}" itemprop="url" title="Blogs do site Juvenis"><span itemprop="title">Blogs</span></a> ›</span>
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ noticia.blog.blog.get_absolute_url }}" itemprop="url" title="Blog {{ noticia.blog.blog.nome }} de {{ noticia.blog.usuario.first_name }}"><span itemprop="title">{{ noticia.blog.blog.nome }}</span></a> ›</span>
                    <span>{{ noticia.titulo }}</span>
                </div>

                <h1 class="tituloInterna">{{ noticia.titulo }}</h1>
                <p class="subtitulo">{{ noticia.subtitulo }}</p>

                <div class="barratop">
                    <div class="nomimg">
                        <p class="autor">
                            <a rel="me" href="{{ noticia.usuario.user_colaborador_set.plus }}">
                                <img src="{{ noticia.usuario.user_colaborador_set.foto.url_32x32 }}" width="32" height="32" />
                                <p class="aut2">{{ noticia.blog.usuario.first_name }}</a> em {{ noticia.criado_em|date:"d-F-Y" }}</p>
                    </div>

                    <div class="midias">
                        <div class="f1"><div class="fb-like" data-href="http://juvenis.com.br{{ noticia.get_absolute_url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></div>
                        <div class="f1"><g:plusone></g:plusone></div>
                        <div class="tw"><a href="http://juvenis.com.br{{ noticia.get_absolute_url }}" class="twitter-share-button" data-url="http://juvenis.com.br{{ noticia.get_absolute_url }}" data-via="JuvenisThe" data-lang="pt">Tweet</a></div>
                    </div>
                </div>

                <div class="texto">
                    {% if noticia.imagem %}
                    <div class="gallery">
                        <div class="imgdestaque">
                           <div class="imgd">
                               <img src="{{ noticia.imagem.url_800x600 }}" alt="{{ noticia.titulo }}">
                           </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="limite_texto">
                        {{ noticia.conteudo|safe }}

                        {% if noticia.video_noticia_set.all %}
                        <div class="videoInterna">
                            <h1 class="tituloSecao1Video2">Video</h1>
                            <div class="borda8_2"><span class="rodape_interna"></span></div>
                            {% for video in noticia.video_noticia_set.all %}
                            <div class="embe2">
                                <iframe width="618" height="345" src="http://www.youtube.com/embed/{{ video.url }}" frameborder="0" allowfullscreen></iframe>
                            </div>
                            {% endfor %}
                            <p class="subtituloVideo">{{ video.descricao }}</p>
                        </div>
                        {% endif %}
                    </div>
                    <div class="midias">
                        <div class="f1"><div class="fb-like" data-href="http://juvenis.com.br{{ noticia.get_absolute_url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></div>
                        <div class="f1"><g:plusone></g:plusone></div>
                        <div class="tw"><a href="http://juvenis.com.br{{ noticia.get_absolute_url }}" class="twitter-share-button" data-url="http://juvenis.com.br{{ noticia.get_absolute_url }}" data-via="JuvenisThe" data-lang="pt">Tweet</a></div>
                    </div>

                    <div class="comentario">
                    <h1 class="tituloSecao1Video2">Comente</h1>
                    <div class="borda8_2"><span class="rodape_interna_subinterna"></span></div>
                    <div class="comFacebook">
                        <div class="fb-comments" data-href="http://juvenis.com.br{{ noticia.get_absolute_url }}" data-num-posts="5" data-width="630"></div>
                    </div>
                </div>

                    <div class="publicidade_interna_sub">
                    {% include "adsense/480x60-texto.html" %}
                    <p class="info_autor">As informações e opiniões emitidas neste texto são de inteira responsabilidade do autor não correspondendo, necessariamente, ao ponto de vista do <a href="http://juvenis.com.br">Juvenis.com.br</a>. Conheça a visão e a essência por trás do que fazemos. Antes de comentar, leia nossas boas práticas. Caso deseje enviar um texto e se <a href="http://juvenis.com.br/artigos/orientacoes-para-novos-autores-juvenis/">um autor, venha por aqui.</a></p>
                    </div>

                </div>

                <div class="relacionadas">
                    <p>Mais postagens minhas no <a href="{{ noticia.blog.blog.get_absolute_url }}">blog {{ noticia.blog.blog.nome }}</a></p>
                    <div class="borda8_2"><span class="rodape_interna_subinterna"></span></div>
                    <!-- Código das postagens relacionadas -->
                    {% for noticia in relacionadas %}
                        <div class="itemRelacionada">
                        {% if noticia.imagem %}
                            <a href="{{ noticia.get_absolute_url }}"><img src="{{ noticia.imagem.url_200x150 }}" width="200" alt="{{ noticia.titulo }}"></a>
                        {% endif %}
                            <a href="{{ noticia.get_absolute_url }}">
                                <h1 class="titulobloco1">{{ noticia.titulo }}</h1>
                            </a>
                        </div>
                    {% endfor %}
                </div>



                <div class="relacionadas">
                    <h1 class="tituloSecao1_relacionadas">De outros blogs que você vai gostar</h1>
                    <div class="borda8_2"><span class="rodape_interna_subinterna"></span></div>
                    <!-- Código das postagens relacionadas -->
                    {% for noticia in ultimas %}
                        <div class="itemRelacionada">
                            <a href="{{ noticia.get_absolute_url }}">
                                {% if noticia.imagem %}
                                <img src="{{ noticia.imagem.url_200x150 }}" width="200" alt="{{ noticia.titulo }}">
                                {% else %}
                                <img src="{{ noticia.blog.blog.imagem_capa.url_300x225 }}" width="200">
                                {% endif %}
                            </a>
                            <a href="{{ noticia.get_absolute_url }}">
                                <h1 class="titulobloco1">{{ noticia.titulo }}</h1>
                            </a>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
        {% include "site/sidebar.html" %}
</div>
{% endblock %}
{% block scripts %}
{% include 'site/scripts/facebook.html' %}
{% include 'site/scripts/plus.html' %}
{% include 'site/scripts/twitter.html' %}
{% endblock %}