{% load staticfiles %}  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- > meta tegs, funções para o google localizar usando palavras chaves<-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="all" />
<meta name="keywords" content="Brasil, agricultura, produtos
rurais, veterinários, rural, agropecuário, pecuária, produtos veterinários online,
ecommerce rural, loja agropecuária." />

<meta name="description" content="Brasil Agricultura, “aqui você encontra tudo para o
homem do campo: produtos rurais, veterinários, agropecuários e muito mais”." />

<link href="{% "imgs/favicon.png" %}" rel="shortcut icon" "image/png"/>


<title> Brasil Agricultura – Produtos
para o homem do campo</title>
<link rel="stylesheet" type="text/css" href="{% static "cssbanner/style.css" %}">
<link href= "{% static "CSS/estilos.css" %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{% static "jsbanner/jquery-1.11.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "jsbanner/scripts.js" %}"></script>
<script src="{% static "Scripts/swfobject_modified.js" %}" type="text/javascript"></script>
<style type="text/css">

a:link {
	color: #000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
	color: #000;
}
a:active {
	text-decoration: none;
	color: #000;
}
</style>
</head>


<body>
<div id="container" class="container">

<div id="logotipo" class="logotipo"><img src="{% static "imgs/logotipo.png" %}" width="220" height="160" alt="Brasil Agricultura" /></div>
<div id="menu" class="menu">
<p class="BarraMenu">

<a href="{% url 'core:index' %}"> Home </a>
<a href="{% url 'core:quemsomos' %}"> Quem Somos </a>
<a href="{% url 'core:produtos' %}"> Produtos </a>
<a href="{% url 'core:contatos' %}"> Contato </a>
<a href="{% url 'core:clientes' %}"> Clientes </a>
<a href="{% url 'core:extras' %}"> Extras </a></p>
</p>

</div>
<!--     AQUI ESTAMOS TRABALHANDO COM O BANNER      -->
<div id="imagem" class="imagem">
    <div id="bannerOut">
          <span></span>
          <div id="bannerMaster">   
            <img src="{% static "imagensbanner/b1.png" %}" alt="Venha conheçer nossa empressa." class="visivel"  />
            <img src="{% static "imagensbanner/b2.png" %}" alt="Seja Livre!" class="escondido"  />
          </div>  
    </div>
</div>


<div id="principal" class="principal">
  <p><img src="{% static "imgs/titulo_detalhes.png" %}" width="625" height="64" /></p>
  <p>&nbsp;</p>
  <p><span class="titulo">Pesquisa com café contribui para a sustentabilidade da produção.</span><br />
    <span class="texto">Com as tecnologias geradas pelo Consórcio Pesquisa Café os pequenos produtores<br />
    vivem uma nova realidade e estão deixando para traz aquela imagem do pequeno<br />
    produtor atrelado a técnicas ultrapassadas. O acesso ao conhecimento e às tecnologias<br />
    adequadas à pequena propriedade levou a cafeicultura familiar a um novo patamar.</span></p>
  <p><span class="texto">Hoje, o café desses produtores não só gera renda familiar como, principalmente, tem<br />
    qualidade reconhecida.<br />
    Segundo o Censo Agropecuário 2006 do Instituto Brasileiro de Geografia e<br />
    Estatística (IBGE), o Brasil possui mais de 285 mil estabelecimentos rurais de café. A<br />
    grande maioria das propriedades cafeeiras é formada por famílias de pequenos<br />
    produtores. O Simpósio de Cafeicultura Familiar, realizado em 2009 pela Prefeitura<br />
    Municipal de Poços de Caldas (MG), destacou ainda que 70% delas têm menos de 20<br />
    hectares.<br />
    </span>Evento no Rio Grande do Norte certifica Organismos de Controle Social<br />
    A VIII Semana dos Alimentos Orgânicos, que encerrou no último domingo no Rio<br />
    Grande do Norte, entregou certificados para Organismos de Controle Social (OCS) e<br />
    produtores orgânicos na cidade de Olho d´Água dos Borges, na região do Oeste do<br />
    Estado. O Mapa, responsável pelas ações de desenvolvimento da agricultura orgânica,<br />
    promoveu a campanha deste ano em parceria com várias organizações governamentais e<br />
    não-governamentais que fazem parre das Comissões da Produção Orgânica nas Unidades da Federação – CPOrgs. Em 2012, o tema se inspira na Conferência Rio + 20,<br />
    que aborda o desenvolvimento sustentável e a erradicação da pobreza. Nos demais<br />
    estados brasileiros, foram promovidas outras ações durante a Semana dos Orgânicos.<br />
    Estudo reforça cultivo de café de base ecológica<br />
    Estudo desenvolvido na Embrapa Café, empresa vinculada ao Ministério da<br />
    Agricultura, Pecuária e Abastecimento (Mapa), promove o controle de plantas daninhas<br />
    usando leguminosas herbáceas consorciadas com a cultura do café. A tese de doutorado<br />
    foi apresentada pelo pesquisador Julio Cesar Freitas Santos, na Universidade Federal de<br />
    Viçosa (UFV).<br />
    O trabalho confirmou a possibilidade do cultivo de leguminosa, como lablabe,<br />
    sirato, híbrido de Java ou amendoim forrageiro, fazer parte do manejo integrado da<br />
    lavoura cafeeira. A tecnologia consiste em utilizar uma dessas leguminosas herbáceas como cobertura viva de solo.</p>
<p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
<p>&nbsp;</p>
  <p><br />
  </p>
  <p class="imgs">&nbsp;</p>
  <p class="imgs">&nbsp;</p>
  <p class="imgs">&nbsp;</p>
</div>
<div id="noticias" class="noticias">
  <p><img src="{% static "imgs/titulo_noticias.png" %}" width="335" height="64" alt="Noticias" /></p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p><img src="{% static  "imgs/dia_29_mar.png" %}" width="60" height="61" class="imgs" /><span class="texto"><a href="{% static  "noticias.html" %}" target="_self">Pesquisa com café contribui para a sustentabilidade da produção.</a></span></p>
  <p>&nbsp;</p>
  <p><img src="{% static  "imgs/dia_28_mar.png" %}" width="60" height="61" class="imgs" /><span class="texto"><a href="{% static  "notcias.html" %}" target="_self">Evento no Rio Grande do Norte certifica organismos de controle social.</a></span></p>
  <p>&nbsp;</p>
  <p><img src="{% static "imgs/dia_27_mar.png" %}" width="60" height="61" class="imgs" /><span class="texto"><a href="{% static "noticias.html" %}" target="_self">Estudo reforça cultivo de café de base ecologica.</a></span></p>
</div>
<div id="rodape" class="rodape"><img src="{% static "imgs/rodape.png" %}" alt="" width="960" height="110" border="0" usemap="#Map" />
  <map name="Map" id="Map">
    <area shape="rect" coords="35,32,96,92" href="http://www.twitter.com.br" target="_blank" alt="Linkin do Twitter" />
    <area shape="rect" coords="108,34,169,94" href="http://www.facebook.com.br" target="_blank" alt="Linkin do Facebook" />
  </map>
</div>

</div>
<script type="text/javascript">
swfobject.registerObject("FlashID");
</script>
</body>
</html>