{% load thumbnail %}
<div class="col-md-4" data-stickycolumn>
  <aside class="sidebar clearfix">
    <!-- Mid ad -->
    {% include 'site/ads/04-qua-300x250.html' %}
    <!-- End Mid ad -->
    <div class="widget searchwidget">
      <form class="searchwidget-form">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>
    </div>

    {% if revista %}
    <div class="widget tabwidget">
      <ul class="nav nav-tabs" role="tablist" id="widget-tab">
        <li role="presentation" class="active"><a href="#tab-popular" aria-controls="tab-popular" role="tab" data-toggle="tab">Capa da Revista</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-popular">
          <article class="widget-post clearfix">
            <div class="image-overlay">
              <a href="{{ revista.get_absolute_url }}">
                <img src="{{ revista.imagem|thumbnail_url:'home_revista_350' }}" alt=""/>
              </a>
            </div>
          </article>

        </div><!-- Popular posts -->

      </div>
    </div>
  {% endif %}

    <div class="widget tagwidget">
      <h3 class="block-title"><span>Municípios</span></h3>
      <ul class="tags-widget">
          {% for blog in blogs %}
        <li><a href="{{ blog.get_absolute_url }}">{{ blog.nome }}</a></li>
          {% endfor %}
      </ul>
    </div>

  </aside>
</div>