<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ noticia.titulo }} - Fotos - Juvenis</title>
    <meta name="description" content="{{ noticia.subtitulo }}" />
    <meta name="keywords" content="{{ noticia.tags }}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Facebook -->
    <meta property="og:title" content="{{ noticia.titulo }} - Juvenis">
    <meta property="og:description" content="Ficou TOP as fotos do {{ noticia.subtitulo }}. Tô no clima.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://juvenis.com.br{{ noticia.get_absolute_url }}" />
    <meta property="og:site_name" content="Juvenis">
    <meta property="og:image" content="http://juvenis.com.br{{ noticia.imagem.url_800x600 }}">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="600">
    <!-- Google Plus -->
    <link href="https://plus.google.com/108260175010004524527" rel="publisher" />

    <meta property="fb:admins" content="545164072246487" />
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}site/img/favicon.png" />
    <link href="{{ STATIC_URL }}site/css/layout-min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}site/css/galeria.css" rel="stylesheet" type="text/css" />


    <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.mousewheel-3.0.6.pack.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.fancybox.pack.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox-thumb").fancybox({
                prevEffect	: 'none',
                nextEffect	: 'none',
                helpers	: {
                    title	: {
                        type: 'inside'
                    },
                    thumbs	: {
                        width	: 50,
                        height	: 50
                    }
                }
            });
        });
    </script>
</head>
<body>
    {% include "header/menu.html" %}