<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ noticia.nome }} - {{ noticia.cidade_uf.nome }} - {{ noticia.categoria_nome.nome }} - Juvenis</title>
    <meta name="description" content="{{ noticia.nome }} endereço, telefone{% if noticia.telefone %}{{ noticia.telefone|truncatechars:13 }}{% endif %}, mapa, cep. Como chegar {{ noticia.nome }} em {{ noticia.cidade_uf.nome }}" />
    <meta name="keywords" content="{{ noticia.nome }} endereço, {{ noticia.nome }} telefone, {{ noticia.nome }} mapa  {{ noticia.cidade_uf.nome }}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Facebook -->
    <meta property="og:title" content="{{ noticia.nome }} - {{ noticia.cidade_uf.nome }} - Juvenis">
    <meta property="og:description" content="{{ noticia.categoria_nome.nome }} - {{ noticia.nome }}. Aqui eu aprovo. Veja telefone, endereço e como chegar.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://juvenis.com.br{{ noticia.get_absolute_url }}" />
    <meta property="og:site_name" content="Juvenis">
    {% if noticia.imagem %}<meta property="og:image" content="http://juvenis.com.br{{ noticia.imagem.url_800x600 }}">{% else %}<meta property="og:image" content="http://juvenis.com.br/static/site/img/juvenis-logo-800-800-likelink.jpg">{% endif %}
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="600">
    <!-- Google Plus -->
    <link href="https://plus.google.com/108260175010004524527" rel="publisher" />

    <meta property="fb:admins" content="545164072246487" />
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}site/img/favicon.png" />
    <link href="{{ STATIC_URL }}site/css/layout-min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHfgeXQte2yIDiimZG7dv2axVFC6dRpv4&sensor=false"></script>

    <script type="text/javascript">
        function initialize(a,b,z,txt) {
            var latlng = new google.maps.LatLng(a,b);
            var myOptions = {
                zoom: z,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            var marker = new google.maps.Marker({
                map: map,
                position: map.getCenter()
            });
            var infowindow = new google.maps.InfoWindow();
            infowindow.setContent('<b>'+txt+'</b>');
            google.maps.event.addListener(marker, 'click', function() {infowindow.open(map, marker);
            });
        }
    </script>

</head>
<body>
{% include "header/menu.html" %}