<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ cantor.nome }} - Letra</title>
    <meta name="description" content="{{ cantor.nome }}. Letras de músicas com músicas para ouvir, vídeos, playlists e traduções." />
    <meta name=pagetype content="letra">
    <meta name="keywords" content="baixar {{ cantor.nome }}, letra {{ cantor.titulo }}, "/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta property="fb:admins" content="545164072246487" />
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}site/img/favicon.png" />
    <link href="{{ STATIC_URL }}site/css/layout-min.css" rel="stylesheet" type="text/css" />
</head>
<body>
{% include "header/menu.html" %}