<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ noticia.evento_noticia.titulo }} - {{ noticia.dataevento|date:"F Y" }} - Juvenis</title>
    <meta name="description" content="{{ noticia.evento_noticia.subtitulo }} - {{ noticia.local.cidade_uf.nome }} - {{ noticia.local.cidade_uf.uf }} {{ noticia.dataevento|date:"F Y" }}" />
    <meta name="keywords" content="{{ noticia.tags }}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Facebook -->
    <meta property="og:title" content="{{ noticia.evento_noticia.titulo }} - Juvenis">
    <meta property="og:description" content="Eu vou {{ noticia.evento_noticia.titulo }}. Tá no clima? Vem comigo.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://juvenis.com.br{{ noticia.evento_noticia.get_absolute_url }}" />
    <meta property="og:site_name" content="Juvenis">
    {% if noticia.evento_noticia.imagem %}<meta property="og:image" content="http://juvenis.com.br{{ noticia.evento_noticia.imagem.url_800x600 }}">{% else %}
    <meta property="og:image" content="http://juvenis.com.br/static/site/img/juvenis-logo.png"/>{% endif %}
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="600">


    <meta property="fb:admins" content="545164072246487" />
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}site/img/favicon.png" />
    <link href="{{ STATIC_URL }}site/css/layout-min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.mousewheel-3.0.6.pack.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.fancybox.pack.js"></script>

    <script type="text/javascript">
		$(document).ready(function() {
			$("a#example8").fancybox({
				'titlePosition'	: 'over'
			});
		});
	</script>
</head>
<body>
    {% include "header/menu.html" %}