<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ noticia.titulo }} - {{ noticia.blog.blog.nome }} - Juvenis</title>
    <meta name="description" content="{{ noticia.subtitulo }} - {{ noticia.blog.blog.nome }}" />
    <meta name="keywords" content="{{ noticia.tags }}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Facebook -->
    <meta property="og:title" content="{{ noticia.titulo }} - {{ noticia.blog.blog.nome }} - Juvenis">
    <meta property="og:description" content="{{ noticia.blog.usuario.get_full_name }} - {{ noticia.subtitulo }} - {{ noticia.blog.blog.nome }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://juvenis.com.br{{ noticia.get_absolute_url }}" />
    <meta property="og:site_name" content="Juvenis">
    {% if noticia.imagem %}
    <meta property="og:image" content="http://juvenis.com.br{{ noticia.imagem.url_800x600 }}">
        {% else %}
    <meta property="og:image" content="http://juvenis.com.br{{ noticia.blog.blog.imagem_capa.url_800x600 }}">
    {% endif %}
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="600">

    <meta property="fb:app_id" content="545164072246487"/>
    {% if noticia.blog.usuario.user_colaborador_set.facebook %}<meta property="fb:admins" content="{{ noticia.blog.usuario.user_colaborador_set.facebook }}"/>{% endif %}
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}site/img/favicon.png" />
    <link href="{{ STATIC_URL }}site/css/layout-min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.mousewheel-3.0.6.pack.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.fancybox.pack.js"></script>

    <script type="text/javascript">
		$(document).ready(function() {
			$("a#example8").fancybox({
				'titlePosition'	: 'over'
			});
		});
	</script>
    {% include 'extras/tynt-js.html' %}
</head>
<body>
    {% include "header/menu.html" %}