<!DOCTYPE html>
<html>
<head>
    <title>Agenda de Eventos, Shows, Congressos, Cultos em {{ cidade.nome }}</title>
    <meta name="description" content="{{ cidade.nome }} - Shows, Eventos, Cultos, Congressos Gospel no estado do {{ cidade.uf.nome }}" />
    <meta name="robots" content="all" />
    <meta name="revisit-after" content="1 days" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{{ STATIC_URL }}site/css/layout-min.css" rel="stylesheet" type="text/css" />
    <!-- Facebook -->
    <meta property="og:title" content="Juvenis - Portal com conteúdo evangélico"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.juvenis.com.br/"/>
    <meta property="og:image" content="http://juvenis.com.br/static/site/img/juvenis-logo.png"/>
    <meta property="og:site_name" content="Juvenis" />
    <meta property="og:description" content="Juvenis é um site cristão com notícias gospel, música gospel, vídeos cristãos, estudos e artigos bíblicos, letras, downloads e humor com conteúdo evangélico."/>
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="600">
    <!-- Google Plus -->
    <link href="https://plus.google.com/108260175010004524527" rel="publisher" />

    <meta property="fb:admins" content="545164072246487" />
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}site/img/favicon.png" />

    <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery-1.9.0.min.js"></script>
</head>
<body>
{% include "header/menu.html" %}
