<div id="principal">
    <div id="topo">
        <div id="logo">
            <a href="/">
                <img src="{{ STATIC_URL }}site/img/juvenis-logo.png" alt="Juvenis">
            </a>
        </div>
        <div id="busca">
            <form class="formSearch relative left" action="busca" method="get">
                <div id="caixa">
                    <input class="tc" type="text" width="14" placeholder="Digite que você procura e tecle enter" name="buscap" />
                </div>
            </form>
        </div>
    </div>
<div id="menu">
    <!--
    <div id="effects">

    </div>-->
    <div id="itemsMenu">
        <a href="/" class="i1">home</a>
        <a href="{% url 'noticias.views.blogs' %}" class="i2">blogs</a>
        <a href="{% url 'noticias.views.ultimas' %}" class="i3">ultimas</a>
        <a href="{% url 'noticias.views.downloads' %}" class="i4">downloads</a>
        <a href="/eventos/" class="i9">eventos</a>
        <a href="/humor/" class="i10">humor</a>
        <a href="/artigos/" class="i6">artigos</a>
        <a href="{% url 'noticias.views.produtos' %}" class="i1Shop">shop</a>
        <a href="/musica/" class="i7">musicas</a>
        <a href="{% url 'noticias.views.galerias' %}" class="i8">fotos</a>
        <a href="/videos/" class="i5">videos</a>
        <a href="{% url 'noticias.views.letras' %}" class="i11">letras</a>
    </div>
</div>