<!DOCTYPE html>
<html>
<head>
    <title>{% block titulo %}{{ noticia.titulo }} - Juvenis{% endblock %}</title>
    <meta name="description" content="{% block subtitulo %}{{ noticia.subtitulo }} - Juvenis{% endblock %}" />
    <meta name="keywords" content="{% for tag in objeto %}{{ tag.tag.nome }}, {% endfor %}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{{ STATIC_URL }}site/css/layout-min.css" rel="stylesheet" type="text/css" />
    <!-- Facebook -->
    <meta property="og:title" content="{{ noticia.titulo }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://juvenis.com.br{{ noticia.get_absolute_url }}" />
    <meta property="og:image" content="http://juvenis.com.br{{ noticia.imagem.url_300x225 }}" />
    <meta property="og:site_name" content="Juvenis" />
    <meta property="fb:app_id" content="178110895590245" />

    <meta property="fb:admins" content="178110895590245"/>
	<link href="{{ noticia.imagem.url_300x225 }}" rel="image_src" />
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}site/img/favicon.png" />

    <meta name="robots" content="all" />
	<meta name="revisit-after" content="1 days" />

    <script src="{{ STATIC_URL }}site/js/jquery.min.js"></script>
    <!-- Script LightBox-->
        <script>
		!window.jQuery && document.write('<script src="{{ STATIC_URL }}site/js/jquery-1.4.3.min.js"><\/script>');
	</script>
	<script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fancybox/jquery.fancybox-1.3.4.css" media="screen" />
	<script type="text/javascript">
		$(document).ready(function() {
			$("a#example8").fancybox({
				'titlePosition'	: 'over'
			});
		});
	</script>
<script type="text/javascript">
if(document.location.protocol=='http:'){
 var Tynt=Tynt||[];Tynt.push('cnsUrGNrWr4Aqaacwqm_6l');Tynt.i={"ap":"Leia mais:","aw":"10"};
 (function(){var s=document.createElement('script');s.async="async";s.type="text/javascript";s.src='http://tcr.tynt.com/ti.js';var h=document.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);})();
}
</script>
</head>
<body>
<div id="principal">
    <div id="topo">
        <div id="logo">
            <a href="/">
                <img src="{{ STATIC_URL }}site/img/juvenis-logo.png" alt="Juvenis">
            </a>
        </div>
        <div id="busca">
            <form class="formSearch relative left" action="busca" method="get">
                <div id="caixa">
                    <input class="tc" type="text" width="14" placeholder="O que você procura" name="buscap" />
                </div>
            </form>
        </div>
    </div>
{% include "header/menu.html" %}