.container {
    width:794px;
    margin:0 auto;
    text-align:center;
}

.recibo-h2 {
    font-weight:normal;
    font-size:26px;
    margin: 1.5em 0;
}

.texto {
    font-size:1.3em;
    text-align:justify;
}

.data {
    font-size:1.3em;
    margin: 2em 0 2em;
}

.assinatura {
    font-size:1.3em;
    border-top:1px solid #000;
    width:360px;
    margin: 0 auto;
    padding:.5em 0;
}

.empresa {
    font-size:1.3em;
    margin:3em 0 1.5em;
}