#galeria {
    margin: auto;
    width: 900px;
    display: block;
    padding-left: 0px;
    float: left;
    margin-bottom: 20px;
}
#galeria .foto-unica {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    width: 170px;
    height: 122px;
}
#galeria img {
    border: 2px solid #FF9C08;
    width: 170px;
    height: 122px;
}
#galeria .gallery-caption {
    margin-left: 0;
}