{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- > meta tegs, funções para o google localizar usando palavras chaves<-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="all" />
<meta name="keywords" content="Brasil, agricultura, produtos
rurais, veterinários, rural, agropecuário, pecuária, produtos veterinários online,
ecommerce rural, loja agropecuária." />

<meta name="description" content="Brasil Agricultura, “aqui você encontra tudo para o
homem do campo: produtos rurais, veterinários, agropecuários e muito mais”." />

<link href="{% static "imgs/favicon.png" %}" rel="shortcut icon" "image/png"/>


<title> Brasil Agricultura – Produtos
para o homem do campo</title>

<link rel="stylesheet" type="text/css" href="{% static "cssbanner/style.css" %}">
<link href= "{% static "CSS/estilos.css" %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{% static "jsbanner/jquery-1.11.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "jsbanner/scripts.js" %}"></script>
<script src="{% static "Scripts/swfobject_modified.js" %}" type="text/javascript"></script>
<style type="text/css">


a:link {
	color: #000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
	color: #000;
}
a:active {
	text-decoration: none;
	color: #000;
}
</style>
</head>


<body>
<div id="container" class="container">

<div id="logotipo" class="logotipo"><img src="{% static "imgs/logotipo.png" %}" width="220" height="160" alt="Brasil Agricultura" /></div>
<div id="menu" class="menu">
<p class="BarraMenu">

<a href="{% url 'core:index' %}"> Home </a>
<a href="{% url 'core:quemsomos' %}"> Quem Somos </a>
<a href="{% url 'core:produtos' %}"> Produtos </a>
<a href="{% url 'core:contatos' %}"> Contato </a>
<a href="{% url 'core:cadastro' %}"> Cadastro </a>
<a href="{% url 'core:clientes' %}"> Clientes </a>
<a href="{% url 'core:extras' %}"> Extras </a>
</p>

 
</div>
     
<div id="imagem" class="imagem">
    <div id="bannerOut">
          <span></span>
          <div id="bannerMaster">   
            <img src="" alt="Deus é justo!" class="visivel"  />
            <img src="" alt="O conhecimento é o segredo para o sucesso" class="escondido"  />
            <img src="" alt="Acredite em você." class="escondido"  />
          </div>  
    </div>
</div>    



<h1>Lista de Clientes</h1>
<hr></hr>
<hr></hr>
<table border="1">
		<tr>
			<th>Nome: </th>
			<th>Endereço:</th>
			<th>Cidade</th>
			<th>Cpf</th>
			<th>Data de nascimento</th>
		</tr>
	{% for c in selectClientes %}
		<tr>
			<td>{{ c.nomeCompleto }}</td>
			<td>{{ c.endereco }}</td>
			<td>{{ c.cidade }}</td>
			<td>{{ c.cpf }}</td>
			<td>{{ c.dataNascimento }}</td>
		</tr>
	{% endfor %}

</div>

</script>
</body>
</html>








