{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ pagamento.fechamento.proposta }} - Recibo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'sistema/css/recibo.css' %}" />
</head>
<body style="font-family:Arial">
<div class="container">
	<img src="{% static 'sistema/img/sitios-piaui.jpg' %}">
	<h2 class="recibo-h2">RECIBO DE PAGAMENTO</h2>
	<p class="texto">
        Recebi
        {% if pagamento.fechamento.proposta.cliente.razao_social %}
        de {{ pagamento.fechamento.proposta.cliente.razao_social|upper }},
        com CNJPJ {{ pagamento.fechamento.proposta.cliente.cnpj }},
        representado por {{ pagamento.fechamento.proposta.cliente.nome_completo|upper }}
        {% else %} de {{ pagamento.fechamento.proposta.cliente.nome_completo|upper }},{% endif %}
        RG {{ pagamento.fechamento.proposta.cliente.rg }},
        CPF {{ pagamento.fechamento.proposta.cliente.cpf }},
        a quantia no valor de R$ {{ pagamento.valor }},
        referente ao pagamento 2 de 2,
        conforme contrato de número {{ pagamento.fechamento.id }}
        da locação do {{ pagamento.fechamento.proposta.imovel.nome|upper }}
        no dia {{ pagamento.fechamento.datainicio|date:"d/m/Y" }}.
	<p class="data">Teresina, {{ pagamento.prazo_recebimento }}</p>
	<p class="assinatura">{% if pagamento.recebimento %}{{ pagamento.recebimento }}{% else %}{{ pagamento.fechamento.proposta.imovel.proprietario.nome }}{% endif %}</p>
	<p class="empresa">Casa Sítio - casasitio.com.br - 86 9 9858 3616</p>

</div>

<hr style="border:none;height:5px;background:#000">

<div style="width:794px;margin:0 auto;text-align:center;padding-top:2em">
	<img src="{% static 'sistema/img/sitios-piaui.jpg' %}">
	<h2 style="font-weight:normal;font-size:26px;margin: 1.5em 0;">RECIBO DE PAGAMENTO</h2>
	<p class="texto">
        Recebi de Silvestre do Carmo de Lima Júnior,
        a quantia no valor de R$ {{ pagamento.repasse }},
        referente ao pagamento 2 de 2,
        conforme contrato de número {{ pagamento.fechamento.id }},
        da locação do {{ pagamento.fechamento.proposta.imovel.nome|upper }}
        no dia {{ pagamento.fechamento.datainicio|date:"d/m/Y" }},
        {% if pagamento.fechamento.proposta.cliente.razao_social %}
        de {{ pagamento.fechamento.proposta.cliente.razao_social|upper }},
        com CNJPJ {{ pagamento.fechamento.proposta.cliente.cnpj }},
        representado por {{ pagamento.fechamento.proposta.cliente.nome_completo|upper }}
        {% else %} de {{ pagamento.fechamento.proposta.cliente.nome_completo|upper }},{% endif %}
        RG {{ pagamento.fechamento.proposta.cliente.rg }},
        CPF {{ pagamento.fechamento.proposta.cliente.cpf }}.
	<p class="data">Teresina, {{ pagamento.prazo_recebimento }}</p>
	<p class="assinatura">{{ pagamento.fechamento.proposta.imovel.proprietario.nome }}</p>
	<p class="empresa">Casa Sítio - casasitio.com.br - 86 9 9858 3616</p>

</div>
</body>
</html>