{% extends 'base.html' %}{% load thumbnail %}{% load strip_paragraph %}
{% block content %}
<!-- Section Home
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <section id="sHome">

        <header class="sHeader">
            <div class="container">
                <div class="hContent">

                    <div class="hLogo"><span>Wellington</span></div>
                    <div class="hMenu menu-button"><span aria-hidden="true" class="icon_menu"></span></div>
                <div class="row">

                    <div class="col-md-12 hDesc nopaddingcol wow fadeInUp">
                        <h2>Portfólio</h2>
                        <p>Orçamentos: 86 9 9992-8455 (WhatsApp) - wellingtoncsousa@gmail.com</p>
                        <p>{% for tipo in tipos_list %}{{ tipo.nome }} {% if not forloop.last %}- {% endif %}{% endfor %}</p>
                    </div>


                </div>




                </div>
            </div>

        </header>

    </section>

<!-- Section Portofolio
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <section id="sFolio">

    <div class="container wow fadeInUp">

    <div id="isotopeGrid" class="mGrid">

        <div class="gutter-sizer"></div>

        {% for port in latest_portifolio %}
        <div class="itemIso item25">

            <a class="image-modal" href="#image-modal{{ port.id }}">
                {% thumbnail port.arte 263x263 crop="0,0" as thumb %}<img src="{{ thumb.url }}" alt="{{ port.nome }}">
                <div class="itemOver">
                    <div class="itemOverP">
                    <h3><span>{{ port.nome }}</span></h3>
                    </div>
                </div>
            </a>

            <div id="image-modal{{ port.id }}" class="mfp-hide modal-box">
                <img src="{{ port.arte|thumbnail_url:'img_portifolio_500' }}" alt="{{ port.nome }}">
                  <div class="modal-box-content">
                    <h4>{{ port.nome }}</h4>
                    <p>{{ port.conteudo|first_par|safe }}</p>

                  </div>
            </div>

        </div>
        {% endfor %}
    </div>

    </div>

    </section>
{% endblock %}