<div class="menu-responsive">

<div class="column">
                                                <div id="dl-menu" class="dl-menuwrapper">
                                                    <button class="dl-trigger">Menu</button>
                                                    <ul class="dl-menu">
                                                            {% for cat in categorias %}
                                                                <li>
                                                                    <a href="#">{{ cat.nome }}</a>
                                                                    <ul class="dl-submenu">
                                                                            {% for c in cat.subcategoria_set.all %}
                                                                            <li>
                                                                                <a href="{{ c.get_absolute_url }}">{{ c.nome }}</a>

                                                                            </li>
                                                                            {% endfor %}
                                                                    </ul>

                                                                </li>

                                                            {% endfor %}


                                                        <!--
                                                        {% for sub in subcategoria %}
                                                            <li>
                                                                <a href="{{ sub.get_absolute_url }}">{{ sub.nome }}</a>

                                                            </li>
                                                        {% endfor %}-->
                                                    </ul>
                                                </div><!-- /dl-menuwrapper -->
                                            </div>
<!--
                        <div class="menu-wrap">
                            <nav class="menu-resp">
                                <div class="icon-list">
                                    {% for categoria in categorias %}
                                        <a href="{{ categoria.get_absolute_url }}">
                                            <i class="fa fa-fw fa-newspaper-o"></i>
                                            <span>{{ categoria.nome }}</span>
                                        </a>
                                    {% endfor %}
                                </div>
                            </nav>
                            <button class="close-button" id="close-button">Close Menu</button>
                            <div class="morph-shape" id="morph-shape" data-morph-open="M-1,0h101c0,0,0-1,0,395c0,404,0,405,0,405H-1V0z">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 800" preserveAspectRatio="none">
                                    <path d="M-1,0h101c0,0-97.833,153.603-97.833,396.167C2.167,627.579,100,800,100,800H-1V0z"/>
                                </svg>
                            </div>
                        </div>
                        <button class="menu-button" id="open-button">Open Menu</button>
                        <script src="{{ STATIC_URL }}site/js/classie.js"></script>
		                <script src="{{ STATIC_URL }}site/js/main3.js"></script>
-->
                    </div>