{% extends 'base.html' %}{% load staticfiles %}{% load strip_paragraph %}{% load thumbnail %}
{% block content %}
<!-- Section Home
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <section id="sHome">

        <header class="sHeader">
            <div class="container">
                <div class="hContent">
                    <div class="hLogo"><span>Wellington</span></div>
                    <div class="hMenu menu-button"><span aria-hidden="true" class="icon_menu"></span></div>
                <div class="row wow fadeInDown">

                    <div class="col-md-8 hDesc nopaddingcol">
                        <h2>Wellington Sousa</h2>
                        <p>{{ latest_config.resumo_inicial }}</p>
                    </div>
                    <div class="col-md-4 hProfile nopaddingcol">
                        <img src="{% static 'assets/images/avatar.jpg' %}" alt="Wellington Sousa">
                    </div>
                </div>
                </div>
            </div>
        </header>
    </section>

<!-- Section Portofolio
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <section id="sFolio">
    <div class="container wow fadeInUp">
        <div class="sTitle"><span>Portfólio</span></div>
    <div id="isotopeGrid" class="mGrid">
        <div class="gutter-sizer"></div>
        {% for port in latest_portifolio %}
        <div class="itemIso item25">
            <a class="image-modal" href="#image-modal{{ port.id }}">
                {% thumbnail port.arte 263x263 crop="0,0" as thumb %}
                <img src="{{ thumb.url }}" alt="{{ port.nome }}">
                <div class="itemOver">
                    <div class="itemOverP">
                    <h3><span>{{ port.nome }}</span></h3>
                    </div>
                </div>
            </a>
            <div id="image-modal{{ port.id }}" class="mfp-hide modal-box">
                {% if device.is_small %}
                    <img src="{{ port.arte|thumbnail_url:'img_portifolio_263' }}" alt="{{ port.nome }}">
                    {% else %}
                    <img src="{{ port.arte|thumbnail_url:'img_portifolio_500' }}" alt="{{ port.nome }}">
                {% endif %}
                  <div class="modal-box-content">
                    <h4>{{ port.nome }}</h4>
                    <p>{{ port.conteudo|first_par|safe }}</p>

                  </div>
            </div>

        </div>
        {% endfor %}
    </div>
    <a href="{% url 'todos-list' %}" class="col-sm-12 text-center butn butn-yell butn-small">Ver portfólio completo</a>
    </div>
    </section>

<!-- Section About
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <section id="sAbout">
        <div class="container wow fadeInUp">

        <div class="sTitle"><span>Sobre mim</span></div>

        <div class="row sACols nopaddingcol">

        <div class="col-md-4 sAStory nopaddingcol">
        <h2>Bio</h2>
        <p>{{ latest_config.historia }}</p>
        </div>

        <div class="col-md-4 sAInfo nopaddingcol">
        <h2>Info's</h2>
        <ul class="infoList nop">
        <li><b>Nome:</b><span>Wellington Sousa</span></li>
        <li><b>Dia da festa:</b><span>25 de Abril</span></li>
        <li><b>Job:</b><span>Desing Gráfico</span></li>
        <li><b>Website:</b><span>wellingtonsousa.com.br</span></li>
        <li><b>E-mail:</b><span>contato@wellingtonsousa.com.br</span></li>
        </ul>
        <a class="butn butn-yell butn-small">Download CV</a>
        </div>

        <div class="col-md-4 sASkills nopaddingcol">
        <h2>Habilidades</h2>
                    {% for habilidade in latest_habilidade %}
                    <h4>{{ habilidade.nome }}</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ habilidade.percentagem }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ habilidade.percentagem }}%;">
                            {{ habilidade.percentagem }}%
                        </div>
                    </div>
                    {% endfor %}
        </div>

        </div>

        </div>

    </section>


    <section id="sBlog">

        <div class="container wow fadeInUp">

        <div class="sTitle"><span>Blog</span></div>

        <div id="blogGrid" class="bGrid">

        <div class="gutter-sizer"></div>
            {% for post in latest_posts %}
            <div class="blog-item item33">
            <a href=""><h3>{{ post.titulo }}</h3></a>
            <div><span>{{ post.data_publicacao|date:"d/m/Y" }}</span></div>
            <p>
            {{ post.subtitulo }}<br>
            <b><a href="{{ post.get_absolute_url }}">Leia mais</a></b>
            </p>
            </div>
            {% endfor %}

        </div>

        </div>

    </section>

<!-- Section Contact
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <section id="sContact">

        <div class="container wow fadeInUp">
        <div class="sTitle"><span>Contato</span></div>

            <div class="row contactRow">

                <div class="contactForm">

                        <!--MESSAGE SENT SUCCESFULLY-->
                        <div id="message"></div>

                     <!--MAIN FORM-->

                    <form method="post" action="assets/contact.php" name="contactform" id="contactform">

                    <fieldset>
                    <div class="nplr">
                    <div class="contactField col-md-4 col-sm-12 col-xs-12 nplr">
                    <input name="name" type="text" id="name" placeholder="Name* :" size="30" value="" />
                    </div>

                    <div class="contactField col-md-4 col-sm-12 col-xs-12 nplr">
                    <input name="email" type="text" id="email" placeholder="E-mail* :" size="30" value="" />
                    </div>

                    <div class="contactField col-md-4 col-sm-12 col-xs-12 nplr">
                    <input name="subject" type="text" id="subject" placeholder="Subject* :" size="30" value="" />
                    </div>
                    </div>

                    <div class="contactField col-md-12 col-sm-12 col-xs-12 nplr">
                    <textarea name="comments" cols="40" rows="5" placeholder="Message* :" id="comments"></textarea>
                    </div>

                    <div class="submitBut col-md-12 col-sm-12 col-xs-12 nplr">
                    <input type="submit" class="submit" id="submit" value="Enviar mensagem" />
                    </div>

                    </fieldset>

                    </form>
                    <!--END Main form-->

                </div>
                    <!-- END contact FORM-->

            </div>

        </div>
{% endblock %}