<!DOCTYPE HTML>{% load staticfiles %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        {% block title %}<title>Vereador Tiago Vasconcelos</title>{% endblock %}
        <meta name="viewport" content="width=device-width">

        <!-- Include All CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'site/css/bootstrap.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'site/css/font-awesome.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'site/css/owl.carousel.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'site/css/owl.theme.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'site/css/preset.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'site/css/jquery.mCustomScrollbar.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'site/css/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'site/css/responsive.css' %}"/>
        <!-- End Include All CSS -->


        <!-- Favicon Icon -->
        <link rel="icon"  type="image/png" href="{% static 'site/images/tiago-ico.png' %}">
        <!-- Favicon Icon -->
        {% block extrahead %}{% endblock %}
        <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
            <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>
    <body class="animat">
        <div id="page">
            <div class="leftMenu">
                <div class="leftmenuHead">
                    <div class="logoleft pull-left">
                        <a href="#"><img src="{% static 'site/images/tiago-2016.png' %}" alt="Tiago Vasconcelos"></a>
                    </div>
                    <a href="#" class="leftclose pull-right">x</a>
                    <div class="clearfix"></div>
                </div>
                <div class="leftmenuScroll">
                    <nav class="leftmainnav">
                        <ul>
                            <li><a href="index.html">home pages</a></li>
                            <li class="has-menu-items"><a href="#">categories</a>
                                <ul class="sub-menu">
                                    <li><a href="blog_category.html">Category</a></li>
                                    <li><a href="archive.html">Archive</a></li>
                                </ul>
                            </li>
                            <li class="has-menu-items"><a href="#">post styles</a>
                                <ul class="sub-menu">
                                    <li><a href="post_sidebar.html">Post Layout</a></li>
                                    <li><a href="post_fullwidth.html">Full Width</a></li>
                                    <li><a href="post_quate_sidebary.html">Quote Layout</a></li>
                                    <li><a href="post_audio_sidebar.html">Audio Layout</a></li>
                                    <li><a href="post_video_sidebar.html">Video Layout</a></li>
                                    <li><a href="gellarypost.html">Gallery Post</a></li>
                                    <li><a href="gellarypost_fullwidth.html">Gallery Full</a></li>
                                </ul>
                            </li>
                            <li class="has-menu-items"><a href="#">blog layouts</a>
                                <ul class="sub-menu">
                                    <li><a href="blog_list.html">Blog List</a></li>
                                    <li><a href="blog_list_fullwiddth.html">List Full</a></li>
                                    <li><a href="blog_grid.html">Blog Grid</a></li>
                                    <li><a href="blog_grid_fullwiddth.html">Grid Full</a></li>
                                    <li><a href="blog_fullwidth.html">FullWidth</a></li>
                                </ul>
                            </li>
                            <li class="has-menu-items"><a href="#">contact</a>
                                <ul class="sub-menu">
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="contact_map.html">Contact Map</a></li>
                                    <li><a href="contact_mapfull.html">Contact Full</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="socialleft">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <!--Header Top Start -->
            <section class="headerTop">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-xs-2">
                            <div class="menuBar" id="leftTrigger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xs-8 text-center">
                            <div class="logo">
                                <a href="index.html"><img src="{% static 'site/images/tiago-2016.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xs-2 text-right">
                            <div class="search">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                                <form action="#" method="post" class="searchForm">
                                    <input type="search" placeholder="Search...">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Header Top End -->
            <!--Header Start-->
            <header class="header">
                <div class="container">
                    <div class="headerIn">
                        <div class="row">
                            <div class="col-lg-8 col-sm-9 col-xs-12 pull-left noPaddingRight">
                                <nav class="mainNav">
                                    <div class="menuBar hidden-lg hidden-md">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <ul>
                                        <li class="has-menu-items"><a href="index.html">home</a></li>
                                        <li class="has-menu-items"><a href="#">Mega menu</a>
                                            <div class="row megaitem">
                                                <div class="mega-menu">
                                                    <div class="col-lg-3 col-sm-6">
                                                        <div class="megaImg">
                                                            <a href="#"><img src="{% static 'site/images/blog/1.jpg' %}" alt=""></a>
                                                        </div>
                                                        <h2 class="megaTitle">
                                                            <a href="#">Drops of rain could heard hitting the pane which made</a>
                                                        </h2>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6">
                                                        <div class="megaImg">
                                                            <a href="#"><img src="{% static 'site/images/blog/2.jpg' %}" alt=""></a>
                                                        </div>
                                                        <h2 class="megaTitle">
                                                            <a href="#">And it's a funny sort of business up there at your desk</a>
                                                        </h2>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6">
                                                        <div class="megaImg">
                                                            <a href="#"><img src="{% static 'site/images/blog/3.jpg' %}" alt=""></a>
                                                        </div>
                                                        <h2 class="megaTitle">
                                                            <a href="#">It was half past six and the hands were quietly moving forwards</a>
                                                        </h2>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6">
                                                        <div class="megaImg">
                                                            <a href="#"><img src="{% static 'site/images/blog/1.jpg' %}" alt=""></a>
                                                        </div>
                                                        <h2 class="megaTitle">
                                                            <a href="#">Drops of rain could heard hitting the pane which made</a>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="has-menu-items"><a href="javascript:void('0')">categories</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog_category.html">Category</a></li>
                                                <li><a href="archive.html">Archive</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-menu-items"><a href="javascript:void('0')">post styles</a>
                                            <ul class="sub-menu">
                                                <li><a href="post_sidebar.html">Post Layout</a></li>
                                                <li><a href="post_fullwidth.html">Full Width</a></li>
                                                <li><a href="post_quate_sidebary.html">Quote Layout</a></li>
                                                <li><a href="post_audio_sidebar.html">Audio Layout</a></li>
                                                <li><a href="post_video_sidebar.html">Video Layout</a></li>
                                                <li><a href="gellarypost.html">Gallery Post</a></li>
                                                <li><a href="gellarypost_fullwidth.html">Gallery Full</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-menu-items"><a href="javascript:void('0')">blog layouts</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog_list.html">Blog List</a></li>
                                                <li><a href="blog_list_fullwiddth.html">List Full</a></li>
                                                <li><a href="blog_grid.html">Blog Grid</a></li>
                                                <li><a href="blog_grid_fullwiddth.html">Grid Full</a></li>
                                                <li><a href="blog_fullwidth.html">FullWidth</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-menu-items"><a href="javascript:void('0')">pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="archive.html">Archive</a></li>
                                                <li><a href="about_me.html">About Me</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-menu-items"><a href="javascript:void('0')">contact</a>
                                            <ul class="sub-menu">
                                                <li><a href="contact.html">Contact us</a></li>
                                                <li><a href="contact_map.html">Contact Map</a></li>
                                                <li><a href="contact_mapfull.html">Contact Full</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-lg-4 col-sm-3 col-xs-8 pull-right text-right">
                                <div class="socialHeader">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!--Header End-->
            {% block container %}
            {% endblock %}
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3 text-center">
                            <div class="footLogo">
                                <a href="#">
                                    <img src="{% static 'site/images/logo-tiago-2016-182.png' %}" alt="Tiago Vasconcelos">
                                </a>
                            </div>
                            <p class="copyrightText">Site pessoal de Tiago Vasconcelos<br> <span>Copyright © 2016 Tiago Vasconcelos. Todos os direitos reservados</span></p>
                            <div class="footSocial">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- Include All JS -->
        <script type="text/javascript" src="{% static 'site/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'site/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'site/js/owl.carousel.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script type="text/javascript" src="{% static 'site/js/gmaps.js' %}"></script>
        <script type="text/javascript" src="{% static 'site/js/jquery.mCustomScrollbar.js' %}"></script>
        <script type="text/javascript" src="{% static 'site/js/theme.js' %}"></script>
        {% include 'portal/extra/analitycs.html' %}
    </body>
</html>